<div id='allList' class="lsts_names">

</div>

<div class="lsts_lists1">
    <hr>
</div>

<div id="listFilms" class="lsts_lists">

</div>

<div style="margin-top: 200px;" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div style="padding: 10px;" class="modal-content" id="comm_popup">

    </div>
  </div>
</div>




<script type="text/javascript">

   loadList('<%-blocks.nickname%>',addLists);//здесь указывается никнейм юзера, и коллбек, который вызывается после обработки функции

   function addLists(JSONLists){

        var code='';
        code+='<div id="lsts_names">'+
                '<form>' +
                '<div id="select_lists">' +

                '<select name="lists" id="slctnm" class="ui dropdown" onchange="if (this.value) window.location.href=this.value">';
        for(var i=0;i<JSONLists.length;i++){
          code+='<option value="/allList?username=<%-blocks.nickname%>&listID='+i+'">'+JSONLists[i]+'</option>';
        }
        
                 code+='</select>'+
                        '</div>' +
                        '<hr>'+
                        <% try {%>
                        <% if(user.nickname==blocks.nickname.html[0]){ %>
                        '<div id="changeBtn">' +
                        '<button onclick=changeName("<%-blocks.nickname%>",this.form.lists.options[this.form.lists.selectedIndex]) type="button" class="btn btn-default btn-sm" data-placement="bottom" id="btn_settings">'+
                        'Rename/Delete'+
                        '</button>' +
                        '<button onclick=newList("'+JSONLists.length+'") type="button" class="btn btn-default btn-sm" data-placement="bottom" id="btn_settings">'+
                        'Add new'+
                        '</button>' +
                        '</div>'+
                        <% } %>
                        <%}catch(e){console.log(e.message)}%>
                        '</form>' +
                        '</div>' +
                        '<div id="allList1">' +
                        '</div>';
                
                       
        document.getElementById('allList').innerHTML=code;

        var element = document.getElementById('slctnm');
        element.value = '/allList?username=<%-blocks.nickname%>&listID='+receiveListID().listID;

        loadFilm('<%-blocks.nickname%>', '<%-blocks.listID%>', newFilmCode, 0, 15);
        $(document).ready(function() {
          $('#slctnm').dropdown();
        });

    }

    function receiveListID() {
      var query_string = {};
      var query = window.location.search.substring(1);
      var vars = query.split("&");
      for (var i=0;i<vars.length;i++) {
        var pair = vars[i].split("=");
        // If first entry with this name
        if (typeof query_string[pair[0]] === "undefined") {
          query_string[pair[0]] = pair[1];
            // If second entry with this name
        } else if (typeof query_string[pair[0]] === "string") {
          var arr = [ query_string[pair[0]], pair[1] ];
          query_string[pair[0]] = arr;
            // If third or later entry with this name
        } else {
          query_string[pair[0]].push(pair[1]);
        }
      } 
      return query_string;
    }

   function cancel() {
   		document.getElementById('lsts_names1').className = "changeblock";
   		document.getElementById('lsts_names').className = "";
       //loadList('<%-blocks.nickname%>',addLists);
   }

   function changeName(userID, listID) {
   	   document.getElementById('lsts_names').className = "changeblock";
   	   var code='';
       code+='<div id="lsts_names1">'+
       		 '<form action="javascript:sendName()">' +
       		 '<div>' +
       		 //'<input autofocus id="newNameIn" name="nName" class="form-control" value="'+listID.text+'" maxlength="20"></input>' +
           '<input autofocus id="newNameIn" name="nName" class="form-control" value="'+listID.text+'" maxlength="20"></input>' +
       		 '<button onclick=removeList("<%-blocks.nickname%>","'+receiveListID().listID+'") type="button" class="btn btn-default btn-xs del-lst-btn" data-container="body" data-placement="bottom" id="btn_del">'+
       		 'Delete list'+
       		 '</button>' +
       		 '</div>';
        code += '<hr>';
        code += '<div id="changeBtn">' +
        		'<button onclick=saveNewName("'+userID.value+'","'+receiveListID().listID+'",this.form.nName.value) type="button" class="btn btn-default btn-sm" data-placement="bottom" id="btn_settings">Submit</button>' +
        		'<button onclick=cancel() type="button" class="btn btn-default btn-sm" data-placement="bottom" id="btn_settings">Cancel</button>' +
        		'</form>' +
        		'</div>' +
        		'</div>';
   	   document.getElementById('allList1').innerHTML = code;


       /*var code = '';
       code += '<form>' +
               '<input autofocus id="newNameIn" name="nName" class="form-control" value="'+listID.text+'" maxlength="20"></input>';
       code += '<button onclick=removeList("'+listID.value+'") type="button" class="btn btn-default btn-xs del-lst-btn" data-container="body" data-placement="bottom" id="btn_del">'+
               'Delete list'+
               '</button>'
       document.getElementById('select_lists').innerHTML=code;
       
       var newcode = '';
       newcode += '<button onclick=saveNewName("'+userID.value+'","'+listID.value+'",this.form.nName.value) type="button" class="btn btn-default btn-sm" data-placement="bottom" id="btn_settings">Submit</button>' +
               '<button onclick=cancel() type="button" class="btn btn-default btn-sm" data-placement="bottom" id="btn_settings">Cancel</button>' +
               '</form>';
       document.getElementById('changeBtn').innerHTML=newcode;*/
   }

   function sendName() {
   }


   function saveNewName(userID, listID, newName) {
       newName = escapeHtml(newName);
       //var newName = document.getElementById("newNameIn").value;
       var xmlhttp = new XMLHttpRequest();
       xmlhttp.open("GET", "renameList/?indexList="+encodeURIComponent(listID)+"&title="+encodeURIComponent(newName), true);
       xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
       xmlhttp.send(null);
       xmlhttp.onreadystatechange=function()
       {
           if (xmlhttp.readyState==4 && xmlhttp.status==200)
           {
               loadList('<%-blocks.nickname%>',addLists);
           }
       }
   }

   function newList(listID) {
        var userID = '<%-blocks.nickname%>';
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/addList?userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
              loadList('<%-blocks.nickname%>',addLists);
              //var listID = receiveListID().listID;
              //console.log(listID);
              window.location.href = '/allList?username='+userID+'&listID='+listID;
            }
        }
    }


   function removeList(userID, indexList) {
       console.log(userID);
       console.log(indexList);
       var xmlhttp = new XMLHttpRequest();
       xmlhttp.open("GET", "/removeList?userID="+encodeURIComponent(userID)+"&indexList="+encodeURIComponent(indexList), true);
       xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
       xmlhttp.send(null);
       xmlhttp.onreadystatechange=function()
       {
           if (xmlhttp.readyState==4 && xmlhttp.status==200)
           {
            console.log("eron don don mazafaka");
              if (indexList > 0) {
                window.location.href = '/allList?username='+userID+'&listID='+(indexList-1);
              } else {
                indexList++;
                window.location.href = '/allList?username='+userID+'&listID='+(indexList);
              }
           }
       }
   }
   function loadTmpFilm(userID,listID,start_point,end_point) {
       loadFilm(userID, listID, newFilmCode, start_point, end_point);
   }

   function newFilmCode(userID, listID, JSONFilms, start_point, end_point) {

   	   start_point = parseInt(start_point);
   	   end_point = parseInt(end_point);
       var code = '';
       if (JSONFilms.length === 0) {
        code += '<div class="centr"><h3>There is no movies in this list</h3></div>';
       }
       var posterImg='';
       for(var i=0;i<JSONFilms.length;i++){
           if(JSONFilms[i].PosterOur!="A")
               posterImg=JSONFilms[i].PosterOur;
           else
               posterImg = "noPoster.jpg";
           code += '<div class="lsts_film_container">'+
                   '<div class = "film_in_news1">'+
                   '<img class = "film_poster_in_news1" src="/posters/'+posterImg+'" alt = "" />'+
                   '</div>'+
                   '<div class="actions">'+
                   '<a class="lsts_film_name1" href="/films/'+JSONFilms[i].imdbID+'">'+JSONFilms[i].Title+'</a>'+
                   '<div class="as_film_descr">'+
                   '<div>Year: '+JSONFilms[i].Year+'</div>' +
                   '<div class="genre_limit">'+'Genre: '+JSONFilms[i].Genre+'</div>'+
                   '<div class="genre_limit">'+'Country: '+JSONFilms[i].Country+'</div>';
                   showComment(userID,JSONFilms[i].imdbID,listID,(start_point+i));
           code += '<div id="comm_id_'+(start_point+i)+'"></div>';
                   //'<img style="width: 15px;" src="/icons/com.svg" />';
           code += '</div>'+
                   '</div>';
           <% try {%>
           <% if(user.nickname==blocks.nickname.html[0]){ %>
           code += '<div class="close_div1"><a onclick=removeFilm(this,"'+userID+'","'+listID+'","'+JSONFilms[i].imdbID+'")>X</a></div>';
           <% } %>
           <%}catch(e){console.log(e.message)}%>
           code += '</div>';
       }

       if (JSONFilms.length === 15) {
          start_point += JSONFilms.length;
          end_point += JSONFilms.length;

          code += '<div id="more_btn"><button id="morebtn0" class="btn btn-default btn-sm" type="button" onclick=loadTmpFilm("'+userID+'","'+listID+'","'+start_point+'","'+end_point+'")>Show more</button></div>';
          if (start_point === 15) {
          	document.getElementById('listFilms').innerHTML = code;
          } else {
          	//document.getElementById('listFilms').innerHTML += code;
            document.getElementById('listFilms').insertAdjacentHTML("beforeend", code);
          }
       } else {
       	if (start_point === 0) {
          	document.getElementById('listFilms').innerHTML = code;
        } else {
          	//document.getElementById('listFilms').innerHTML += code;
            document.getElementById('listFilms').insertAdjacentHTML("beforeend", code);
        }
       }
       
   }

   function removeFilm(el,userID,idList,idFilm) {
       //document.getElementById('user_lists').innerHTML=code;
       var obj1 = el.parentNode;
       var obj2 = obj1.parentNode;


       var xmlhttp = new XMLHttpRequest();
       xmlhttp.open("GET", "/removeFilm?userID="+encodeURIComponent(userID)+"&idList="+encodeURIComponent(idList)+"&idFilm="+encodeURIComponent(idFilm), true);
       xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
       xmlhttp.send(null);
       xmlhttp.onreadystatechange=function()
       {
           if (xmlhttp.readyState==4 && xmlhttp.status==200)
           {
               obj2.className = obj2.className + " deletedMovie";
               obj1.innerHTML = "";
           }
       }
   }

   function loadFilmEvent(listID){
       loadFilm('<%-blocks.nickname%>',listID,newFilmCode,0,15);
       //console.log(document.getElementById("listsSelect").options[document.getElementById("listsSelect").selectedIndex].value);
   }
   function loadFilm(userID,listID,callback,start_point,end_point){
       if (start_point > 0) {
           //document.getElementById('more_btn').remove();
           document.getElementById('more_btn').outerHTML = '';
       }
       var xmlhttp = new XMLHttpRequest();
       xmlhttp.open("GET", "/getListFilms?userID="+encodeURIComponent(userID)+"&listID="+encodeURIComponent(listID)+"&from="+encodeURIComponent(start_point)+"&to="+encodeURIComponent(end_point), true);
       xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
       xmlhttp.send(null);
       xmlhttp.onreadystatechange = function()
       {
           if (xmlhttp.readyState==4 && xmlhttp.status==200)
           {
               try{
                   var films=JSON.parse(xmlhttp.responseText);
                   //console.log(films);
                   callback(userID, listID, films.films, start_point, end_point);
               }catch(e){
                   console.log(e.message);
               }

           }
       }
   }

   function loadList(userID,callback){
       var xmlhttp = new XMLHttpRequest();
       xmlhttp.open("GET", "/getListsName?userID="+encodeURIComponent(userID), true);
       xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
       xmlhttp.send(null);
       xmlhttp.onreadystatechange=function()
       {
           if (xmlhttp.readyState==4 && xmlhttp.status==200)
           {
               try{
                   var lists=JSON.parse(xmlhttp.responseText);
                   callback(lists);
               }catch(e){
                   console.log(e.message);
               }

           }
       }
   }

   function showComment(userID, filmID, listID, i){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getComment?userID="+encodeURIComponent(userID)+"&filmID="+encodeURIComponent(filmID)+"&listID="+encodeURIComponent(listID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
              try{
                var comment = xmlhttp.responseText;
                if (comment !== "") {
                  var code = '';
                  //code += '<a href="">';
                  code += '<i onclick=commentDisp("'+userID+'","'+filmID+'","'+listID+'"); data-toggle="modal" data-target=".bs-example-modal-sm" class="fa fa-comment-o alllst_comm"></i>';
                  //code += '<img onclick=commentDisp("'+userID+'","'+filmID+'","'+listID+'"); data-toggle="modal" data-target=".bs-example-modal-sm" style="cursor: pointer; width: 15px;" src="/icons/com.svg" />'
                  //code += '</a>'
                  document.getElementById("comm_id_"+i).innerHTML = code;
                  /*document.getElementById('you_rec').addEventListener('click', function() {
                  }*/
                  //document.getElementById("comm_popup").innerHTML = comment;
                }
              }catch(e){
                console.log(e.message);
              }
                
            }
        }
    }

    function commentDisp(userID, filmID, listID){
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("GET", "/getComment?userID="+encodeURIComponent(userID)+"&filmID="+encodeURIComponent(filmID)+"&listID="+encodeURIComponent(listID), true);
      xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xmlhttp.send(null);
      xmlhttp.onreadystatechange=function()
      {
          if (xmlhttp.readyState==4 && xmlhttp.status==200)
          {
            try{
              var code = '';
              var comment = xmlhttp.responseText;
              code += '<div class="modal-header">' +
                      '<button type="button" class="close" data-dismiss="modal"></button>' +
                      '<h4 class="modal-title">Comment to the movie</h4>' +
                      '</div>' +
                      '<div class="modal-body">' +
                      '<p>'+escapeHtml(comment)+'</p>'+
                      '</div>';
              //code += '<h5>Comment to the movie:</h5>';
              //code += escapeHtml(comment);
              document.getElementById("comm_popup").innerHTML = code;
            }catch(e){
              console.log(e.message);
            }
              
          }
      }
    }

    function escapeHtml(text) {
      return text
          .replace(/&/g, "&amp;")
          .replace(/</g, "&lt;")
          .replace(/>/g, "&gt;")
          .replace(/"/g, "&quot;")
          .replace(/'/g, "&#039;");
    }

</script>