    <script type="text/javascript">

        mainUser = new Object();
        mainUser.avatar = "sm_2347672_1392488028.jpg";

        list = new Array();
        for (var i = 0; i < 5; i++) {
            list[i] = "List"+i;
        }
        filmID = "Bob";

        genre = "Biography/Drama/War";
        country = "USA/Germany";
        cast = "Джордж Клуни, Мэтт Дэймон, Билл Мюррей, Джон Гудман, Жан Дюжарден, Боб Бэлабан, Хью Бонневилль, Кейт Бланшетт, Димитрий Леонидас, Юстус фон Донаньи";
        director = "George Clooney";
        premiere = "4 February 2014 (USA)";

        function mainCode(){
            var code = '';
            code += '<p><h3>The Monuments Men</h3></p>' +
                    '<div id = "left_post_side">' +
                    '<div id = "mainPoster">' +
                    '<img src = "photos/kinopoisk.ru-The-Monuments-Men-2228833.jpg" />' +
                    '</div>' +
                    '<a href="http://www.imdb.com/title/tt2177771/?ref_=plg_rt_1" target="_blank">IMDb</a>: ' +
                    '<span class="imdbRatingPlugin" data-user="ur52279440" data-title="tt2177771" data-style="p4"></span><br>'+
                    '<b>Premiere: </b>' + premiere + '<br>' +
                    '<b>DVD release: </b>18 August 2014' +
                    '</div>' +

                    '<div id="mainDesc">' +
                    '<h4><span class="year_film_pg">2014</span><span class="year_film_pg">&bull;</span><span class="year_film_pg">'+country+'</span><span class="year_film_pg">&bull;</span><span class="year_film_pg">'+genre+'</span></h4>'+
                    '<hr>' +
                    '<div id="">' +
                    //НА БУДУЩЕЕ
                    //'Exists in lists: <a href="#">The lst1</a>, <a href="#">The list 2</a>' +
                    '<div class="ava_block">' +
                    '<img class = "ava_img2" src = "photos/' + mainUser.avatar + '" />' +
                    '</div>' +
                    '<div class="ava_block ava_ttt">' +
                    '<textarea readonly type="name" class="form-control" id="comment_add_film" placeholder="Add comment to this movie..." maxlength="256" ></textarea>' +
                    '</div>' +
                    '<div id="other_desc">' +
                    '</div>' +
                    '</div>' +
                    '<hr>' +
                    '<b>Actors</b>: '+cast+ '<br>' +
                    '<b>Director</b>: '+director+'<br>' +
                    '<hr>' +
                    '<h4>Overview:</h4>' +
                    'Based on the true story of the greatest treasure hunt in history, The Monuments Men is an action drama focusing on seven over-the-hill, out-of-shape museum directors, artists, architects, curators, and art historians who went to the front lines of WWII to rescue the world’s artistic masterpieces from Nazi thieves and return them to their rightful owners. With the art hidden behind enemy lines, how could these guys hope to succeed? But as the Monuments Men found themselves in a race against time to avoid the destruction of 1000 years of culture, they would risk their lives to protect and defend mankind’s greatest achievements. From director George Clooney, the film stars George Clooney, Matt Damon, Bill Murray, John Goodman, Jean Dujardin, Bob Balaban, Hugh Bonneville, and Cate Blanchett. The screenplay is by George Clooney & Grant Heslov, based on the book by Robert M. Edsel with Bret Witter. Produced by Grant Heslov and George Clooney.' +
                    '</div>' +
                    '<div id="overview">' +
                    '</div>';
            (function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.src="http://g-ec2.images-amazon.com/images/G/01/imdb/plugins/rating/js/rating.min.js";stags.parentNode.insertBefore(js,stags);})(document,"script","imdb-rating-api");
            document.getElementById('movie_block').innerHTML = code;
            addList();
        }

        function addList() {
            var code = '';
            code += '<div>' +
                    '<div>' +
                    '<div id="exist_lsts">' +
                    '</div>' +
                    '<form>' +
                    '<div id="slct_lsts"></div>' +
                    '</form>' +
                    '<div id="slct_lsts_status"></div>' +
                    '</div>' +
                    '</div>';
            document.getElementById('other_desc').innerHTML += code;
            //Добавить ниже userID в первый аргумент
            loadList("", createListCode, selectLists);
        }

        function selectLists(codeList) {
            var code = '';
            code += '<select class="form-control input-sm select_length3" id="listsSelect">' +
                    codeList +
                    '</select>' +
                    '<button id="listsSelectButton" onclick=addFilm(document.getElementById("listsSelect").options[document.getElementById("listsSelect").selectedIndex].value,this,"'+filmID+'") type="button" class="btn btn-default btn-sm btn_hei" rel="popover_movie_search" data-original-title title>' +
                    'Add to the list' +
                    '</button>';
            document.getElementById('slct_lsts').innerHTML = code;
        }

        function createListCode(JSONLists){
            var code = '';
            for(var i = 0; i < JSONLists.length; i++){
                code += '<option value="'+i+'">'+JSONLists[i]+'</option>';
            }
            return code;
        }


        function loadList(userID, callback, callback2){
            var codeList='';
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/getListsName?userID="+encodeURIComponent(userID), true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlhttp.send(null);
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    try{
                        var list = JSON.parse(xmlhttp.responseText);
                        codeList = callback(list);
                        callback2(codeList);
                    }catch(e){
                        console.log(e.message);
                    }

                }
            }
        }

        function addFilm(idList, objButton, idFilm){
            document.getElementById('slct_lsts_status').innerHTML = 'Wait...';
            objButton.className += " disabled";
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/addFilm?idList="+encodeURIComponent(idList)+"&idFilm="+encodeURIComponent(idFilm), true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlhttp.send(null);
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    document.getElementById('slct_lsts_status').innerHTML = 'Added!';
                }
            }
        }


        mainCode();
    </script>