<!-- listsBlock.ejs -->
<div class="lists_lst">

    
    <hr>

    <center><h4>Lists<h4></center>
    <div id="lists">
        <div class="accordionItem">
            <h4><a class="list-group-item link_block">The List 1 <span class="badge">0</span></a></h4>
            <div class="inacc">

            </div>
        </div>

        <div class="accordionItem">
            <h4><a class="list-group-item link_block">The List 2 <span class="badge">0</span></a></h4>
            <div class="inacc">

            </div>
        </div>
        <div class="accordionItem">
            <h4><a class="list-group-item link_block">The List 3 <span class="badge">0</span></a></h4>
            <div class="inacc">

            </div>
        </div>
        <div class="accordionItem">
            <h4><a class="list-group-item link_block">The List 4 <span class="badge">0</span></a></h4>
            <div class="inacc">

            </div>
        </div>
    </div>
    <table id = "up_lists">
        <tr>       
            <% try {%>
            <% if(user.nickname==blocks.nickname.html[0]){ %>
            <td>
            <h4><a onclick="addList()" class = "list1 add_m_lsts"><i class="fa fa-plus"></i> Add List</a></h4>
            </td>
            <td>
            <h4><a class = "list1" id = "allList"><i class="fa fa-list-ul"></i> Manage Lists</a></h4>
            </td>
            <% } else { %>
            <td>
            <h4 class="viv_al_lsts"><a class = "list1" id = "allList"><i class="fa fa-list-ul"></i> View all lists</a></h4>
            </td>
            <% } %>
            <%}catch(e){console.log(e.message)}%>
            <% if(user){ %>
            <% } else { %>
                <td>
                    <h4 class="viv_al_lsts"><a class = "list1" id = "allList"><i class="fa fa-list-ul"></i> View all lists</a></h4>
                </td>
            <% }%>
        </tr>
    </table>
</div>
<!-- /listsBlock.ejs -->
<script type="text/javascript">
    loadList('<%-blocks.nickname%>',addLists1);

    function addList(){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/addList", true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                //loadList('<%-blocks.nickname%>',addLists1);
                loadList('<%-blocks.nickname%>',newListWindow);
                //newListWindow();
            }
        }
    }

    function newListWindow(lists) {
    	var listID = lists.length - 1;
    	var listName = lists[listID];
    	var userID = '<%-blocks.nickname%>';
        var code = '';
        code += '<div id="light" class="white_content">' +
                //'<a href="javascript:void(0)" onclick="closeListWindow()">Close</a><br>' +
                '<div id="window_title"><b>Creating New List</b></div>' +
                '<hr>' +
                '<div class="centered"><br>Give a name to the list:<br></div>' +
                '<form>' +
                '<input autofocus id="newLstCrt" name="nName" class="form-control" value="'+listName+'" maxlength="20"></input>' +
                '<div id="new_lst_btns_dv"><button onclick=saveNewName("'+listID+'",this.form.nName.value) type="button" class="btn btn-default btn-sm super_btn" data-placement="bottom" id="btn_settings">Submit</button>' +
        		'<button onclick=removeList("'+userID+'","'+listID+'") type="button" class="btn btn-default btn-sm super_btn" data-placement="bottom" id="btn_settings">Cancel</button></div>' +
        		'</form>' +
                '</div>' +
                '<div onclick=removeList("'+userID+'","'+listID+'") id="fade" class="black_overlay"></div>';
        //code += '<div class="new_lst_win">lolo</div>';
        //<div id="light" class="white_content">This is the lightbox content. <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a></div>
        document.getElementById("main").innerHTML += code;
    }

    function removeList(userID, indexList) {
       var xmlhttp = new XMLHttpRequest();
       xmlhttp.open("GET", "/removeList?userID="+encodeURIComponent(userID)+"&indexList="+encodeURIComponent(indexList), true);
       xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
       xmlhttp.send(null);
       xmlhttp.onreadystatechange=function()
       {
           if (xmlhttp.readyState==4 && xmlhttp.status==200)
           {
           		document.getElementById('light').outerHTML = "";
        		document.getElementById('fade').outerHTML = "";
           }
       }
   }

    function saveNewName(listID, newName) {
       newName = escapeHtml(newName);
       //var newName = document.getElementById("newNameIn").value;
       var xmlhttp = new XMLHttpRequest();
       xmlhttp.open("GET", "renameList/?indexList="+encodeURIComponent(listID)+"&title="+encodeURIComponent(newName), true);
       xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
       xmlhttp.send(null);
       xmlhttp.onreadystatechange=function()
       {
           if (xmlhttp.readyState==4 && xmlhttp.status==200)
           {
               //loadList('<%-blocks.nickname%>',addLists);
               loadList('<%-blocks.nickname%>',addLists1);
               var code = '';
               code += '<div id="window_title"><b>Creating New List</b></div>' +
               		   '<hr>' +
               		   '<div id="newLst_wndw_created">' +
               		   '<h3><a href="/allList?username=<%-blocks.nickname%>&listID='+listID+'">' + newName + '</a></h3>' +
               		   'has been created<br>' +
               		   '<form action="/searchPage">' +
               		   '<input autofocus id="newLstCrt" name="searchText" class="form-control window_search_field" placeholder="Search a movie..." maxlength="20"></input><button type="submit" id="search_btn" class="btn btn-primary">Search</button>' +
               		   '</form>' +
               		   '<div class="buttons_n_w">' +
               		   '<a href="/movies" class="btn btn-default">Discover movies</a>' +
               		   //'<a href="/allList?username=<%-blocks.nickname%>&listID='+listID+'" class="btn btn-default">Manage your list</a>' +
               		   '<a href="javascript:void(0)" onclick="closeListWindow()" class="btn btn-default">Return to your page</a>' +
               		   '</div>' +
               		   '</div>';
               document.getElementById('light').innerHTML = code;
               document.getElementById('fade').onclick = function() {
                closeListWindow();
               }
           }
       }
   }

    function closeListWindow() {
        document.getElementById('light').outerHTML = "";
        document.getElementById('fade').outerHTML = "";
    }

    function addLists1(JSONLists) {
        var code = "";
        var posterImg = '';
        for (var i = 0; i < JSONLists.length; i++) {
            code += '<div class="accordionItem">' +
            '<h4><a class="list-group-item link_block">' + escapeHtml(JSONLists[i]) + '<span id="badge_'+i+'" class="badge"></span></a></h4>' +
            '<div class="inacc">' +
            '</div>' +
            '</div>';
            loadFilmNumber('<%-blocks.nickname%>',i);
            loadFilms('<%-blocks.nickname%>', i, showFilm, 0, 10);
        }
        document.getElementById('lists').innerHTML=code;
        init();
    }

    function showFilm(userID, listID, films, start_point, end_point) {
        start_point = parseInt(start_point);
        end_point = parseInt(end_point);
        var code = '';
        for (var j = 0; j < films.length; j++) {
                if (films[j].PosterOur != "A") {
                    posterImg = films[j].PosterOur;
                } else {
                    posterImg="noPoster.jpg";
                }
                code += '<div class = "one_film">' +
                        '<div class="lsts_film_container1">' +
                        '<div class="film_in_news2">' +
                        '<a href="/films/'+films[j].imdbID+'"><img class = "film_poster_in_news3" alt = "' + films[j].Title + '" src = "/posters/' + posterImg + '"/></a>' +
                        '</div>' +
                        '<div class="actions1">' +
                        '<a href="/films/'+films[j].imdbID+'" class = "one_film_name1">' + escapeHtml(films[j].Title) + ' (' + escapeHtml(films[j].Year) + ')</a>' +
                        '<div class="as_film_descr1">' +
                        '<div class="genre_limit">Genre: ' + escapeHtml(films[j].Genre) + '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>';
                <% try {%>
                <% if(user.nickname==blocks.nickname.html[0]){ %>
                code += '<div class="close_div"><a onclick=removeFilm(this,'+listID+',"'+films[j].imdbID+'")>X</a></div>';
                <% } %>
                <%}catch(e){console.log(e.message)}%>
                code += '</div>';

            }
            var gap = end_point - start_point;
            if (films.length === gap) {
                if (films.length !== 0) {
                    
                    code += '<div id="more_btn_'+listID+'" class="more_btn"><button class="btn btn-default btn-sm" type="button" onclick=loadTmpFilm("'+userID+'","'+listID+'","'+(start_point + gap)+'","'+(end_point + gap)+'")>Show more</button></div>';
                }
            }
            document.getElementsByClassName('inacc')[listID].insertAdjacentHTML('beforeend', code);
    }

    function loadTmpFilm(userID,listID,start_point,end_point) {
        document.getElementById('more_btn_'+listID).outerHTML = '';
        loadFilms(userID, listID, showFilm, start_point, end_point);
    }

    function loadFilms(userID,listID,callback,start_point,end_point){
       if (start_point > 0) {
           //document.getElementById('more_btn').outerHTML = '';
       }
       var xmlhttp = new XMLHttpRequest();
       xmlhttp.open("GET", "/getListFilms?userID="+encodeURIComponent(userID)+"&listID="+encodeURIComponent(listID)+"&from="+encodeURIComponent(start_point)+"&to="+encodeURIComponent(end_point), true);
       xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
       xmlhttp.send(null);
       xmlhttp.onreadystatechange = function()
       {
           if (xmlhttp.readyState==4 && xmlhttp.status==200)
           {
               try{
                   var films = JSON.parse(xmlhttp.responseText);
                   callback(userID, listID, films.films, start_point, end_point);
               }catch(e){
                   console.log(e.message);
               }

           }
       }
   }

    /*function addLists(JSONLists){
        var code = "";
        var posterImg='';
        for (var i = 0; i < JSONLists.length; i++) {
            code += '<div class="accordionItem">' +
                    '<h4><a class="list-group-item link_block">' + JSONLists[i].listname + '<span class="badge">' + JSONLists[i].films.length + '</span></a></h4>' +
                    '<div class="inacc">';
            for (var j = 0; j < JSONLists[i].films.length; j++) {
                if (JSONLists[i].films[j].PosterOur != "A") {
                    posterImg = JSONLists[i].films[j].PosterOur;
                } else {
                    posterImg="noPoster.jpg";
                }
                code += '<div class = "one_film">' +
                        '<div class="lsts_film_container1">' +
                        '<div class="film_in_news2">' +
                        '<a href="#"><img class = "film_poster_in_news3" alt = "' + JSONLists[i].films[j].Title + '" src = "/posters/' + posterImg + '"/></a>' +
                        '</div>' +
                        '<div class="actions1">' +
                        '<a href="#" class = "one_film_name1">' + JSONLists[i].films[j].Title + ' (' + JSONLists[i].films[j].Year + ')</a>' +
                        '<div class="as_film_descr1">' +
                        '<div class="genre_limit">Genre: ' + JSONLists[i].films[j].Genre + '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<div class="close_div"><a onclick=removeFilm(this,'+i+',"'+JSONLists[i].films[j].imdbID+'")>X</a></div>' +
                        '</div>';

            }
            code += '</div>' +
                    '</div>';
        }

        document.getElementById('lists').innerHTML=code;
        init();//инициализация списков
    }*/

    function removeFilm(el,idList,idFilm) {
        //document.getElementById('user_lists').innerHTML=code;
        var obj1 = el.parentNode;
        var obj2 = obj1.parentNode;

        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/removeFilm?idList="+idList+"&idFilm="+idFilm, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                //loadList('<%-blocks.nickname%>');
                obj2.className = obj2.className + " deletedMovie";
                obj1.innerHTML = "";
            }
        }
    }

   /* function addList(){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/addList", true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                loadList('<%-blocks.nickname%>');
            }
        }
    }

    function addLists(JSONLists){
        var code='';
        var posterImg='';
        for(var i=0;i<JSONLists.length;i++){
        code+='<div class="accordionItem">'+
                '<h4><a class="list-group-item link_block">'+JSONLists[i].listname+'<span class="badge">'+JSONLists[i].films.length+'</span></a></h4>'+
        '<div class="inacc">';
            for(var j=0;j<JSONLists[i].films.length;j++){
                if(JSONLists[i].films[j].PosterOur!="A")
                    posterImg=JSONLists[i].films[j].PosterOur;
                else
                    posterImg="noPoster.jpg";
            code+='<div class = "one_film">'+
                        '<div class = "one_film_poster">'+
                        '<a href="#"><img class = "one_film_img" src = "/posters/'+posterImg+'"/></a>'+
                '</div>'+
                '<div class = "one_film_description">'+
                        '<div class = "one_film_name">'+
                        '<b><a href="#" class = "one_film_name1">'+JSONLists[i].films[j].Title+'</a></b>'+
                '</div>'+
                '<div class = "small_line"></div>'+
                '<div class = "one_film_work">'+
                        '<div class = "work">'+
                        '<a onclick=removeFilm('+i+',"'+JSONLists[i].films[j].imdbID+'") type="button" class="btn btn-xs rmv_btn btn-clr-red">Remove</a>'+
                '</div>'+
                '</div>'+
                '</div>'+
                '</div>';
            }
            code+='</div>'+
        '</div>';
    }
        document.getElementById('lists').innerHTML=code;
        init();//инициализация списков

    }
    function removeFilm(idList,idFilm){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/removeFilm?idList="+idList+"&idFilm="+idFilm, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                loadList('<%-blocks.nickname%>');
            }
        }
    }*/

    function loadList(userID,callback){
        document.getElementById('allList').href='/allList?username='+userID+'&listID=0';
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getListsName?userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{
                    var lists=JSON.parse(xmlhttp.responseText);
                    callback(lists);
                }catch(e){
                    console.log(e.message);
                }
            }
        }
    }

    function loadFilmNumber(userID, listID){
        var num = 0;
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getCountFilmsInList?userID="+encodeURIComponent(userID)+"&listID="+encodeURIComponent(listID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{

                    num = JSON.parse(xmlhttp.responseText);
                    document.getElementById('badge_'+listID).innerHTML = num;
                }catch(e){
                    console.log(e.message);
                }
            }
        }
    }

/*function loadList(userID){
	document.getElementById('allList').href='/allList?username='+userID+'&listID=0';
	var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", "/getLists?userID="+userID, true);
    xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xmlhttp.send(null);
    xmlhttp.onreadystatechange=function()
    {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
            var lists=JSON.parse(xmlhttp.responseText);
            addLists(lists);
        }
    }
    return false;
}*/

/*function loadPartList(userID, start_point, end_point) {
	var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("GET", "/getLists?userID="+userID+"&from="+start_point+"&to="+end_point, true);
    xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xmlhttp.send(null);
    xmlhttp.onreadystatechange=function()
    {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
            var lists=JSON.parse(xmlhttp.responseText);
            addLists(lists);
        }
    }
    return false;
}*/

function escapeHtml(text) {
      return text
          .replace(/&/g, "&amp;")
          .replace(/</g, "&lt;")
          .replace(/>/g, "&gt;")
          .replace(/"/g, "&quot;")
          .replace(/'/g, "&#039;");
    }
</script>