<div class="back" id="user_news">
    <ul class="nav nav-pills">
      <li id="lat_new" style="padding-left: 180px;" class="active"><a class="tabs_main">News</a></li>
      <li id="you_rec"><a class="tabs_main">Your Records</a></li>
      <!--<li id="notif"><a>Notifications</a></li>-->
    </ul>
    <div id = "nextnews">	
    </div>
    <div id="more_btn">
    </div>
</div>

<script type="text/javascript">
    newsBlock('<%=blocks.nickname%>');

    function newsBlock(userID) {
        var start_point = 0;
        var end_point = 10;
        var code = "";
        document.getElementById('lat_new').addEventListener('click', function() {
            newsRequest(userID, start_point, end_point);
            document.getElementById('you_rec').className = "";
            //document.getElementById('notif').className = "";
            document.getElementById('lat_new').className = "active";
        });
        document.getElementById('you_rec').addEventListener('click', function() {
            yourRecordsMain('<%=blocks.nickname%>');
            document.getElementById('you_rec').className = "active";
            //document.getElementById('notif').className = "";
            document.getElementById('lat_new').className = "";
        });
        /*document.getElementById('notif').addEventListener('click', function() {
            document.getElementById('you_rec').className = "";
            document.getElementById('notif').className = "active";
            document.getElementById('lat_new').className = "";
        });*/
        <% try {%>
        <% if(user.nickname!=blocks.nickname.html[0]){ %>
            yourRecordsMain('<%=blocks.nickname%>');
            document.getElementById('you_rec').className = "active";
            document.getElementById('lat_new').className = "";
        <% } else { %>
        	newsRequest(userID, start_point, end_point);
        <% }%>
        <%}catch(e){console.log(e.message)}%>
        <% if(user){ %>
        <% } else { %>
        	yourRecordsMain('<%=blocks.nickname%>');
            document.getElementById('you_rec').className = "active";
            document.getElementById('lat_new').className = "";
        <% }%>
    }


    function newsRequest(userID, start_point, end_point) {
        if (start_point === 0) {
            document.getElementById('nextnews').innerHTML = '';
        }
        document.getElementById('more_btn').innerHTML = 'loading...';
        var xmlhttp;
        if (window.XMLHttpRequest) {
            xmlhttp = new XMLHttpRequest();
        } else {
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.open("GET","getNews?userID=" + userID + "&from=" + start_point + "&to=" + end_point, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                try {
                    document.getElementById('more_btn').innerHTML = '';
                    //document.getElementById('nextnews').innerHTML += '<div class="small_line"></div>';
                    var dataJSON = JSON.parse(xmlhttp.responseText);
                    //latestNews(userID, sectionnews(dataJSON), start_point, end_point, dataJSON.length);
                    beforeCheckData(userID, dataJSON, start_point, end_point, showRecords);
                }
                catch(e) {
                    console.log(e.message);
                }

            }
        }
    }

    function beforeCheckData(userID, dataJSON, start_point, end_point, callback) {

        checkData1(userID, dataJSON, start_point, end_point, showRecords1);
        //checkData1(userID, dataJSON, start_point, end_point, showRecords1);
        //checkData1(userID, dataJSON, start_point, end_point, showRecords1);
    }

    function checkData1(userID, dataJSON, start_point, end_point, callback) {
        var code = '';
        var filmsIDs = [];
        var counter = 0;
        var counter1 = 0;
        var counter2 = 0;
        var s = 0;
        for (var i = 0; i < dataJSON.length; i++) {
            if (dataJSON[i].Info === "AddFilm") {
                filmsIDs[counter] = dataJSON[i].Subject.idFilm;
                counter++;
            }
        }
        var readyLists = [];
        var f1 = function(userName, i) {
            /*var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/getListsName?userID="+encodeURIComponent(userName), true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlhttp.send(null);
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    try{
                        readyLists[counter1]=JSON.parse(xmlhttp.responseText);
                        counter1++;
                        s++;
                        sortLists(i+1);
                        console.log("f1 done");
                    }catch(e){
                        console.log(e.message);
                    }
                }
            }*/

            $.ajax({
		    	url:"/getListsName?userID="+userName,
		     	type:"GET",
		     	async:"true",
		     	success:function(dataa){
		     		readyLists[counter1]=dataa;
	         		counter1++;
	         		sortLists(i+1);
		     	}
			});
        }
        var readyFilmData;
        var f2 = function(filmsIDs) {
            $.ajax({
                type:  'post',
                cache:  false ,
                url:  'getFilm',
                data:  {films:filmsIDs},
                success: function(filmData) {
                    readyFilmData = filmData;
                    s++;
                    f4();
                } 
            });
        }
        var userData = [];
        var f3 = function(userName, i) {
        	//Не удалять - это по сути правильный запрос без jQuery но какого-то при первой загрузке страницы не до конца пашет

        	/*var xmlhttp = new XMLHttpRequest();

            xmlhttp.open("GET", "/getUserInfo?userID="+encodeURIComponent(userName), true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlhttp.onreadystatechange = handleServerResponse();
            xmlhttp.send(null);
            xmlhttp.onreadystatechange=function()
            {
            	console.log(xmlhttp.readyState);
            	console.log(xmlhttp.status);
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    try{
                        userData[counter2]=JSON.parse(xmlhttp.responseText);
                        counter2++;
                        sortUsers(i+1);
                        console.log("f3 done. User added");
                    }catch(e){
                        console.log(e.message);
                    }
                }
            }*/

		   	$.ajax({
		    	url:"/getUserInfo?userID="+userName,
		    	type:"GET",
		     	async:"true",
		     	success:function(dataa){
		     		userData[counter2]=dataa;
             		counter2++;
             		sortUsers(i+1);
		     	}
		   	});
        }
        var f4 = function(f) {
            if (s === 3) {

                s = 0;
                //Сортирую фильмы
                var sortedFilmData = [];

                for (var i = 0; i < filmsIDs.length; i++) {
                    for (var j = 0; j < readyFilmData.length; j++) {
                        if (filmsIDs[i] === readyFilmData[j].imdbID) {

                            sortedFilmData[i] = readyFilmData[j];
                            break;
                        }
                    }
                }

                callback(userID, dataJSON, readyLists, userData, sortedFilmData, start_point, end_point);
            }
        }

        var sortLists = function(i) {
        	if (i < dataJSON.length) {
        		if (dataJSON[i].Info === "AddFilm") {
        			f1(dataJSON[i].Object, i);
        		} else {
        			sortLists(i+1);
        		}
        	} else {
        		s++;
        		f4();
        	}
        }
        var sortUsers = function(i) {
        	if (i < dataJSON.length) {
        		f3(dataJSON[i].Object, i);
        	} else {
        		s++;
        		f4();
        	}
        }

        f2(filmsIDs);
        sortLists(0);
        sortUsers(0);

    }

    function showRecords1(userID, dataJSON, lists, userData, filmData, start_point, end_point) {
        var code = '';
        if (start_point === 0 && dataJSON.length === 0) {
            code += 'There is no news. <a href="/users">Discover some users</a>.';
        } else {
            var counter = 0;
            var shift = end_point - start_point;
            start_point += shift;
            end_point += shift;
            for (var i = 0; i < dataJSON.length; i++) {
                if (dataJSON[i].Info === "AddFilm") {
                	//console.log(counter);
                	//console.log(lists[counter]);
                	//console.log(lists[counter][dataJSON[i].Subject.idList]);
                    //code += '<a href="id_'+userID+'">' + escapeHtml(userID) + '</a>' + ' added a film to the list <a href="/allList?username='+userID+'&listID='+dataJSON[i].Subject.idList+'">' + escapeHtml(lists1[dataJSON[i].Subject.idList]) + '</a>';
                    code += '<div class="records_addfilm">';
                    code += mainUserSection(dataJSON[i].Object, userData[i].ava);
                    code += ' added a film to the list <a href="/allList?username='+dataJSON[i].Object+'&listID='+dataJSON[i].Subject.idList+'">' + escapeHtml(lists[counter][dataJSON[i].Subject.idList]) + '</a>';
                    code += '<span class="rec_date">'+showDate(dataJSON[i].Date)+'</span>';
                    code += '</div>';
                    code += '<div class="rec_film_con">';
                    code += imageRet(filmData[counter]);
                    if (dataJSON[i].Subject.comment !== "") {
                        code += '<div class="sue"><i class="fa fa-comment-o"></i></div><div class="cooment_in_news">';
                        code += escapeHtml(dataJSON[i].Subject.comment);
                        code += '</div>';
                    }
                    code += '</div>';
                    code += '<div class="like_div">';
                    <% if(user){ %>
                    code += '<span id="num_likes_'+(start_point+i)+'"></span> <i class="fa fa-heart-o putlike" id="like_'+(start_point+i)+'" onclick=likePost(this,"'+filmData[counter].imdbID+'","'+dataJSON[i].Subject.idList+'","'+dataJSON[i].Object+'",'+(start_point+i)+',"<%=user.nickname%>")></i>';
                    <% }%>
                    code += '</div>';
                    code += '<hr class="hr_addF">';
                    <% if(user){ %>
                    showNumLikes("<%=user.nickname%>", dataJSON[i].Object, dataJSON[i].Subject.idList, filmData[counter].imdbID, (start_point+i), true);
                    <% }%>
                    counter++;
                } else if (dataJSON[i].Info === "AddFollowing") {
                    code += '<div class="records_addfoll">';
                    code += mainUserSection(dataJSON[i].Object, userData[i].ava);
                    //code += '<a href="/id_'+userID+'">' + escapeHtml(userID) + '</a>' + ' started following ' + '<a href="/id_'+dataJSON[i].Subject+'">' + escapeHtml(dataJSON[i].Subject) + '</a>';
                    code += ' started following ' + '<a href="/id_'+dataJSON[i].Subject+'">' + escapeHtml(dataJSON[i].Subject) + '</a>';
                    code += '<span class="rec_date">'+showDate(dataJSON[i].Date)+'</span>';
                    code += '</div>';
                    code += '<hr class="hr_addF">';
                    //code += '<br>';
                }

            }
            //console.log(dataJSON);
        }
        document.getElementById('nextnews').insertAdjacentHTML("beforeend", code);

        var code1 = '';
        if (shift === dataJSON.length) {
        	code1 += '<button id="morebtn2" class="btn btn-default btn-sm" type="button">Show more</button>';
        }

        document.getElementById('more_btn').innerHTML = code1;
        if (shift === dataJSON.length) {
            document.getElementById('morebtn2').addEventListener('click', function() {
                newsRequest(userID, start_point, end_point);
            });
        }
        
    }

    function showNumLikes(initialUser, userID, listID, filmID, i, first_time) {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getLikes?userID="+encodeURIComponent(userID)+"&listID="+encodeURIComponent(listID)+"&filmID="+encodeURIComponent(filmID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{
                    var likes = JSON.parse(xmlhttp.responseText);
                    document.getElementById("num_likes_"+i).innerHTML = likes.length;
                    if (first_time) {
                        for (var j = 0; j < likes.length; j++) {
                            if (initialUser === likes[j]) { 
                                document.getElementById('like_'+i).outerHTML='<i class="fa fa-heart putlike" id="like_'+i+'"></i>'
                                break;
                            }
                        }
                    }
                }catch(e){
                    console.log(e.message);
                }
            }
        }
    }

    function likePost(obj, filmID, listID, userID, i, initialUser) {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/addLike?filmID="+encodeURIComponent(filmID)+"&listID="+encodeURIComponent(listID)+"&userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{
                    var id = obj.getAttribute('id');
                    document.getElementById(id).outerHTML='<i class="fa fa-heart putlike" id="'+id+'"></i>';
                    showNumLikes(initialUser, userID, listID, filmID, i, false);
                }catch(e){
                    console.log(e.message);
                }
            }
        }





        
    }
    
    function showDate(date) {
        var ndate = new Date(date);
        var sdate = ndate.toISOString();
        var code = '';
        //code += '' +
        //        '' + ndate.getDate() + '/' + (ndate.getMonth() + 1) + '/' + ndate.getFullYear() + '' +
        //        '';
        

        /*var seconds = Math.floor((new Date() - date) / 1000);

        var interval = Math.floor(seconds / 31536000);

        if (interval > 1) {
            code += interval + " years";
        }
        interval = Math.floor(seconds / 2592000);
        if (interval > 1) {
            code += interval + " months";
        }
        interval = Math.floor(seconds / 86400);
        if (interval > 1) {
            code += interval + " days";
        }
        interval = Math.floor(seconds / 3600);
        if (interval > 1) {
            code += interval + " hours";
        }
        interval = Math.floor(seconds / 60);
        if (interval > 1) {
            code += interval + " minutes";
        }
        return Math.floor(seconds) + " seconds";*/

        var templates = {
        prefix: "",
        suffix: " ago",
        seconds: "less than a minute",
        minute: "a minute",
        minutes: "%d minutes",
        hour: "an hour",
        hours: "%d hours",
        day: "a day",
        days: "%d days",
        month: "a month",
        months: "%d months",
        year: "a year",
        years: "%d years"
        };
        var template = function(t, n) {
            return templates[t] && templates[t].replace(/%d/i, Math.abs(Math.round(n)));
        };

        var timer = function(time) {
            if (!time)
                return;
            time = time.replace(/\.\d+/, ""); // remove milliseconds
            time = time.replace(/-/, "/").replace(/-/, "/");
            time = time.replace(/T/, " ").replace(/Z/, " UTC");
            time = time.replace(/([\+\-]\d\d)\:?(\d\d)/, " $1$2"); // -04:00 -> -0400
            time = new Date(time * 1000 || time);

            var now = new Date();
            var seconds = ((now.getTime() - time) * .001) >> 0;
            var minutes = seconds / 60;
            var hours = minutes / 60;
            var days = hours / 24;
            var years = days / 365;

            return templates.prefix + (
                    seconds < 45 && template('seconds', seconds) ||
                    seconds < 90 && template('minute', 1) ||
                    minutes < 45 && template('minutes', minutes) ||
                    minutes < 90 && template('hour', 1) ||
                    hours < 24 && template('hours', hours) ||
                    hours < 42 && template('day', 1) ||
                    days < 30 && template('days', days) ||
                    days < 45 && template('month', 1) ||
                    days < 365 && template('months', days / 30) ||
                    years < 1.5 && template('year', 1) ||
                    template('years', years)
                    ) + templates.suffix;
        };
        code += timer(sdate);
        // update time every minute
        //setTimeout(showDate, 60000);


        return code;
    }

    function imageRet(data) {
        var code = '';
        var posterImg = '';
        if (data.PosterOur != "A") {
            posterImg = data.PosterOur;
        } else {
            posterImg="noPoster.jpg";
        }
        code += '<div class="lsts_film_container2">' +
                '<div class="film_in_news2">' +
                '<a href="/films/'+data.imdbID+'"><img class="film_poster_in_news2" src="/posters/'+posterImg+'" alt="'+escapeHtml(data.Title)+'"></a>' +
                '</div>' +
                '<div class="actions">' +
                '<a class="lsts_film_name" href="/films/'+data.imdbID+'">'+escapeHtml(data.Title)+' ('+escapeHtml(data.Year)+')</a>' +
                '<div class="as_film_descr">' +
                '<div class="country_limit">Сountry: '+escapeHtml(data.Country)+'</div>' +
                '</div>' +
                '</div>' +
                '</div>';
        //code += showComment('<%=blocks.nickname%>',data.id,);
        return code;
    }

    ////////////////////////////////////

    function mainUserSection(userID, userData) {
        var code = '';
        code += '<img class="ava_records" src="/photos/'+userData+'" alt="'+userID+'"> ' +
                '<a href="id_'+userID+'">' + escapeHtml(userID) + '</a>' +
                '';
        return code;
    }

    function showRecords(dataJSON, userID, lists1, filmData, start_point, end_point) {
        var code = '';
        var counter = 0;
        var shift = end_point - start_point;
        start_point += shift;
        end_point += shift;
        for (var i = 0; i < dataJSON.length; i++) {
            if (dataJSON[i].Info === "AddFilm") {
                //code += '<a href="id_'+userID+'">' + escapeHtml(userID) + '</a>' + ' added a film to the list <a href="/allList?username='+userID+'&listID='+dataJSON[i].Subject.idList+'">' + escapeHtml(lists1[dataJSON[i].Subject.idList]) + '</a>';
                code += '<div class="records_addfilm">';
                code += mainUserSection(userID, "<%=blocks.avatar%>");
                code += ' added a film to the list <a href="/allList?username='+userID+'&listID='+dataJSON[i].Subject.idList+'">' + escapeHtml(lists1[dataJSON[i].Subject.idList]) + '</a>';
                code += '<span class="rec_date">'+showDate(dataJSON[i].date)+'</span>';
                code += '</div>';
                code += '<div class="rec_film_con">';
                code += imageRet(filmData[counter]);

                //code += '<br>';
                if (dataJSON[i].Subject.comment !== "") {
                    code += '<div class="sue"><i class="fa fa-comment-o"></i></div><div class="cooment_in_news">';
                    code += escapeHtml(dataJSON[i].Subject.comment);
                    code += '</div>';
                }
                code += '</div>';
                code += '<div class="like_div">';
                <% if(user){ %>
                code += '<span id="num_likes_'+(start_point+i)+'"></span> <i class="fa fa-heart-o putlike" id="like_'+(start_point+i)+'" onclick=likePost(this,"'+filmData[counter].imdbID+'","'+dataJSON[i].Subject.idList+'","'+userID+'",'+(start_point+i)+',"<%=user.nickname%>")></i>';
                <% }%>
                code += '</div>';
                code += '<hr class="hr_addF">';
                <% if(user){ %>
                showNumLikes("<%=user.nickname%>", userID, dataJSON[i].Subject.idList, filmData[counter].imdbID, (start_point+i), true);
                <% }%>
                counter++;
            } else if (dataJSON[i].Info === "AddFollowing") {
                code += '<div class="records_addfoll">';
                code += mainUserSection(userID, "<%=blocks.avatar%>");
                //code += '<a href="/id_'+userID+'">' + escapeHtml(userID) + '</a>' + ' started following ' + '<a href="/id_'+dataJSON[i].Subject+'">' + escapeHtml(dataJSON[i].Subject) + '</a>';
                code += ' started following ' + '<a href="/id_'+dataJSON[i].Subject+'">' + escapeHtml(dataJSON[i].Subject) + '</a>';
                code += '<span class="rec_date">'+showDate(dataJSON[i].date)+'</span>';
                code += '</div>';
                code += '<hr class="hr_addF">';
                //code += '<br>';
            }
        }
        //console.log(dataJSON);
        
        document.getElementById('nextnews').insertAdjacentHTML("beforeend", code);

        var code1 = '';

        if (shift === dataJSON.length) {
            code1 += '<button id="morebtn1" class="btn btn-default btn-sm" type="button">Show more</button>';
        }

        document.getElementById('more_btn').innerHTML = code1;
        if (shift === dataJSON.length) {
            document.getElementById('morebtn1').addEventListener('click', function() {
                getRecords(userID, start_point, end_point);
            });
        }
    }

    function yourRecordsMain(userID) {
        var start_point = 0;
        var end_point = 10;
        document.getElementById('nextnews').innerHTML = '';
        getRecords(userID, start_point, end_point);
    }

    function checkData(userID, dataJSON, start_point, end_point, callback) {
        var code = '';
        var filmsIDs = [];
        var counter = 0;
        var s = 0;   
        for (var i = 0; i < dataJSON.length; i++) {
            if (dataJSON[i].Info === "AddFilm") {
                filmsIDs[counter] = dataJSON[i].Subject.idFilm;
                counter++;
            }
        }
        var readyLists;
        var f1 = function(userID) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/getListsName?userID="+encodeURIComponent(userID), true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlhttp.send(null);
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    try{
                        readyLists=JSON.parse(xmlhttp.responseText);
                        s++;
                        f3();
                    }catch(e){
                        console.log(e.message);
                    }
                }
            }
        }
        var readyFilmData;
        var f2 = function(filmsIDs) {
            $.ajax({
                type:  'post',
                cache:  false ,
                url:  'getFilm',
                data:  {films:filmsIDs},
                success: function(filmData) {
                    readyFilmData = filmData;
                    s++;
                    f3();
                } 
            });
        }
        var f3 = function(f) {
            if (s === 2) {
                s = 0;
                //Сортирую фильмы
                var sortedFilmData = [];
                for (var i = 0; i < filmsIDs.length; i++) {
                    for (var j = 0; j < readyFilmData.length; j++) {
                        if (filmsIDs[i] === readyFilmData[j].imdbID) {
                            sortedFilmData[i] = readyFilmData[j];
                            break;
                        }
                    }
                }
                callback(dataJSON, userID, readyLists, sortedFilmData, start_point, end_point);
            }
        }
        f2(filmsIDs);
        f1(userID);
    }

    function getRecords(userID, start_point, end_point) {
        document.getElementById('more_btn').innerHTML = 'loading...';
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getYourRecords?userID="+encodeURIComponent(userID)+"&from="+encodeURIComponent(start_point)+"&to="+encodeURIComponent(end_point), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function() {
            if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                try {
                    var dataJSON = JSON.parse(xmlhttp.responseText);
                    if (dataJSON.length !== 0) {
                        checkData(userID, dataJSON, start_point, end_point, showRecords);
                    } else document.getElementById('more_btn').innerHTML = '';
                }
                catch(e) {
                    console.log(e.message);
                }
            }
        }
    }

    function escapeHtml(text) {
        /*if (text !== null || text !== undefined) {
            return text
          .replace(/&/g, "&amp;")
          .replace(/</g, "&lt;")
          .replace(/>/g, "&gt;")
          .replace(/"/g, "&quot;")
          .replace(/'/g, "&#039;");
      } else return "";*/
      //console.log(text);
      return text;
      
    }

</script>