<!-- newsBannerBlock.ejs -->
<!-- Carousel ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators car_ind">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="owl-carousel/photos/1.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <div class="caros_text_pos">Editors' Choice</div>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="owl-carousel/photos/2.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <div class="caros_text_pos"></div>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="owl-carousel/photos/3.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <div class="caros_text_pos">Editors' Choice</div>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- /.carousel -->
<!-- /newsBannerBlock.ejs -->