

<div id="nav_div" class="" role="">
    <div id="logo_nav"> 
        <a href="/"><img id="logo_main" src="/owl-carousel/main_photos/dipolium_logo-2.png"></a>
    </div>
    
    
        <%if(user){%>
            <div id="search_nav">
                <form action="/searchPage">
                    <input type="text" size="30px" id="navvy_bar" name='searchText' placeholder="Search your movie...">
                </form>
            </div>
            <!--<span class="nav_refs"><a class = "list add_m_lsts"><i class="fa fa-film"></i> Discover Movies</a></span>-->
            <span><a href="/users" class = "list add_m_lsts"><i class="fa fa-user-plus"></i> Discover Users</a></span>
        	<div id="log_nav1">
            <a href="/logout">Log out</a>
            </div>
        <%}else{%>
            <div id="search_nav1">
                <form action="/searchPage">
                    <input type="text" size="25px" id="navvy_bar" name='searchText' placeholder="Search your movie...">
                </form>
            </div>
        	<div id="log_nav">
	            <form role="form" name="login-form1">
	               	<div class="login_div">
	                	<input name="email" value="" type="text" class="form-control" id="input-nickname" placeholder="E-mail">
	                </div>
	                <div class="login_div">
	                    <input name="password" value="" type="password" class="form-control" id="input-password" placeholder="Password">
	                </div>
	                <button type="submit" class="btn btn-primary">Sign in</button>
	            </form>
            </div>
        <%}%>
</div>

<script>
    $(document.forms['login-form1']).on('submit', function() {
        var form = $(this);
        $('.error', form).html('');
        $(":submit", form).button("loading");

        $.ajax({
            url: "/login",
            method: "POST",
            data: form.serialize(),
            complete: function() {
                $(":submit", form).button("reset");
            },
            statusCode: {
                200: function() {
                    var nickname=$("#input-nickname").val();
                    //form.html("You have successfully logged in").addClass('alert-success');
                    window.location.href = "";
                },
                403: function(jqXHR) {
                    var error = JSON.parse(jqXHR.responseText);
                    $('.error', form).html(error.message);
                }
            }
        });
        return false;
    });
</script>