    <div class="user_info">
        <div class="top_info">
            <div class="info_1">
                <div class="ava_container">
                    <img class = "ava_img" src = "photos/<%=blocks.avatar%>" />
                </div>
                <div class="ava_info">
                    <span class = "name"><%=blocks.name%></span>
                    <br/><span class = "name"><%=blocks.surname%></span>
                    <br/><span class="user_name"><%=blocks.nickname%></span>
                    <div style="margin-bottom: 5px;"></div>
                    <div id="fol_stat"></div>
                    <% try {%>
                        <% if(user && user.nickname==blocks.nickname.html[0]){ %>
                        <button onclick="window.location.href='/settings'" class="btn btn-xs btn-default"><i class="fa fa-cog"></i> Settings</button>
                        <% } %>
                    <%}catch(e){console.log(e.message)}%>
                </div>
            </div>
            <div class="info_2">
                <a href="/following?username=<%=blocks.nickname%>" type="button" class="btn btn-xs btn-primary bbb1">Following<span id="ing_badge" class="badge"></span></a>
                <a href="/followers?username=<%=blocks.nickname%>" type="button" class="btn btn-xs btn-primary bbb1">Followers<span id="ers_badge" class="badge"></span></a>
                <!--<button type="button" class="btn btn-default btn-xs" rel="popover_user"><i class="fa fa-user-plus"></i></button>-->
                <!--<a href="#" type="button" class="btn btn-xs btn-default btn_disc_nu"><i class="fa fa-user-plus"></i> Discover New Users</a>-->
            </div>
        </div>
        <div class="bottom_info">
            <%=blocks.about%>
        </div>
    </div>

    <!-- POPOVER -->
    <!-- Popover 2 hidden content -->

        <!--<input type="text" size="30px" name='searchText' class="form-control" placeholder="Search your movie...">-->



    <div id="popover_content_wrapper2" style="display: none">
        <% if(user){ %>
        <form action="/searchUser">
        <input type="text" name='searchText' class="ooosss" placeholder="" maxlength="256">
        <a><input type="submit" value="Search"role="button" class="btn btn-clr-red btn-xs"></a>
        </form>
        <% } else { %>
        <% }%>
        <a href="/users" style="color:#4f65bf!important;">discover users</a>
    </div>

<script type="text/javascript">
    loadFollowersNumber('<%=blocks.nickname%>');
    loadFollowingNumber('<%=blocks.nickname%>');
    followStatus();

    function loadFollowersNumber(userID){
        var num = 0;
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getCountFollowers?userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{

                    num = JSON.parse(xmlhttp.responseText);
                    document.getElementById('ers_badge').innerHTML = num;
                }catch(e){
                    console.log(e.message);
                }
            }
        }
    }

    function loadFollowingNumber(userID){
        var num = 0;
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getCountFollowing?userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{

                    num = JSON.parse(xmlhttp.responseText);
                    document.getElementById('ing_badge').innerHTML = num;
                }catch(e){
                    console.log(e.message);
                }
            }
        }
    }

    function followStatus() {
    <% if(user){ %>
        var meUser = '<%=user.nickname%>';
        var otherUser = '<%=blocks.nickname%>';
        if (meUser !== otherUser) {
            loadUsers(meUser, otherUser, checkFollowing);
        }
    <% } else { %>
    <% }%>
        
    }
    function checkFollowing(users, otherUser) {
        var code = '';
        code += '<button onclick=followUser("'+otherUser+'",this) type="button" class="btn btn-xs btn-default flw_btn_size2"><i class="fa fa-plus-square"></i> Follow</button>';
        document.getElementById('fol_stat').innerHTML = code;
        for (var i = 0; i < users.length; i++) {
            if (users[i].userName === otherUser) {
                code = '<button onclick=unfollowUser("'+otherUser+'",this) type="button" class="btn btn-xs btn-success flw_btn_size1"><i class="fa fa-check"></i> Following</button>';
                document.getElementById('fol_stat').innerHTML = code;
                break;
            }
        }
    }

    function loadUsers(userID, otherUser, callback){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getFollowing?userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{
                    var users = JSON.parse(xmlhttp.responseText);
                    callback(users, otherUser);
                }catch(e){
                    console.log(e.message);
                }

            }
        }
    }

    function followUser(userID, objButton){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/addFollowing?userID="+userID, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                objButton.className="btn btn-xs btn-success flw_btn_size1";
                objButton.innerHTML='<i class="fa fa-check"></i> Following';
                objButton.onclick=function(){unfollowUser (userID,objButton);}
            }
        }
    }

    function unfollowUser(userID, objButton){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/removeFollowing?userID="+userID, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                objButton.className="btn btn-xs btn-default flw_btn_size2";
                objButton.innerHTML='<i class="fa fa-plus-square"></i> Follow</button>';
                objButton.onclick=function(){followUser(userID, objButton);}
            }
        }
    }

</script>

