<div class="content" id="content">
<% if(user){ %>
<% try {%>
    <% if(user.nickname!=blocks.nickname.html[0]){ %>
        <div class="m_user_sect">
            
            <div class="m_ava_container">
                <img class = "m_ava_img" src = "photos/<%=blocks.avatar%>" />
            </div>
            <div class="m_ava_info">
                <span class = "m_name"><%=blocks.name%></span>
                <br/><span class = "m_name"><%=blocks.surname%></span>
                <br/><span class="m_user_name"><%=blocks.nickname%></span>
                <br/>
            </div>
            <div class="m_ava_foll">
                <button onclick="location.href='/following?username=<%=blocks.nickname%>'" type="button" class="btn1 btn_main">Following (<span id="m_following"></span>)</button>
                <br>
                <button onclick="location.href='/followers?username=<%=blocks.nickname%>'" type="button" class="btn1 btn_main">Followers (<span id="m_followers"></span>)</button>
                
            </div>
            <div class="foll_butt">
                <div id="foll_status"><button onclick="followUser1('<%=blocks.nickname%>',this)" type="button" class="btn_fl_notactive"><i class="fa fa-plus-square"></i> Follow</button></div>
                <button onclick="location.href='/allList?username=<%=blocks.nickname%>&listID=0'" type="button" class="btn1 btn2 btn_main">Lists (<span id="m_listss"></span>)</button>
            </div>
        </div>
        <hr>
    <% } %>
<%}catch(e){console.log(e.message)}%>
<% } else { %>
    <div class="m_user_sect">
        
        <div class="m_ava_container">
            <img class = "m_ava_img" src = "photos/<%=blocks.avatar%>" />
        </div>
        <div class="m_ava_info">
            <span class = "m_name"><%=blocks.name%></span>
            <br/><span class = "m_name"><%=blocks.surname%></span>
            <br/><span class="m_user_name"><%=blocks.nickname%></span>
            <br/>
        </div>
        <div class="m_ava_foll">
            <button onclick="location.href='/following?username=<%=blocks.nickname%>'" type="button" class="btn1 btn_main">Following (<span id="m_following"></span>)</button>
            <br>
            <button onclick="location.href='/followers?username=<%=blocks.nickname%>'" type="button" class="btn1 btn_main">Followers (<span id="m_followers"></span>)</button>
            
        </div>
        <div class="foll_butt foll_butt1">
         <button onclick="location.href='/allList?username=<%=blocks.nickname%>&listID=0'" type="button" class="btn1 btn2 btn_main">Lists (<span id="m_listss"></span>)</button>
        </div>
    </div>
    <hr>
<% }%>
<div id="content_inside">
</div>
</div>

<script type="text/javascript">
    <% if(user){ %>
        var meUser = '<%=user.nickname%>';
    <% } else { %>
        var meUser = '';
    <% }%>
        var otherUser = '<%=blocks.nickname%>';        
    if (meUser !== otherUser) {
        loadFollowersNumber('<%=blocks.nickname%>');
        loadFollowingNumber('<%=blocks.nickname%>');
        loadList1('<%=blocks.nickname%>', showListNum);
        followStatus();
    }
    function followStatus() {
        <% if(user){ %>
        var meUser = '<%=user.nickname%>';
        var otherUser = '<%=blocks.nickname%>';
        loadUsers1(meUser, otherUser, checkFollowing);
        <% } else { %>
        <% }%>
    }

    function checkFollowing(users, otherUser) {
        var code = '';
        for (var i = 0; i < users.length; i++) {
            if (users[i].userName === otherUser) {
                //code = '<button onclick=unfollowUser("'+otherUser+'",this) type="button" class="btn btn-xs btn-success flw_btn_size">Following</button>';
                code = '<button onclick=unfollowUser1("<%=blocks.nickname%>",this) type="button" class="btn_fl_active"><i class="fa fa-check"></i> Following</button>';
                document.getElementById('foll_status').innerHTML = code;
                break;
            }
        }
    }

    function loadUsers1(userID, otherUser, callback){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getFollowing?userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{
                    var users = JSON.parse(xmlhttp.responseText);
                    callback(users, otherUser);
                }catch(e){
                    console.log(e.message);
                }

            }
        }
    }
function showListNum(lists){
        document.getElementById('m_listss').innerHTML = lists.length;
    }
    
    function loadFollowersNumber(userID){
        var num = 0;
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getCountFollowers?userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{

                    num = JSON.parse(xmlhttp.responseText);
                    document.getElementById('m_followers').innerHTML = num;
                }catch(e){
                    console.log(e.message);
                }
            }
        }
    }

    function loadFollowingNumber(userID){
        var num = 0;
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getCountFollowing?userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{

                    num = JSON.parse(xmlhttp.responseText);
                    document.getElementById('m_following').innerHTML = num;
                }catch(e){
                    console.log(e.message);
                }
            }
        }
    }
    function loadList1(userID,callback){
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/getListsName?userID="+encodeURIComponent(userID), true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlhttp.send(null);
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    try{
                        var lists=JSON.parse(xmlhttp.responseText);
                        callback(lists);
                    }catch(e){
                        console.log(e.message);
                    }
                }
            }
        }

    //ЗДЕСЬ число показа фильмов (1)
    loadListName('<%-blocks.nickname%>', '<%-blocks.listID%>', loadFilm, show_movies, 0, 15);

    function show_movies(userID, listID, listName, JSONFilms, start_point, end_point) {
        var code = '';
        console.log(JSONFilms);
        if (start_point === 0) {
          code += '<select name="lists" id="slctnm" onchange="if (this.value) window.location.href=this.value">'
          for(var i=0;i<listName.length;i++){
            code+='<option value="/allList?username=<%-blocks.nickname%>&listID='+i+'">'+listName[i]+'</option>';
          }
          code += '</select>';
          code += '<div class="m_lsts_name">'+listName[listID]+'</div>' +
                  '<br>';
        }
        
        for(var i=0;i<JSONFilms.length;i++) {
            if(JSONFilms[i].PosterOur != "A")
                posterImg=JSONFilms[i].PosterOur;
            else
                posterImg = "noPoster.jpg";
            
            code += '<div class="m_all_films">' +
                    '<div class="m_film">' +
                    '<div class="m_poster_shadow_lsts">' +
                    '<img class="m_poster_lsts" src="/posters/'+posterImg+'" alt = "'+JSONFilms[i].Title+'"  />' +
                    '</div>' +
                    '<div class="m_lsts_descr">' +
                    '<a class="" href="/films/'+JSONFilms[i].imdbID+'">'+JSONFilms[i].Title+' ('+JSONFilms[i].Year+')</a>' +
                    '<div class="">Genre: '+JSONFilms[i].Genre+'</div>' +
                    '<div class="">Country: '+JSONFilms[i].Country+'</div>' +
                    '</div>' +
                    '</div>' +
                    //'<div id="comm_'+i+'" class="m_show_co"><span onclick=commentDisp("'+userID+'","'+JSONFilms[i].imdbID+'","'+listID+'","comm_'+i+'")>show comment</span><div>' +
                    '<span id="comm_'+i+'" class="m_show_co co1" onclick="showComment('+i+')"></span>' +
                    '<div id="disp_comm_'+i+'" class="m_show_co co2"></div>' +
                    '<div class="line_us"></div>' +
                    '</div>';
                    commentDisp(userID,JSONFilms[i].imdbID,listID,i);
                    //document.getElementById('comm_'+i).onclick() = showComment(i);
                    
        }

        //document.getElementById('m_main_side').innerHTML = code;
        //ЗДЕСЬ число показа фильмов(2)
        if (JSONFilms.length === 15) {
          code += '<div id="m_more" class="alm_more1">SHOW MORE</div>';
        }
        document.getElementById('content_inside').insertAdjacentHTML('beforeend',code);
        var element = document.getElementById('slctnm');
        element.value = '/allList?username=<%-blocks.nickname%>&listID='+listID;
        //document.getElementById('m_main_side').innerHTML += code;
        if (JSONFilms.length === 15) {
            var something = document.getElementById('m_more');
            something.onclick = function() {
              //ЗДЕСЬ число показа фильмов(3)
              loadListName1(userID, listID, listName, start_point + 15, end_point + 15);
            };
        }
        
        
    }

    function commentDisp(userID, filmID, listID, id){
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("GET", "/getComment?userID="+encodeURIComponent(userID)+"&filmID="+encodeURIComponent(filmID)+"&listID="+encodeURIComponent(listID), true);
      xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xmlhttp.send(null);
      xmlhttp.onreadystatechange=function()
      {
          if (xmlhttp.readyState==4 && xmlhttp.status==200)
          {
            try{
              var comment = xmlhttp.responseText;
              if (comment !== "") {
                var code = "";
                code += comment;
                document.getElementById('comm_'+id).innerHTML = "show comment";
                document.getElementById('disp_comm_'+id).innerHTML = code;

              }
              //document.getElementById(obj.id)
              //code += '<h5>Comment to the movie:</h5>';
              //code += escapeHtml(comment);
              //document.getElementById("comm_popup").innerHTML = code;

            }catch(e){
              console.log(e.message);
            }
              
          }
      }
    }

    function showComment(id) {
        document.getElementById('comm_'+id).className = "m_show_co co2";
        document.getElementById('disp_comm_'+id).className = "m_show_co";
    }

    function loadListName(userID,listID,callback0,callback1,start_point,end_point) {
        loadList(userID,listID,callback0,callback1,start_point,end_point);

    }
    function loadListName1(userID,listID,listName,start_point,end_point) {
      document.getElementById('m_more').outerHTML = '';
      loadFilm(userID,listID,listName,show_movies,start_point,end_point);

    }

    function loadFilm(userID,listID,listNm,callback,start_point,end_point) {
        if (start_point > 0) {
            //document.getElementById('more_btn').remove();
            //document.getElementById('more_btn').outerHTML = '';
        }
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getListFilms?userID="+encodeURIComponent(userID)+"&listID="+encodeURIComponent(listID)+"&from="+encodeURIComponent(start_point)+"&to="+encodeURIComponent(end_point), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange = function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{
                    var films=JSON.parse(xmlhttp.responseText);
                    callback(userID, listID, listNm, films.films, start_point, end_point);
                }catch(e){
                    console.log(e.message);
                }

            }
        }
    }

    function loadList(userID,listID,callback0,callback1,start_point,end_point){
       var xmlhttp = new XMLHttpRequest();
       xmlhttp.open("GET", "/getListsName?userID="+encodeURIComponent(userID), true);
       xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
       xmlhttp.send(null);
       xmlhttp.onreadystatechange=function()
       {
           if (xmlhttp.readyState==4 && xmlhttp.status==200)
           {
               try{
                   var lists=JSON.parse(xmlhttp.responseText);
                   callback0(userID,listID,lists,callback1,start_point,end_point);
               }catch(e){
                   console.log(e.message);
               }

           }
       }
   }

   function followUser1(userID, objButton){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/addFollowing?userID="+userID, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                objButton.className="btn_fl_active";
                objButton.innerHTML='<i class="fa fa-check"></i> Following';
                objButton.onclick=function(){unfollowUser1 (userID,objButton);}
            }
        }
    }

    function unfollowUser1(userID, objButton){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/removeFollowing?userID="+userID, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                objButton.className="btn_fl_notactive";
                objButton.innerHTML='<i class="fa fa-plus-square"></i> Follow';
                objButton.onclick=function(){followUser1(userID, objButton);}
            }
        }
    }

    function escapeHtml(text) {
      return text
          .replace(/&/g, "&amp;")
          .replace(/</g, "&lt;")
          .replace(/>/g, "&gt;")
          .replace(/"/g, "&quot;")
          .replace(/'/g, "&#039;");
    }
</script>