<nav id="menu">
<% if(user){ %>
<% } else { %>
    <div>
        <button onclick="location.href='/registration'" class="sgnupbtn">Sign In / Sign Up</button>
        <hr>
        <div class="m_bottom_about">Contact: support@dipolium.com<br>&#169 2015 Dipolium.</div>
    </div>
<% }%>
</nav>

<script type="text/javascript">
    <% if(user){ %>
    loadList('<%=user.nickname%>', leftbar);
    function leftbar(LstsName) {
        var code = '';
        code += '<form action="/searchUser">' +
                //'<input type="text" class="m_user_search" name="searchText" placeholder="Search user..." maxlength="256">' +
                '<div class="mm-search"><input name="searchText" placeholder="Search user" type="text" autocomplete="off"></div>' +
                '</form>' +
                '<div id="m_user_inform">' +
                '<div class="m_ava_container" id="ava_inside">' +
                //'<img class = "m_ava_img" src = "../photos/<%=user.nickname%>.png" />' +
                '</div>' +
                '<div class="m_ava_info">' +
                '<span class = "m_name"><%=user.name%></span>' +
                '<br><span class = "m_name"><%=user.surname%></span>' +
                '<br><span class="m_user_name"><%=user.nickname%><span>' +
                '</div>' +
                '</div>' +
                '<div class="m_menue_gap">' +
                '<div class="line_us"></div>' +
                '<a href="/following?username=<%=user.nickname%>"><div class="m_set_logout m_half_aside">' +
                'Following' +
                '</div></a>' +
                '<div class="m_set_logout m_sl"></div>' +
                '<a href="/followers?username=<%=user.nickname%>"><div class="m_set_logout m_half_aside">' +
                'Followers' +
                '</div></a>' +
                '<div class="line_us"></div>' +
                '<a href = "/"><div id="m_left_news">News</div></a>'+
                '<div class="line_us"></div>' +
                //'<a href = "/"><div id="m_left_notif">Notifications</div></a>'+
                //'<div class="line_us"></div>' +
                '<div class="space_us"></div>' +
                '</div>' +
                '<div class="m_menue_lists">' +
                '<div class="m_lists_ff">LISTS</div>' +
                '<ul>';
        for (var i = 0; i < LstsName.length; i++) {
            code += '<li><a href="/allList?username=<%=user.nickname%>&listID='+i+'">'+LstsName[i]+'</a></li>';
        }
        code += '<li><a onclick="listNameWindow()" style="font-size: 28px; line-height: 20px; padding-left: 78px; padding-bottom: 12px" href="#"><i class="fa fa-plus-circle"></i></a></li>' +
                '</ul>' +
                '</div>' +
                '<div class="m_menue_gap1">' +
                '<div class="m_more_left">' +
                '- <a href="http://dipolium.com/">Desctop Version</a>' +
                '<br>' +
                '- <a href="/settings">Settings</a>' +
                '<br>' +
                '- <a href="/about">About</a>' +
                '<br>' +
                '- <a href="/terms">Terms and Conditions</a>' +
                '<br>' +
                '- <a href="/logout">Logout</a>' +
                '</div>' +
                '<hr>' +
                '<div class="m_bottom_about">Contact: support@dipolium.com<br>&#169 2015 Dipolium.</div>' +
                '</div>';
                
        document.getElementById('menu').innerHTML = code;
        addAvatar('<%=user.nickname%>');
    }

    function addAvatar(userID) {
        var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/getUserInfo?userID="+encodeURIComponent(userID), true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlhttp.send(null);
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    try{
                        var userData=JSON.parse(xmlhttp.responseText);
                        document.getElementById('ava_inside').innerHTML = '<img class = "m_ava_img" src = "../photos/'+userData.ava+'" />';
                    }catch(e){
                        console.log(e.message);
                    }
                }
            }
    }

    function listNameWindow() {
        var name = prompt("Please, enter a name", "");
        if (name !== "" && name !== null) {
            addList(name);
        }
    }

    function addList(name){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/addList", true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                loadList1('<%=user.nickname%>',saveNewName,name);
            }
        }
    }

    function saveNewName(userID, listID, newName) {
       //var newName = document.getElementById("newNameIn").value;
       var xmlhttp = new XMLHttpRequest();
       xmlhttp.open("GET", "renameList/?indexList="+encodeURIComponent(listID)+"&title="+encodeURIComponent(newName), true);
       xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
       xmlhttp.send(null);
       xmlhttp.onreadystatechange=function()
       {
           if (xmlhttp.readyState==4 && xmlhttp.status==200)
           {
               location.reload();
           }
       }
   }

   function loadList1(userID,callback,name){
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/getListsName?userID="+encodeURIComponent(userID), true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlhttp.send(null);
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    try{
                        var lists=JSON.parse(xmlhttp.responseText);
                        callback(userID,lists.length-1,name);
                    }catch(e){
                        console.log(e.message);
                    }
                }
            }
        }

    function loadList(userID,callback){
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/getListsName?userID="+encodeURIComponent(userID), true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlhttp.send(null);
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    try{
                        var lists=JSON.parse(xmlhttp.responseText);
                        callback(lists);
                    }catch(e){
                        console.log(e.message);
                    }
                }
            }
        }
<% } else { %>

<% }%>

</script>