<div class="content" id="content">
    <% if(user){ %>
    <% try {%>
    <% if(user.nickname!=blocks.nickname.html[0]){ %>
        <div class="m_user_sect">
            
            <div class="m_ava_container">
                <img class = "m_ava_img" src = "photos/<%=blocks.avatar%>" />
            </div>
            <div class="m_ava_info">
                <span class = "m_name"><%=blocks.name%></span>
                <br/><span class = "m_name"><%=blocks.surname%></span>
                <br/><span class="m_user_name"><%=blocks.nickname%></span>
                <br/>
            </div>
            <div class="m_ava_foll">
                <button onclick="location.href='/following?username=<%=blocks.nickname%>'" type="button" class="btn1 btn_main">Following (<span id="m_following"></span>)</button>
                <br>
                <button onclick="location.href='/followers?username=<%=blocks.nickname%>'" type="button" class="btn1 btn_main">Followers (<span id="m_followers"></span>)</button>
                
            </div>
            <div class="foll_butt">
                <div id="foll_status"><button onclick="followUser('<%=blocks.nickname%>',this)" type="button" class="btn_fl_notactive"><i class="fa fa-plus-square"></i> Follow</button></div>
             <button onclick="location.href='/allList?username=<%=blocks.nickname%>&listID=0'" type="button" class="btn1 btn2 btn_main">Lists (<span id="m_listss"></span>)</button>
            </div>
        </div>
        <hr>
    <% } %>
    <%}catch(e){console.log(e.message)}%>
    <% } else { %>
        <div class="m_user_sect">
            
            <div class="m_ava_container">
                <img class = "m_ava_img" src = "photos/<%=blocks.avatar%>" />
            </div>
            <div class="m_ava_info">
                <span class = "m_name"><%=blocks.name%></span>
                <br/><span class = "m_name"><%=blocks.surname%></span>
                <br/><span class="m_user_name"><%=blocks.nickname%></span>
                <br/>
            </div>
            <div class="m_ava_foll">
                <button onclick="location.href='/following?username=<%=blocks.nickname%>'" type="button" class="btn1 btn_main">Following (<span id="m_following"></span>)</button>
                <br>
                <button onclick="location.href='/followers?username=<%=blocks.nickname%>'" type="button" class="btn1 btn_main">Followers (<span id="m_followers"></span>)</button>
                
            </div>
            <div class="foll_butt foll_butt1">
             <button onclick="location.href='/allList?username=<%=blocks.nickname%>&listID=0'" type="button" class="btn1 btn2 btn_main">Lists (<span id="m_listss"></span>)</button>
            </div>
        </div>
        <hr>
    <% }%>

    <div id="m_main_side">

    
        
    
        <button onclick="newsShow()" type="button" id="news_but">News</button>
        <button onclick="userActivityShow()" type="button" id="user_activ_but">User Activity</button>
    </div>
    <div id="m_show_block">
        <div id="m_main_stat">
        </div>
        <div id="m_part_news">
        </div>
        <div id="m_more_btn">
        </div>
    </div>
    
</div>

<script type="text/javascript">
    
    //newsBlock('<%=blocks.nickname%>');
    <% if(user){ %>
    var meUser = '<%=user.nickname%>';
    <% } else { %>
    var meUser = '';
    <% }%>
    var otherUser = '<%=blocks.nickname%>';
    if (meUser !== otherUser) {
    	loadFollowersNumber('<%=blocks.nickname%>');
	    loadFollowingNumber('<%=blocks.nickname%>');
	    loadList('<%=blocks.nickname%>', showListNum);
	    followStatus();
        userActivityShow();
    } else {
        newsShow();
    }

    function followStatus() {
        <% if(user){ %>
        var meUser = '<%=user.nickname%>';
        var otherUser = '<%=blocks.nickname%>';
        loadUsers(meUser, otherUser, checkFollowing);
        <% } else { %>
        <% }%>
        
    }

    function checkFollowing(users, otherUser) {
        var code = '';
        for (var i = 0; i < users.length; i++) {
            if (users[i].userName === otherUser) {
                //code = '<button onclick=unfollowUser("'+otherUser+'",this) type="button" class="btn btn-xs btn-success flw_btn_size">Following</button>';
                code = '<button onclick=unfollowUser("<%=blocks.nickname%>",this) type="button" class="btn_fl_active"><i class="fa fa-check"></i> Following</button>';
                document.getElementById('foll_status').innerHTML = code;
                break;
            }
        }
    }

    function loadUsers(userID, otherUser, callback){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getFollowing?userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{
                    var users = JSON.parse(xmlhttp.responseText);
                    callback(users, otherUser);
                }catch(e){
                    console.log(e.message);
                }

            }
        }
    }

    function showListNum(lists){
        document.getElementById('m_listss').innerHTML = lists.length;
    }

    function loadFollowersNumber(userID){
        var num = 0;
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getCountFollowers?userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{

                    num = JSON.parse(xmlhttp.responseText);
                    document.getElementById('m_followers').innerHTML = num;
                }catch(e){
                    console.log(e.message);
                }
            }
        }
    }

    function loadFollowingNumber(userID){
        var num = 0;
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getCountFollowing?userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{

                    num = JSON.parse(xmlhttp.responseText);
                    document.getElementById('m_following').innerHTML = num;
                }catch(e){
                    console.log(e.message);
                }
            }
        }
    }

    function loadList(userID,callback){
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/getListsName?userID="+encodeURIComponent(userID), true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlhttp.send(null);
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    try{
                        var lists=JSON.parse(xmlhttp.responseText);
                        callback(lists);
                    }catch(e){
                        console.log(e.message);
                    }
                }
            }
        }

    function followUser(userID, objButton){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/addFollowing?userID="+userID, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                objButton.className="btn_fl_active";
                objButton.innerHTML='<i class="fa fa-check"></i> Following';
                objButton.onclick=function(){unfollowUser (userID,objButton);}
            }
        }
    }

    function unfollowUser(userID, objButton){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/removeFollowing?userID="+userID, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                objButton.className="btn_fl_notactive";
                objButton.innerHTML='<i class="fa fa-plus-square"></i> Follow';
                objButton.onclick=function(){followUser(userID, objButton);}
            }
        }
    }

    function userActivityShow() {
        document.getElementById('m_main_stat').innerHTML = 'User Activity';
        activityRequest('<%=blocks.nickname%>', latestActivity, 0, 10);
    }

    function newsShow() {
        document.getElementById('m_main_stat').innerHTML = 'News';
        newsRequest('<%=blocks.nickname%>', beforeCheckData, 0, 10);

    }

    function activityRequest(userID, callback, start_point, end_point) {
    	if (start_point === 0) {
    		document.getElementById('m_part_news').innerHTML = '';
    	}
        document.getElementById('m_more_btn').innerHTML = 'loading...';
        var xmlhttp;
        if (window.XMLHttpRequest) {
            xmlhttp = new XMLHttpRequest();
        }
        else {
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.open("GET", "/getYourRecords?userID="+encodeURIComponent(userID)+"&from="+encodeURIComponent(start_point)+"&to="+encodeURIComponent(end_point), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                try {
                    document.getElementById('m_more_btn').innerHTML = '';
                    if (start_point !== 0) {
                        document.getElementById('m_more').outerHTML = '';
                    }
                    var dataJSON = JSON.parse(xmlhttp.responseText);
                    callback(userID, dataJSON, start_point, end_point);
                }
                catch(e) {
                    console.log(e.message);
                }

            }
        }
    }

    function newsRequest(userID, callback, start_point, end_point) {
    	if (start_point === 0) {
    		document.getElementById('m_part_news').innerHTML = '';
    	}
        document.getElementById('m_more_btn').innerHTML = 'loading...';

        var xmlhttp;
        if (window.XMLHttpRequest) {
            xmlhttp = new XMLHttpRequest();
        } else {
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.open("GET","getNews?userID=" + userID + "&from=" + start_point + "&to=" + end_point, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                try {
                    document.getElementById('m_more_btn').innerHTML = '';
                    if (start_point !== 0) {
                        document.getElementById('m_more').outerHTML = '';
                    }
                    
                    var dataJSON = JSON.parse(xmlhttp.responseText);
                    callback(userID, dataJSON, start_point, end_point);
                    //beforeCheckData(userID, dataJSON, start_point, end_point, showRecords);
                }
                catch(e) {
                    console.log(e.message);
                }

            }
        }
    }

    function latestActivity(userID, dataJSON, start_point, end_point) {
        //document.getElementById('m_show_block').innerHTML += '<div id="m_more_btn"></div>';
        checkData(userID, dataJSON, start_point, end_point);
    }

    function beforeCheckData(userID, dataJSON, start_point, end_point) {
        checkData1(userID, dataJSON, start_point, end_point, nextRecords1);
    }

    function checkData1(userID, dataJSON, start_point, end_point, callback) {
        var code = '';
        var filmsIDs = [];
        var counter = 0;
        var counter1 = 0;
        var counter2 = 0;
        var s = 0;
        for (var i = 0; i < dataJSON.length; i++) {
            if (dataJSON[i].Info === "AddFilm") {
                filmsIDs[counter] = dataJSON[i].Subject.idFilm;
                counter++;
            }
        }
        var readyLists = [];
        var f1 = function(userName, i) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/getListsName?userID="+encodeURIComponent(userName), true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlhttp.send(null);
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    try{
                        readyLists[counter1]=JSON.parse(xmlhttp.responseText);
                        counter1++;
                        s++;
                        sortLists(i+1);
                        //f4();
                    }catch(e){
                        console.log(e.message);
                    }
                }
            }
        }
        var readyFilmData;
        var f2 = function(filmsIDs) {
            $.ajax({
                type:  'post',
                cache:  false ,
                url:  'getFilm',
                data:  {films:filmsIDs},
                success: function(filmData) {
                    readyFilmData = filmData;
                    s++;
                    f4();
                } 
            });
        }
        var userData = [];
        var f3 = function(userName, i) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/getUserInfo?userID="+encodeURIComponent(userName), true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlhttp.send(null);
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    try{
                        userData[counter2]=JSON.parse(xmlhttp.responseText);
                        counter2++;
                        s++;
                        sortUsers(i+1)
                        //f4();
                    }catch(e){
                        console.log(e.message);
                    }
                }
            }
        }
        var f4 = function(f) {
            

            if (s === (counter+dataJSON.length+1)) {
                s = 0;
                //Сортирую фильмы
                var sortedFilmData = [];
                for (var i = 0; i < filmsIDs.length; i++) {
                    for (var j = 0; j < readyFilmData.length; j++) {
                        if (filmsIDs[i] === readyFilmData[j].imdbID) {
                            sortedFilmData[i] = readyFilmData[j];
                            break;
                        }
                    }
                }
                callback(userID, dataJSON, readyLists, userData, sortedFilmData, start_point, end_point);
            }
        }

        var sortLists = function(i) {
            if (i < dataJSON.length) {
                if (dataJSON[i].Info === "AddFilm") {
                    
                    f1(dataJSON[i].Object, i);
                } else {
                    sortLists(i+1);
                }
            } else {
                f4();
            }
        }
        var sortUsers = function(i) {
            if (i < dataJSON.length) {

                f3(dataJSON[i].Object, i);
            } else {
                f4();
            }
        }

        f2(filmsIDs);
        sortLists(0);
        sortUsers(0);

    }

    function showDate(date) {
        var ndate = new Date(date);
        var sdate = ndate.toISOString();
        var code = '';

        var templates = {
        prefix: "",
        suffix: " ago",
        seconds: "less than a minute",
        minute: "a minute",
        minutes: "%d minutes",
        hour: "an hour",
        hours: "%d hours",
        day: "a day",
        days: "%d days",
        month: "a month",
        months: "%d months",
        year: "a year",
        years: "%d years"
        };
        var template = function(t, n) {
            return templates[t] && templates[t].replace(/%d/i, Math.abs(Math.round(n)));
        };

        var timer = function(time) {
            if (!time)
                return;
            time = time.replace(/\.\d+/, ""); // remove milliseconds
            time = time.replace(/-/, "/").replace(/-/, "/");
            time = time.replace(/T/, " ").replace(/Z/, " UTC");
            time = time.replace(/([\+\-]\d\d)\:?(\d\d)/, " $1$2"); // -04:00 -> -0400
            time = new Date(time * 1000 || time);

            var now = new Date();
            var seconds = ((now.getTime() - time) * .001) >> 0;
            var minutes = seconds / 60;
            var hours = minutes / 60;
            var days = hours / 24;
            var years = days / 365;

            return templates.prefix + (
                    seconds < 45 && template('seconds', seconds) ||
                    seconds < 90 && template('minute', 1) ||
                    minutes < 45 && template('minutes', minutes) ||
                    minutes < 90 && template('hour', 1) ||
                    hours < 24 && template('hours', hours) ||
                    hours < 42 && template('day', 1) ||
                    days < 30 && template('days', days) ||
                    days < 45 && template('month', 1) ||
                    days < 365 && template('months', days / 30) ||
                    years < 1.5 && template('year', 1) ||
                    template('years', years)
                    ) + templates.suffix;
        };
        code += timer(sdate);

        return code;
    }

    function nextRecords1(userID, dataJSON, lists, userData, filmData, start_point, end_point) {
        var code = '';
        var counter = 0;
        var posterImg = '';
        for (var i = 0; i < dataJSON.length; i++) {
            if (dataJSON[i].Info === 'AddFollowing') {
                code += '<div class="news_add_following">';
                code += '<div class="m_rec_1">' +
                		'<div class="m_rec_2">' +
                		'<img class="m_ava_records" src="http://dipolium.com/photos/'+userData[i].ava+'" alt="'+dataJSON[i].Object+'">' +
                		'</div>' +
                		'<div class="m_rec_3">' +
                		'<a href=/id_'+dataJSON[i].Object+' >'+escapeHtml(dataJSON[i].Object)+'</a>' +
                		'</div>' +
                        '<div class="m_rec_date">'+showDate(dataJSON[i].Date)+'</div>' +
                		'</div>' +
                		'<div class="sttrt_flwg">started following</div>' + 
                		'<a href=/id_'+dataJSON[i].Subject+' >'+escapeHtml(dataJSON[i].Subject)+'</a>';
                code += '</div>';
            } else if (dataJSON[i].Info === 'AddFilm') {

                if (filmData[counter].PosterOur != "A") {
                    posterImg = filmData[counter].PosterOur;
                } else {
                    posterImg="noPoster.jpg";
                }
                code += '<div class="m_rec_flm">' +
                        '<div class="m_rec_1">' +
                        '<div class="m_rec_2">' +
                        '<img class="m_ava_records" src="http://dipolium.com/photos/'+userData[i].ava+'" alt="'+dataJSON[i].Object+'">' +
                        '</div>' +
                        '<div class="m_rec_3">' +
                        '<a href=/id_'+dataJSON[i].Object+' >'+escapeHtml(dataJSON[i].Object)+'</a>' +
                        '</div>' +
                        '<div class="m_rec_date">'+showDate(dataJSON[i].Date)+'</div>' +
                        '</div>';
                code += '<div class="m_rec_addd">';
                code += ' added a movie to the list <a href="/allList?username='+dataJSON[i].Object+'&listID='+dataJSON[i].Subject.idList+'">' + escapeHtml(lists[counter][dataJSON[i].Subject.idList]) + '</a>:';
                code += '<br><div class="m_rec_movie">' +
                        '<div>' +
                        '<div class="m_poster_shadow_lsts">' +
                        '<img class="m_poster_lsts" src="/posters/'+posterImg+'" alt = "'+filmData[counter].Title+'"  />' +
                        '</div>' +
                        '<div class="m_lsts_descr">' +
                        '<a class="" href="/films/'+filmData[counter].imdbID+'">'+filmData[counter].Title+' ('+filmData[counter].Year+')</a>' +
                        '<div class="">Genre: '+filmData[counter].Genre+'</div>' +
                        '<div class="">Country: '+filmData[counter].Country+'</div>' +
                        '</div>';
                        counter++;
                if (dataJSON[i].Subject.comment !== "") {
                    code += '<div style="clear: both;"></div>' +
                            '<div class="m_beforerec_comm">' +
                            '<i class="fa fa-comment-o"></i>' +
                            '</div>' +
                            '<div class="m_rec_comm">' +
                            dataJSON[i].Subject.comment +
                            '</div>';
                }
                code += '</div>';
                code += '</div>';
                code += '</div>';   
                code += '</div>'; 
            } else console.log('Rubbish news');
        }

        if (dataJSON.length === (end_point - start_point)) {
            //code += '<div id="m_more" class="alm_more2">SHOW MORE</div>';
            //document.getElementById('m_more_btn').innerHTML = '<div id="m_more" class="alm_more2">SHOW MORE</div>';
            code += '<div id="m_more" class="alm_more2">SHOW MORE</div>';
        }
        //if (start_point === 0) {
        //    document.getElementById('m_part_news').innerHTML = code;
        //} else {
            //document.getElementById('m_part_news').insertAdjacentHTML('beforeend',code);
        //}
        if (start_point === 0) {
            document.getElementById('m_part_news').innerHTML = code;
        } else {
            document.getElementById('m_part_news').insertAdjacentHTML('beforeend',code);
        }
        if (dataJSON.length === (end_point - start_point)) {
            //code += '<div id="m_more" class="alm_more2">SHOW MORE</div>';
            var something = document.getElementById('m_more');
            something.onclick = function() {
              var tmp = end_point - start_point;
              start_point += tmp;
              end_point += tmp;
              newsRequest('<%=blocks.nickname%>', beforeCheckData, start_point, end_point);
              //activityRequest('<%=blocks.nickname%>', latestActivity, start_point, end_point);
              document.getElementById('m_more').innerHTML = 'loading...';
            };
        }

    }

    

    function nextRecords(userID, dataJSON, readyLists, sortedFilmData, start_point, end_point) {
        var code = '';
        var counter = 0;
        //console.log(readyLists);
        for (var i = 0; i < dataJSON.length; i++) {
            if (dataJSON[i].Info === 'AddFollowing') {
                code += '<div class="news_add_following">';
                code += '<div class="m_rec_1">' +
                		'<div class="m_rec_2">' +
                		'<img class="m_ava_records" src="http://dipolium.com/photos/<%=blocks.avatar%>" alt="'+userID+'">' +
                		'</div>' +
                		'<div class="m_rec_3">' +
                		'<a href=/id_'+userID+' >'+escapeHtml(userID)+'</a>' +
                		'</div>' +
                        '<div class="m_rec_date">'+showDate(dataJSON[i].date)+'</div>' +
                		'</div>' +
                		'<div class="sttrt_flwg">started following</div>' + 
                		'<a href=/id_'+dataJSON[i].Subject+' >'+escapeHtml(dataJSON[i].Subject)+'</a>';
                code += '</div>';
            } else if (dataJSON[i].Info === 'AddFilm') {
                if (sortedFilmData[counter].PosterOur != "A") {
                    posterImg = sortedFilmData[counter].PosterOur;
                } else {
                    posterImg="noPoster.jpg";
                }
                code += '<div class="m_rec_flm">' +
                        '<div class="m_rec_1">' +
                        '<div class="m_rec_2">' +
                        '<img class="m_ava_records" src="http://dipolium.com/photos/'+userID+'.png" alt="'+userID+'">' +
                        '</div>' +
                        '<div class="m_rec_3">' +
                        '<a href=/id_'+userID+' >'+escapeHtml(userID)+'</a>' +
                        '</div>' +
                        '<div class="m_rec_date">'+showDate(dataJSON[i].date)+'</div>' +
                        '</div>';
                code += '<div class="m_rec_addd">';
                code += ' added a movie to the list <a href="/allList?username='+userID+'&listID='+dataJSON[i].Subject.idList+'">' + readyLists[dataJSON[i].Subject.idList] + '</a>:';
                code += '<br><div class="m_rec_movie">' +
                        '<div>' +
                        '<div class="m_poster_shadow_lsts">' +
                        '<img class="m_poster_lsts" src="/posters/'+posterImg+'" alt = "'+sortedFilmData[counter].Title+'"  />' +
                        '</div>' +
                        '<div class="m_lsts_descr">' +
                        '<a class="" href="/films/'+sortedFilmData[counter].imdbID+'">'+sortedFilmData[counter].Title+' ('+sortedFilmData[counter].Year+')</a>' +
                        '<div class="">Genre: '+sortedFilmData[counter].Genre+'</div>' +
                        '<div class="">Country: '+sortedFilmData[counter].Country+'</div>' +
                        '</div>';
                if (dataJSON[i].Subject.comment !== "") {
                    code += '<div style="clear: both;"></div>' +
                            '<div class="m_beforerec_comm">' +
                            '<i class="fa fa-comment-o"></i>' +
                            '</div>' +
                            '<div class="m_rec_comm">' +
                            dataJSON[i].Subject.comment +
                            '</div>';
                }
                code += '</div>';
                code += '</div>';
                code += '</div>';   
                code += '</div>'; 
                counter ++;             
            } else console.log('Rubbish news');
        }
        if (dataJSON.length === (end_point - start_point)) {
            code += '<div id="m_more" class="alm_more2">SHOW MORE</div>';
            
        }
        if (start_point === 0) {
            document.getElementById('m_part_news').innerHTML = code;
        } else {
            document.getElementById('m_part_news').insertAdjacentHTML('beforeend',code);
        }
        if (dataJSON.length === (end_point - start_point)) {
            //code += '<div id="m_more" class="alm_more2">SHOW MORE</div>';
            var something = document.getElementById('m_more');
            something.onclick = function() {
              var tmp = end_point - start_point;
              start_point += tmp;
              end_point += tmp;
              activityRequest('<%=blocks.nickname%>', latestActivity, start_point, end_point);
              document.getElementById('m_more').innerHTML = 'loading...';
            };
        }

    }

    function checkData(userID, dataJSON, start_point, end_point) {
        var code = '';
        var filmsIDs = [];
        var counter = 0;
        var s = 0;   
        for (var i = 0; i < dataJSON.length; i++) {
            if (dataJSON[i].Info === "AddFilm") {
                filmsIDs[counter] = dataJSON[i].Subject.idFilm;
                counter++;
            }
        }
        var readyLists;
        var f1 = function(userID) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/getListsName?userID="+encodeURIComponent(userID), true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlhttp.send(null);
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    try{
                        readyLists=JSON.parse(xmlhttp.responseText);
                        s++;
                        f3();
                    }catch(e){
                        console.log(e.message);
                    }
                }
            }
        }
        var readyFilmData;
        var f2 = function(filmsIDs) {
            $.ajax({
                type:  'post',
                cache:  false ,
                url:  'getFilm',
                data:  {films:filmsIDs},
                success: function(filmData) {
                    readyFilmData = filmData;
                    s++;
                    f3();
                } 
            });
        }
        var f3 = function(f) {
            if (s === 2) {
                s = 0;
                //Сортирую фильмы
                var sortedFilmData = [];
                for (var i = 0; i < filmsIDs.length; i++) {
                    for (var j = 0; j < readyFilmData.length; j++) {
                        if (filmsIDs[i] === readyFilmData[j].imdbID) {
                            sortedFilmData[i] = readyFilmData[j];
                            break;
                        }
                    }
                }
                nextRecords(userID, dataJSON, readyLists, sortedFilmData, start_point, end_point);
            }
        }
        f2(filmsIDs);
        f1(userID);
    }

    /*function newsBlock(userID){
        newsRequest(userID, 0, 15);
    }

    function latestNews(userID, newCode, start_point, end_point, news_length) {
        var start_point = parseInt(start_point,10);
        var end_point = parseInt(end_point,10);
        var code = '';
        var shift = 0;
        shift = end_point - start_point;
        code += '<div class="m_news_real">';
        code += newCode;
        code += '</div>';
        if (news_length >= shift) {   
            start_point += shift;
            end_point += shift;
            code += '<div id="m_more" class="alm_more" onclick = newsRequest("'+userID+'","'+start_point+'","'+end_point+'")>SHOW MORE</div>';
            //code += '<div id="more_btn"><button id="morebtn0" class="btn btn-default btn-sm" type="button" onclick = newsRequest("'+userID+'","'+start_point+'","'+end_point+'")>Show more</button></div>';
        }
        document.getElementById('m_main_side').innerHTML += code;
    }

    function showDate(date) {
        var code = '';
        code += '<div class="day">' +
                '<b><p>' + date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + '</p></b>' +
                '</div>' +
                '<br>';
        return code;
    }

    function imageRet(data) {
        var code = '';
        var posterImg = '';
        if (data.poster != "A") {
            posterImg = data.poster;
        } else {
            posterImg="noPoster.jpg";
        }
        code += '<div class="lsts_film_container2">' +
                '<div class="film_in_news2">' +
                '<a href="/films/'+data.id+'"><img class="film_poster_in_news2" src="/posters/'+posterImg+'" alt="'+data.title+'"></a>' +
                '</div>' +
                '<div class="actions">' +
                '<a class="lsts_film_name" href="/films/'+data.id+'">'+data.title+' (year)</a>' +
                '<div class="as_film_descr">' +
                '<div>Сountry: USA</div>' +
                '</div>' +
                '</div>' +
                '</div>';
        return code;
    }

    function showNews(dataJSON, i, tmp) {
        var code = '';
        if (dataJSON[i].Info === 'AddFollowing') {
            code += '<br><a href=/id_'+dataJSON[i].Object+' >'+dataJSON[i].Object +'</a>'
            code += ' started following ';
            code += '<a href=/id_'+dataJSON[i].Subject+' >'+dataJSON[i].Subject +'</a>' +
                    '<br>';
        } else if (dataJSON[i].Info === 'AddFilm') {
            if (i > 0) {
                if (dataJSON[i].Subject.list !== dataJSON[i-1].Subject.list || tmp === 1) {
                    if (tmp === 0) {
                        code +='<br>';
                    }
                    if ((i+1) < dataJSON.length) {
                        code += smartAlg1(dataJSON[i].Object, dataJSON[i].Subject.list, dataJSON[i+1].Subject.list, dataJSON[i].Subject.film);
                    } else {
                        code += smartAlg1(dataJSON[i].Object, dataJSON[i].Subject.list, '', dataJSON[i].Subject.film);
                    }
                    
                } else {
                    //code += imageRet(dataJSON[i].Subject.film.title);
                    code += imageRet(dataJSON[i].Subject.film);
                }
            } else if (i === 0) {
                if ((i+1) < dataJSON.length) {
                    code += smartAlg1(dataJSON[i].Object, dataJSON[i].Subject.list, dataJSON[i+1].Subject.list, dataJSON[i].Subject.film);
                } else {
                    code += smartAlg1(dataJSON[i].Object, dataJSON[i].Subject.list, '', dataJSON[i].Subject.film);
                }
            }
            
        } else console.log('Rubbish news');
        return code;
    }

    function smartAlg1(obj, subjLst, newSubjLst, fData) {
        var code = '';
        code += '<a href=/id_'+obj+' >'+obj +'</a>';
                try {
                    if (subjLst === newSubjLst) {
                        code += ' added movies ';
                    } else {
                        code += ' added a movie ';
                    }
                } catch(e) {
                    console.log(e);
                }
                
                //code += dataJSON[i].Subject.idFilm;
                //code += dataJSON[i].Subject.film.title;
                code += ' to the list ';
                //code += dataJSON[i].Subject.idList;
                code += '<a href="#" >'+subjLst+'</a>';
                code += ':';
                code += '<br><div class="space_us1"></div>';
                code += imageRet(fData);
        return code;
    }

    function sectionnews(dataJSON) {
        var oldNewsDate = new Date();

        var code = '';
        //Проходим с конца в начало, чтобы свежие новости были сверху
        for (var i = 0; i < dataJSON.length; i++) {
            var tmp;
            //Сохраняем дату каждой новости
            var newsDate = new Date(dataJSON[i].Date);
            //Если первая новость за всю историю
            if (i === 0) {
                code += '<br>';
                code += showDate(newsDate);
                code += showNews(dataJSON, i);
            }
            //Если последующая новость датируется тем же днем что и предыдущая, тогда не прописуем новую дату
            else if (newsDate.getFullYear() === oldNewsDate.getFullYear() && newsDate.getMonth() === oldNewsDate.getMonth() && newsDate.getDay() === oldNewsDate.getDay() && (dataJSON[i].Info === 'AddFollowing' || dataJSON[i].Info === 'AddFilm')) {
                tmp = 0;
                code += showNews(dataJSON, i, tmp);
            }
            //Если последующая новость датируется новой датой, то прописывем эту дату и дальше новости
            else if (dataJSON[i].Info === 'AddFollowing' || dataJSON[i].Info === 'AddFilm'){
                tmp = 1;
                code += '<div class="small_line"></div>';
                code += '<br>';
                code += showDate(newsDate);
                code += showNews(dataJSON, i, tmp);
            }
            oldNewsDate = newsDate;
        }
        return code;
    }*/

    function escapeHtml(text) {
      return text
          .replace(/&/g, "&amp;")
          .replace(/</g, "&lt;")
          .replace(/>/g, "&gt;")
          .replace(/"/g, "&quot;")
          .replace(/'/g, "&#039;");
    }

</script>