<div id="content" class="snap-content">
    <div id="toolbar">
        <a href="#" id="open-left"></a>
        <div class="m_nav">
	        <form action="/searchPage" method="get">
	        	<input type="text" class="m_movie_search" id="navvy_bar" name='searchText' placeholder="Search movie...">
	        </form>
        </div>
        <div id="m_main_side">
            Settings are under development.
        </div>       
    </div>
</div>

<script type="text/javascript">
    
</script>