

body {
  padding-top: 50px;
  padding-bottom: 40px;
  color: #5a5a5a;
}
.carousel-caption {
  z-index: 10;
}

@media (max-width: 400px) {

  .carousel {
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 0.04em solid grey;
  }
  .carousel-inner > .item > img {
    margin: auto;
    height: 80%;
  }
  .carousel .item {
    margin-top: 20px;
    height: 200px;
    background-color: #E4E4E4FF;
  }

  .carousel-caption h1 {
    color: #36394e;
    font-size: 12px;
    margin-bottom: -15px;
  }
  .reg_l input {
    width:255px;
  }
  .gs_pos {
    position: relative;
    top: -10px;
    left: 50%;
    margin-left: -82px;
    z-index: 100;
  }
}

@media (min-width: 399px) and (max-width: 649px) {
  /* Carousel base class */
  .carousel {
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 0.04em solid grey;
  }
  .carousel-inner > .item > img {
    margin: auto;
    height: 80%;
  }
  .carousel .item {
    margin-top: 20px;
    height: 200px;
    background-color: #E4E4E4FF;
  }

  .carousel-caption h1 {
    color: #36394e;
    font-size: 12px;
    margin-bottom: -15px;
  }
  .reg_l input {
    width:255px;
  }
  .gs_pos {
    position: relative;
    top: -10px;
    left: 50%;
    margin-left: -82px;
    z-index: 100;
  }
}

@media (min-width: 650px) {
  /* Carousel base class */
  .carousel {
    height: 480px;
    margin-bottom: 60px;
    border-bottom: 0.04em solid grey;
  }
  .carousel-inner > .item > img {
    margin: auto;
    height: 73%;
  }
  .carousel .item {
    margin-top: 20px;
    height: 500px;
    background-color: #E4E4E4FF;
  }
  .carousel-caption h1 {
    color: #36394e;
    margin-bottom: 35px;
    /*margin-bottom: -15px;*/
    font-size: 24px;
  }
  .carousel-caption button {
    position: relative;
    bottom: -35px;
  }
  .reg_networks {
    margin-left: 45px;
  }
  .reg_l {
    margin-left: 20px;
  }
  .search_reg {
    width: 175px!important;
  }
  .gs_pos {
    position: relative;
    top: -83px;
    left: 50%;
    margin-left: -82px;
    z-index: 100;
  }
}

.soc_net_src {
  margin-top: 20px;
  text-align: center;
}








