

/* Facebook */
.fb-icon-bg {
    background: #354f88;
    height: 37px;
    margin: 0 0 -37px 0;
    width: 41px;
}

.fb-icon-bg:after {
    content: url(http://dipolium.com/icons/facebook-16.png);
    display: block;
    padding: 11px 14px;
}

.fb-bg {
    background: #3b5998;
    display: block;
    height: 37px;
    margin: 0 0 30px 41px;
    width: 205px;
}

.fb-bg:after {
    color: #fff;
    content: "sign up with facebook";
    font-family: 'Oswald', sans-serif;
    height: 37px;
    left: 8%;
    position: relative;
    text-transform: uppercase;
    top: 22%;
    width: 41px;
}

.fb-bg:hover{
    cursor: pointer;
}

.fb-bg:active{
    background: #354f88;
}

/* Twitter */
.twi-icon-bg:after {
    content: url(http://dipolium.com/icons/twitter-16.png);
    display: block;
    padding: 11px 14px;
}

.twi-icon-bg {
    background: #40a2d1;
    height: 37px;
    margin: 0 0 -37px 0;
    width: 41px;
}

.twi-bg {
    background: #45b0e3;
    height: 37px;
    margin: 0 0 30px 41px;
    width: 205px;
}

.twi-bg:after {
    color: #fff;
    content: "sign up with twitter";
    font-family: 'Oswald', sans-serif;
    height: 37px;
    left: 11%;
    position: relative;
    text-transform: uppercase;
    top: 22%;
    width: 41px;
}

.twi-bg:hover {
    cursor: pointer;
}

.twi-bg:active {
    background: #40a2d1;
}

/* Google+ */
.g-icon-bg:after {
    content: url(http://dipolium.com/icons/google-plus-16.png);
    display: block;
    padding: 11px 14px;
}

.g-icon-bg {
    background: #ce3e26;
    height: 37px;
    margin: 0 0 -37px 0;
    width: 41px;
}

.g-bg {
    background: #de4c34;
    height: 37px;
    margin-left: 41px;
    width: 205px;
}

.g-bg:after {
    color: #fff;
    content: "sign up with google+";
    font-family: 'Oswald', sans-serif;
    height: 37px;
    left: 10%;
    position: relative;
    text-transform: uppercase;
    top: 22%;
    width: 41px;
}

.g-bg:hover {
    cursor: pointer;
}

.g-bg:active {
    background: #ce3e26;
}

#leftreg {

}

#rightreg {
    position: relative;
    margin-left: 600px;
    font-size: 14px;
    margin-bottom: 100px;

}

#rightreg h3 {
    color: #2c3e50;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-top: 400px;
    position: relative;
    text-align: center;
    width: 100%;
}

#rightreg h1 {
    color: #e74c3c;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    margin-top: 50px;
    position: relative;
    text-align: center;
    width: 100%;
}

/* Link styles */
#rightreg a, a:visited, a:hover {
    /*color: #e74c3c;*/
    /*text-decoration: none;*/
}

#rightreg a:hover {
    color: #a05772;
}

/* Styles for buttons container */
#rightreg .container {
    left: 50%;
    margin: -86px 0 0 -103px;
    position: absolute;
    top: 50%;
}

#regbtn {
    width: 245px;
}

.input-xlarge {
    width: 245px;
}