@font-face {
    font-family: Myriad;
    src: url(Myriad_Web_Pro.ttf);
}
* {
    font-family: "Helvetica Neue", 'PT Sans', sans-serif;
}
html {
  
  background: #f9fcff; 
  font-size: 13px;
    background-color: white;
}
#main {
  width: 800px;
  margin: auto;
}
/*NAVIGATIONE!!!!!!*/
nav {
  /*width: 701px;
  height: 100px;
  text-decoration: none;
  border-radius: 3px;
  background: #818ec5;
  box-shadow: 0 -3px #4f65bf inset;
  transition: 0.2s;*/
  /*background: rgb(59,112,156);*/
}

#logo {
  font-family: sans-serif;
  font-size: 24px;
  padding: 0px 0px 0px 15px;
  height: 30px;
  display: inline-block;
  text-align: center;
  vertical-align: center;
  margin-left: 270px;
  margin-top: 15px;
}
/*див для строки поиска*/
#form_Text {
  display: inline-block;
  height: 100px;
  margin-left: 215px;
  margin-top: 10px;
}
#search_input {
  width: 250px;
  height: 15px;
  margin: 3px 0px 0px 20px;
}
#go {
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(64,199,129); /* фон кнопки */
  padding: 1px 12px 1px 12px; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  /*Отступ к след элементу*/
  margin-right: 120px;
}
#go:hover {
  background: rgb(53, 167, 110);
}
#go:active {
  background: rgb(33,147,90);
}
.navButton {
  background-color:rgba(54,87,148,0);
  width: 60px;
  height: 30px;
  vertical-align: middle;
  text-align: center;
  color: black;
  font-family: sans-serif;
  text-decoration: none;
  padding: 8px 5px 6px 5px;
  font-size: 13px;
  color: rgb(53,167,110);
}
.navButton:hover {
  background: rgb(53, 167, 110);
  color: #ffffff;
}
.navButton:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}
/*!!!!!NAVIGATIONE*/
/*SECTIONE!!!!!!!!!!*/
section {
  /*background-color: #d6d8e0;*/
  /*width: 540px;
  float: right;
  margin-top: 10px;*/
}
#leftsec {
  height: 100px;
  width: 180px;
  display: inline-block;
  margin-top: 10px;
}
#leftsectable {
  height: 100px;
  font-size: 11px;
}
/*Аватар*/
#secimg {
  border-radius: 100%;
  height: 60px;
  width: 60px;
}
#settings {
  margin-left: 12px;
  line-height: 15px;
  
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #4f65bf; /* фон кнопки */
  padding: 0px 5px 0px 5px; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  font-size: 13px;
}
#settings:hover {
  background: #818ec5;
}
#settings:active {
  background: #818ec5;
}
/*Отступ ячейки с Именем, Фамилией и тд от левой границы*/
#bob {
  padding-left: 10px;
  width: 100px;
}
/*Имя и Фамилия профиля*/
.name {
  font-size: 13px;
}
.follow {
  margin-top: 8px;
  padding:0px 9px 0px 5px;
}

.follows {  
  line-height: 15px;
  
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #4f65bf; /* фон кнопки */
  padding: 0px 8px 0px 5px; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
}
.follows:hover {
  background: #818ec5;
}
.follows:active {
  background: #818ec5;
}
#rightsec {
  height: 250px;
  width: 515px;
  display: inline-block;
  line-height: 10px;
}
#rightsec img {
  width: 550px;
  margin-left: 0px;
}
#right_post {
  width: 550px;
  margin: 0px 0px 0px 0px;
}
/*!!!!!!!!!SECTIONE*/

/*ARTICLE!!!!!!*/
article {
    width: 540px;
    float: right;
    margin-top: 10px;
}
.day_news {
  background-color: rgb(249, 249, 249);
  padding: 12px 12px 13px 10px;
  border-radius: 2%;
}
.day {
  /*background-color: #4f65bf;*/
  border-radius: 20%;
  display: block;
  margin-bottom: 10px;
  /*color: white;*/
}
/*Див фильмов в новостях*/
.film_in_news {
  display: inline-block;
}
.film_poster_in_news {
  width: 50px;
  display: block;
  margin: auto;
}
/*Ссылка на фильм под постером в новостях*/
.film_href_in_news {
  font-size: 10px;
}
/*!!!!!ARTICLE*/

/*ASIDE!!!!!!!!*/
/*блок со списками*/
aside {
  width: 220px;
  min-height: 500px;
  float: left;
}
#up_lists {
  width: 230px;
  margin-left: 14px;
}
.list {
  cursor: pointer;
   text-decoration: none;
   font-family: PT Sans;
   font-size: 15px;
   color:#eeeeee;
}

.add_m_lsts {
  left: 10px;
}
.list:hover {
  text-decoration: none;
  color: #4f65bf;
}
.list1 {
  cursor: pointer;
   text-decoration: none;
   font-family: PT Sans;
   font-size: 16px;
}

.list1:hover {
  text-decoration: none;
  color: #4f65bf;
}
#addList {
  margin: 0;
  padding-left: 5px;
}

.add_list {
  padding-left: 95px;
}
/*Гармошка*/
:focus {
  outline: 0;
}

/*NEW!!!*/




.small_line {
  height: 1px;
  width: 100%;
  background-color: #d9d9d9;
  clear: both;
  margin-bottom: 10px;
}
.one_film_work {
  margin: 3px 0px 0px 0px;
}
.empty {
  margin: 100px 0px 0px 0px;
  color: gray;
}
/*-NEW*/
/*!!!!!!!ASIDE*/

/*FOOTER!!!!!!!*/
footer {
    margin-top: 10px;
    clear: both;
}

#about {
  float: right;
  margin-right: 10px;
  color: white;
}
/*!!!!!!FOOTER*/

/*WINDOWS!!!!!!*/
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.3);
    overflow:hidden;
    position:fixed;
    top:0px;
    left: 0px;
}
.b-popup .b-popup-content{
    margin:160px auto 0px auto;
    width:500px;
  min-height: 120px;
  max-height: 300px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    overflow: auto;
}
.popup_close {
  float: right;
}

#foll_list {
  width: 150px;
  margin-top: 5px;
  display: inline-block;
}
#foll_list_img {
  display: inline-block;
}
#descr_list_img {
  display: inline-block;
  float: right;
  margin-top: 6px;
}
#unf {
  margin-top: 4px;
  font-size: 11px;
}
.unfollow {
  
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgba(199,63,84,0.88); /* фон кнопки */
  padding: 3px 8px 3px 5px; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
}

.unfollow:hover {
  background: #4f65bf;
}
.unfollow:active {
  background: rgba(255,20,20,1);
}
.ffollow {
  
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(64,199,129); /* фон кнопки */
  padding: 3px 8px 3px 5px; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
}

.ffollow:hover {
  background: rgb(53, 167, 110);
}
.ffollow:active {
  background: rgb(33,147,90);
}
/*!!!!!WINDOWS*/


/*-------------------------------------------------------------------*/


.line {
  height: 1px;
  width: 100%;
  background-color: gray;
  clear: both;
}
/*Декорация всех ссылок*/  
a {
  text-decoration: none !important;
  color: #4f65bf;
}
/*Подчеркивание ссылок в нужных дивах*/
article a:hover {
  text-decoration: underline;
}
a img {
  border: none;
}


/*******-----****/
.fff {
    background-color: rgb(234,234,234);
    border-radius: 2%;
    padding: 5px 0px 5px 70px;
}



.img_container {
    border-radius: 100%;
    background-color: rgb(234,234,234);
    width: 70px;
    height: 70px;
    margin-left: 30px;
    padding-left: 5px;
    padding-top: 5px;
}

#bobby1 {
    padding-left: 30px;
}
#bobby2 {
    padding-left: 3px;
}
a .badge {
    margin-left: 3px;
}

#info {
    margin-left: 30px;
}

.bottom_info {
    /*background-color: rgb(234,234,234);*/
    /*background-color: rgba(188, 195, 219, 0.62);*/
    background-color: #FAFAFA;
    border-radius: 5px;
    border: 0.04em solid #B0AFAC;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
    width: 230px;
    /*box-shadow: 0 0 5px rgba(0,0,0,0.3);*/
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
}

.fffff {
    background-color: rgb(234,234,234);
    border-radius: 2%;
    padding: 5px 0px 5px 70px;
    margin-top: 10px;
}

.lists_lst {
  clear: both;
  width: 230px;
}


#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.caros_text_pos {
    padding: 0px 200px 120px 0px;
}

.info_3 {
    width: 177px;
    display: inline-block;
    padding-top: 25px;
}
.info_4 {
    width: 200px;
    display: inline-block;
    padding-top: 25px;
}

.ava_container {
    border-radius: 100%;
    background-color: rgb(234,234,234);
    width: 72px;
    height: 72px;
    padding: 1px 0 0 1px;
    float: left;
    margin-right: 12px;
}
.ava_container1 {
    border-radius: 100%;
    background-color: rgb(234,234,234);
    width: 64px;
    height: 64px;
    padding: 2px 0 0 2px;
    float: left;
    margin-right: 12px;
}

.ava_img {
    border-radius: 100%;
    height: 70px;
    width: 70px;
    /*box-shadow: 0 0 15px rgba(0,0,0,0.5);*/
}
.ava_img1 {
    border-radius: 100%;
    height: 60px;
    width: 60px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    float: left;
}

.flw_btn_size {
    width: 70px;
}
.flw_btn_size2 {
    width: 85px;
}

.flw_btn_size1 {
    width: 85px;
    background-color: #71cf59!important;
}
.flw_btn_size1:hover {
    background-color: #5EB04C!important;
}

.ava_info {
    float: left;
    width: 140px;
    line-height: 17px;
}
.ava_info1 {
    float: left;
    width: 100px;
    line-height: 17px;
    padding-top: 6px;
}
.ava_info3 {
    float: left;
    width: 140px;
    line-height: 17px;
    margin-top: 10px;
}

.space_us {
    height: 20px;
    clear: both;
}
.space_us1 {
    height: 7px;
    clear: both;
}

.info_1 {
    display: inline-block;
    width: 230px;
    margin-top: 10px;
}

.info_2 {
    clear: both;
    padding-top: 5px;
}
.info_2 .bbb1 {
    color: white !important;
    width: 90px;
}

.user_name {
    font-size: 11px;
}

.user_info {
    margin-top: 10px;
    margin-bottom: 20px;
    float: left;
}



.lst_films {
    height: 200px;
    width: 230px;
    /*border: solid #000000 1px;*/
    background-color: rgb(234,234,234);
    overflow-y: scroll;
    visibility: hidden;
}
.click_lst {
    visibility: visible !important;
}

.new_hr {
    background-color: white;
    border-color: white;
}

/* POP UP */
/* Форимируем слой затемнения фона */
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
/* Позиционирум медиа-элементы внутри окна */
.is-image {
    width: 100%;
    display: inline-block;
    height: auto;
    margin: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    top: 0; left: 0; bottom: 0; right: 0;
}
embed, iframe {
    width: 100%;
    min-width: 320px;
    max-width: 600px;

    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}
/* Формируем и позиционируем всплывающее окно */
.popup {
    overflow-y:scroll;
    min-width: 320px;
    max-width: 700px;
    max-height: 400px;
    width: 700px;
    margin: auto;
    background-color: #fff;
    border: 3px solid #fff;
    display: block;
    left: 0; right: 0;
    opacity: 0;
    padding: 15px;
    position: fixed;
    font-size: 14px;
    top: 0;
    visibility: hidden;
    z-index: 10;
    /* Скругление углов окна  */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    /* Тень блока окна  */
    border-color: #585858;
}
/* Устанавливаем позицию появления окна */
.overlay:target+.popup {
    top: 20%;
    opacity: 1;
    visibility: visible;
}
/* Оформляем и позицонируем кнопку закрытия */
.close {
    height: 24px;
    line-height: 18px;
    position: absolute;
    right: 7px;
    font-weight: bold;
    text-align: center;
    top: 0px;
}
.close:before {
    color: rgba(0, 0, 0, 0.90);
    content: "Close";
    font-size: 14px;
}

.popup p, .popup div {
    margin-bottom: 10px;
}

/* LST */
.popup_lst {
    overflow-y:scroll;
    min-width: 320px;
    max-width: 700px;
    max-height: 400px;
    width: 700px;
    margin: 100px 0px 0px 100px;
    background-color: #fff;
    border: 3px solid #fff;
    display: block;
    left: 0; right: 0;
    opacity: 0;
    padding: 15px;
    position: fixed;
    font-size: 14px;
    top: 0;
    visibility: hidden;
    z-index: 10;
    /* Скругление углов окна  */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    /* Тень блока окна  */
    border-color: #585858;
}
/* Устанавливаем позицию появления окна */
.overlay:target+.popup_lst {
    top: 20%;
    opacity: 1;
    visibility: visible;
}

/* /POP UP */

.ava_info a {
    color: white !important;
}

.info_foll {
    width: 200px;
    display: inline-block;
}

.car_ind {
    /*margin-bottom: 150px;*/
    margin-bottom: -10px;
}
.car_ind li {
    /*background-color: #000000;*/
}



.del_film_name {
    color: #ffb3aa !important;
}

/* Search page */
.more_search {
  padding-top: 10px;
}
.as_search_field, #main_userss, #s_res {
    
    margin: auto;
    width: 600px;
    margin-top: 30px;
}

.as_search_results {
  margin-top: 30px;
}

.as_film_poster {
    float: left;
    margin-right: 10px;
    background-color: rgb(234,234,234);
    padding: 4px;
    border-radius: 3%;
}
.as_film_img {
    width: 80px;
}
.as_film_descr {
    float: left;
}
.as_one_film {
}
.as_lst_name {
    display: inline-block;
}

.mainPoster img{
    width: 180px;
}

.mainPoster {
    padding: 3px;
    margin-right: 10px;
    background-color: rgb(234,234,234);
    float: left;
}

.down {
    clear: both;
}

/*All Lists*/
/*узенький список фильмов*/
#show_list {
    width: 570px;
    display: inline;
}
/*Див фильмов в новостях можно BORDER*/
.film_act_in_news {
    display: inline-block;
    background-color: #f3f3f3;
    border-radius: 2%;
}

/*Сами кнопки действий*/
.ML_action_buttons {
    line-height: 15px;
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    padding-right: 10px;
    outline: none; /* убирать контур в Mozilla */
}
.D_action_buttons {
    line-height: 15px;
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    padding-right: 20px;
    outline: none; /* убирать контур в Mozilla */
}
.C_action_buttons {
    line-height: 15px;
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    padding-right: 120px;
    outline: none; /* убирать контур в Mozilla */
}
.M_action_buttons {
    line-height: 15px;
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    padding-right: 118px;
    outline: none; /* убирать контур в Mozilla */
}
.ML_action_buttons:hover, .D_action_buttons:hover, .C_action_buttons:hover, .M_action_buttons:hover {
    background: rgb(64,199,129);
    text-decoration: none;
    color: #ffffff;
}


.film_in_news1 {
    padding: 3px;
    background-color: rgb(234,234,234);
    margin-right: 5px;
    float: left;
}
.film_in_news2 {
    padding: 2px;
    background-color: rgb(234,234,234);
    float: left;
    margin-right: 5px;
}
.film_poster_in_news1 {
    width: 63px;
    height: 99px;
}
.film_poster_in_news2 {
    height: 90px;
}
.film_poster_in_news3 {
    width: 32px;
}
.lsts_film_container:hover .close_div1{
    display: block;
}
.lsts_film_container:hover {
    /*background-color: #eeeeee;*/
}
/*Див с кнопками действий*/
.actions1 {
    font-size: 12px;
}
.actions {
    float: left;
    width: 145px;
    height: 70px;
}
.lsts_film_container {
  position: relative;
    /*margin-top: 15px;*/
    width:250px;
    display: inline-block;
    margin-right: 10px;
}
.lsts_film_container1 {
    width: 200px;
    display: inline-block;
}
.lsts_film_container2 {
    width: 220px;
    display: inline-block;
}
.top_info {
    display: inline-block;
}
#lsts_names{
    float: left;
    margin-top: 20px;
    width: 570px;
}
#lsts_names1{
    float: left;
    margin-top: 20px;
    width: 570px;
}
.lsts_lists{
    float: left;
    width: 800px;
}
.lsts_film_name {
    color: #4f65bf !important;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    max-height: 40px;
}
.lsts_film_name1 {
    color: #4f65bf !important;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    max-height: 20px;
}
/* /All Lists */

/* ACCORDION */
.AccordionTitle, .AccordionContent, .AccordionContainer
{
    width:240px;
}

.AccordionTitle
{
    cursor:pointer;
    vertical-align:middle;
    text-align:center;
}

.AccordionContent
{
    height:0px;
    overflow:auto;
    display:none;
}

/*NEW*/
.accordionItem .inacc {
    background-color: #ffffff;
    height: 220px;
    overflow-y: scroll;
    width: 225px;
}
.accordionItem.hide1 .inacc {
    display: none;
}
.accordionItem {
    font-family: PT Sans;
}

.list-group-item {
    width: 230px;
}
.link_block {
    cursor: pointer;
}

.badge {
    margin-left: 90px;
}

.one_film {
    margin: 0px 5px 0px 5px;
    position:relative;
    border: 1px dotted #999;
    border-width: 0 0 1px 0;
    margin: 0 0;
    display: block;
    height: 55px;
}
.one_film:hover .close_div {
    display: block;
}

.one_film:hover {
    /*cursor: pointer;
    background: #ffffcc;*/
}

.one_film_poster {
    margin: 3px 3px 0px 3px;
    float: left;
}

.one_film_img {
    max-width: 30px;
    max-height: 55px;
}

.one_film_description {
    width: 90%;
}

.one_film_name {
    margin: 3px 0px 0px 0px;
    height: 27px;
}
.one_film_name1{
    padding-top: 4px;
    display: block;
    max-height: 35px;
    color: #4f65bf !important;
    font: 13px PT Sans, serif;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.genre_limit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    height: 20px;
}
.country_limit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
    height: 20px;
}
.one_film_work {
    margin: 3px 0px 0px 0px;
}

.work {
    display: inline-block;
    padding: 1px 3px 1px 3px;
}
.work a {
    color: white !important;
}

.close_div {
    position:absolute;
    top:0;
    right:0;
    font-size: 12px;
    display: none;
}
.close_div a {
    color: grey;
}
.close_div a:hover {
    color: red;
    cursor: pointer;
}


.close_div1 {
    position:absolute;
    top:1px;
    right:5px;
    font-size: 12px;
    display: none;
}
.close_div1 a {
    color: grey;
}
.close_div1 a:hover {
    color: red;
    cursor: pointer;
}
/**/

#up_lists a:visited {
    color: #4f65bf !important;
    text-decoration: none;
}
/*article a:visited {
    color: #4f65bf !important;
    text-decoration: none;
}*/
.stat_form a:visited {
    color: #4f65bf !important;
    text-decoration: none;
}
.day_news a:visited {
    color: #4f65bf !important;
    text-decoration: none;
}
#myCarousel a:visited {
    color: #ffffff !important;
    text-decoration: none;
}

#mainset {
    margin-top: 20px;
}

#email1, #pass1, #pass2, #pass3, #name, #surname {
    width: 200px;
}
#about1 {
    width: 200px;
}
#about2 {
    width: 500px;
    border-color: #a5aeac;
}


.sve_btn {
    width: 200px;
}

/**/
.btn-clr-red1 {
    background-color: #de6451;
    padding: 1px 2px;
    font-size: 12px;
    line-height: 1.3;
    border-radius: 2px;
}
.btn-clr-red {
    background-color: #de9382;
    color: #ffffff !important;
}
.btn-clr-blue {
    background-color: rgba(117, 163, 202, 1);
}


.ooosss {
    width: 100px;
    height: 20px;
    font-size: 13px;
}

.all_list_lst {
    float: left;
    width: 200px;
}

.lsts_lists1 {
    padding-top: 1px;
    clear: both;
}
.lsts_btn {
    margin-bottom: 5px;
}

.xs_add {
    font-size: 12px;
    line-height: 14px;
}
button {
    outline-style: none!important;
}
.send_btn {
    margin-top: 5px;
}

.flw_btn {
    padding-top: 3px;
    clear: both;
}

.btn-success {
    background-color: #7DCA9E;
    border-color: #7DCA9E;
}




.stat_form {
    padding: 10px;
    /*background-color: #f6f6f6;*/
    background-color: rgb(245, 245, 245);
    border-radius: 2%;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.foll_posit {
    display: inline-block;
    margin-right: 3px;
}


/*Мутим переключение вкладок между новостями и своими записями*/
/*.abs {
    position: absolute;
}*/

#one {
    display: block;
}

.back div:target {
    display: block;
}

.back div[id*=t]:target ~ #one {
    display: none;
}

.block {
    display: none;
}
.changeblock {
  display: none;
}


/*?*/



.back a:visited{
    color: #4f65bf !important;

    text-decoration: none;

}

.news_nav {
    font-family: PT Sans;
    font-size: 21px;
}

/*Кнопка добавления фильмов при поиске фильма*/
.down1 {
    clear: both;
    padding: 5px 0px 0px 22px;

}

#popover_search_movie_inside{
    width: 400px;
}

.space {
    height: 10px;
}

#comment_add_film {
    width: 370px;
    resize: none;
}

.popover {
    max-width: 100%;
}

/*?*/

/*В списке листов на главной странице - фон фильма при нажатии на кнопку удалить*/
.deletedMovie {
    background-color: #eeeeee;
}
/**/

#changeBtn {
    display: inline-block;
    margin-left: 210px;
}
#changeBtn1 {
    display: inline-block;
    margin-left: 220px;
}

#newNameIn {
    width: 500px;
    display: inline-block;
    background-color: #fff9ea;
}
#newNameIn1 {
    width: 570px;
    display: inline-block;
    background-color: #fff9ea;
}

.del-lst-btn {
    height: 34px;
    margin: 0 0 3px 3px;
}

#morebtn0 {
    width: 80px;
}

#more_btn {
    width: 80px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.more_btn {
    width: 80px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.centr {
  margin-left: 250px;
  margin-bottom: 30px
}

#btn_settings {
    margin-right: 3px;
}


/*ПОДСКАЗКИ ПРИ ПОИСКЕ*/

.ui-autocomplete {
    padding-top: 8px;
}
/**/

.sett_label {
    display: block;   
}
.sett_label:hover {
    cursor: pointer;
}

#sett_main1 {
    margin-top: 45px;
    float: left;
}
#sett_main2 {
    margin-top: 40px;
    float: right;
}
#sett_main {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.select_length {
    width: 250px;
    display: inline-block;
    margin-right: 10px;
}
.btn_hei {
    padding: 4px 10px 5px 10px;
}

.search_add {
    margin-top: 7px;
    width: 355px;
    height: 22px;
    cursor: text;
    border: 1px solid;
    border-radius: 3px;
    border-color: #bababa;
    padding-left: 5px;
    padding-top: 3px;
    font-size: 11px;
    color: #bababa;
}
.down2 {
    clear: both;
    padding-top: 5px;
}
.addedcl {
  margin-right: 10px;
  display: inline-block;
}
.addedcl1 {
  margin-right: 10px;
  display: inline-block;
}
#search_mov {
  width: 450px;
  display: inline-block;
}
#search_btn {
  margin-left: 10px;
  margin-bottom: 2px;
}
#search_movs {
  margin-bottom: 30px;
}
#reslts {
  margin-top: 20px;
}

/*navbar*/

#logo_nav {
    font-size: 20px;
    width: 150px;
    padding: 10px 0 0 50px;
    display: inline-block;
}
#logo_nav a {
    color: #979797;
}
#logo_nav a:hover {
    color: #eeeeee;
}
#logo_nav_reg a {
    color: #979797;
}
#logo_nav_reg a:hover {
    color: #eeeeee;
}
#logo_nav_reg1 a {
    color: #979797;
}
#logo_nav_reg1 a:hover {
    color: #eeeeee;
}
#logo_nav_reg {
  margin-top: 12px;
  font-size: 18px;
}
#nav_div {
    height: 50px;
    /*background-color: #232323;*/
    background: #36394e;
    margin-top: -50px;
    min-width: 900px;
}

#nav_div_reg {
  background: #36394e!important;
}

#search_nav {
    margin-left: 40px;
    display: inline-block;
    margin-right: 80px;
}
#search_nav1 {
    margin-left: 40px;
    display: inline-block;
}

#navvy_bar{
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

#log_nav {
    display: inline-block;
    float: right;
    font-size: 14px;
    margin: 9px 40px 0 10px;
}

#log_nav1 {
    display: inline-block;
    float: right;
    font-size: 14px;
    margin: 14px 40px 0 10px;
}
#log_nav1 a {
    color: #979797;
}
#log_nav1 a:hover {
    color: #eeeeee;
}

.login_div {
  display: inline-block;
}

.div_wid {
  width: 10px;
}

/**/

#sett_panel {
  float: left;
  width: 220px;
}
#sett_right {
  float: left;
  width: 250px;
  padding-top: 15px;
}

#news_title {
  text-align: center;
}


.row-centered {
    text-align:center;
}
.col-centered {
    display: inline-block;
    /* reset the text-align */
    float: none;
    text-align:left;
    /* inline-block space fix */
    vertical-align: top;
}
.col-fixed {
    /* custom width */
    width:320px;
}

.reg_center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reg_left {
  display: inline-block;
  min-width: 300px;
  vertical-align: top;
  margin-right: 5px;
}

.reg_right {
  display: inline-block;
  min-width: 300px;
  vertical-align: top;
  margin-left: 5px;
}

.reg_field {
  display: inline-block;
}

#left_post_side {
    width: 187px;
    margin-right: 10px;
    float: left;
}
#mainDesc {
    float: left;
    width: 570px;
    margin-left: 30px;
}
.year_film_pg {
    padding-right: 20px;
}
.ava_block {
    float: left;
    height: 50px;
}
.ava_img2 {
    border-radius: 100%;
    height: 50px;
    width: 50px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    float: left;
}

.ava_ttt {
    margin-left: 20px;
    margin-bottom: 11px;
    display: block;
}
.ava_tt {
    margin-left: 10px;
}

#overview {
    padding: 1px;
    clear: both;
}

#slct_lsts_status {
    float: right;
    margin-right: 40px;
}

#filmp_img {
  width: 200px;
}

.select_length3 {
    width: 350px;
    margin-top: 5px;
    margin-right: 5px;
    display: inline-block;
}

@media (max-width: 867px) {
  .nav_sides {
    padding: 0 1px 0 1px;
  }
}
@media (min-width: 868px) {
  .nav_sides {
    padding: 0 30px 0 30px;
  }
}
@media (min-width: 1068px) {
  .nav_sides {
    padding: 0 80px 0 80px;
  }
}

.pad_reg {
  padding-left: 20px;
}

.ava_info1 a:hover {
  color: #4f65bf;
}
.ava_info1 a:visited {
  color: #4f65bf;
}

.cooment_in_news {
    /*background-color: rgba(188, 195, 219, 0.62);*/
    background-color: #FAFAFA;
    /*border-radius: 5px;*/
    border-left: 0.04em solid #B0AFAC;
    padding: 5px 5px 5px 5px;
    width: 330px;
    /*box-shadow: 0 0 5px rgba(0,0,0,0.3);*/
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
    margin-left: 30px;
    position: relative;
    bottom: 20px;
}

.sue {
  width: 30px;
  position: relative;
  left: 5px;
  top: 4px;
}

.start_foll {
  margin-bottom: 10px;
}
.added_mov {
  clear: both;
}

.soc_net_src1 {
  padding-left: 10px;
}

select {
}

option:not(:checked) {
    background-color: #FFF;
}

.comment_add_field {
  width: 355px;
}

.tabs_main {
  cursor: pointer;
}
.tabs_main:hover {
  color: #4f65bf;
}

#agree_t_c {
  float: right;
  margin-right: 25px;
}
#tc {
  float: left;
  width: 15px;
  margin-left: 2px;
}

.tm_content {
  height: 80%;
  padding: 10px;
}

#tnm_agree {
  width: 255px;
}

#select_lists .dropdown {
  display: block;
  width: 570px!important;
}

.ui.dropdown > .dropdown.icon::before {
  margin-left: 530px;
}

.log_toadd_movie {
  color: #DE6F6D;
}

.alllst_comm {
  cursor: pointer!important;
}

.modal-header {
  padding: 0px;
}
.modal-body {
  padding: 10px 0px 0px 5px;
}

#nextnews {
  margin-top: 10px;
  padding: 15px 10px 0 10px;
  border-left: 1px solid #F7F7F7;
  border-right: 1px solid #F7F7F7;
  border-top: 1px solid #F7F7F7;
  /*border-top: 1px solid #E9E9E9;*/
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.ava_records {
  border-radius: 100%;
  height: 35px;
  width: 35px;
  margin-right: 5px;
  border: 0.04em solid #AEAEAE;
  /*box-shadow: 0 0 15px rgba(0,0,0,0.5);*/
}

.records_addfoll {
  /*border-bottom: 1px solid #ddd;*/
}

.records_addfilm {
  padding-bottom: 10px;
}

.rec_film_con {
  margin-left: 45px;
  /*border-bottom: 1px solid #ddd;*/
}
.hr_addF {
  margin-left: 40px;
  border-color: #F7F7F7;
}

.rec_date {
  float: right;
  position: relative;
  top: 8px;
  color: #939393;
  font-size: 12px;
}

.putlike {
  cursor: pointer;
}
.like_div {
  float: right;
  color: #888888;
  font-size: 13px;
}
.btn_disc_nu {
  clear: both;
  margin-top: 5px;
  width: 230px;
  color: black!important;
}

.nav_refs {
  margin-right: 40px;
}

#dsc_usrs {
  margin-left: 240px;
}

.viv_al_lsts {
  margin-left: 45px;
}

#logo_main {
	width: 95px;
}

#about_main {
  margin: auto;
  width: 600px;
  padding: 30px 20px 20px 20px;
}

.mob_coming {
  width: 140px;
}

.get_start_btn {
  background: #3498db;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  padding: 10px 35px 10px 35px;
  text-decoration: none;
  border-width: 0px;
}

.get_start_btn:hover {
  background: #3cb0fd;

  text-decoration: none;
}

.new_lst_win {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin: auto;
}

.black_overlay{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}

.white_content {
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 500px;
  height: 230px;
  padding: 8px 16px 16px 16px;
  border: 2px solid grey;
  background-color: white;
  z-index:1002;
  overflow: auto;
}

#window_title {
  text-align: center;
  margin-bottom: 10px;
}

#newLstCrt {
  margin-top: 7px;
  margin-bottom: 10px;
}

.super_btn {
  width: 100px;
}

#new_lst_btns_dv {
  text-align: center;
}

#newLst_wndw_created {
  text-align: center;
}

.buttons_n_w {
  margin-top: 5px;
}

.buttons_n_w a {
  margin-right: 5px;
}

.white_content hr {
  margin-top: -3px;
}

.centered {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
}

.window_search_field {
  width:80%;
  display:inline-block;
}