<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Dipolium</title>

    <link rel="stylesheet" type="text/css" href="mcss/style.css" />
    <link type="text/css" rel="stylesheet" href="mcss/jquery.mmenu.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style type="text/css">
        html, body
        {
            padding: 0;
            margin: 0;
        }
        body
        {
            background-color: #fff;
            font-family: Arial, Helvetica, Verdana;
            font-size: 14px;
            line-height: 22px;
            color: #666;
            position: relative;
            -webkit-text-size-adjust: none;
        }
        body *
        {
            text-shadow: none;
        }
        nav:not(.mm-menu)
        {
            display: none;
        }
        .header
        {
            text-align: center;
        }
        .header
        {
            background: #777;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            line-height: 40px;
            -moz-box-sizing: border-box;
            box-sizing: border-box; 
            width: 100%;
            height: 40px;
            padding: 0 50px;
            position: fixed;
            top: 0;
            left: 0;
        }
        .header a
        {
            background: center center no-repeat transparent;
            background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );

            display: block;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            left: 10px;
        }
    </style>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="mjs/jquery.mmenu.min.js"></script>
    <script type="text/javascript" src="mjs/jquery.mmenu.fixedelements.min.js"></script>
    <script type="text/javascript">

        $(function() {
            var $menu = $('nav#menu'),
                $html = $('html, body');

            $menu.mmenu({
                dragOpen: true
            });

            var $anchor = false;
            $menu.find( 'li > a' ).on(
                'click',
                function( e )
                {
                    $anchor = $(this);
                }
            );

            var api = $menu.data( 'mmenu' );
            api.bind( 'closed',
                function()
                {
                    if ( $anchor )
                    {
                        var href = $anchor.attr( 'href' );
                        $anchor = false;

                        //  if the clicked link is linked to an anchor, scroll the page to that anchor 
                        if ( href.slice( 0, 1 ) == '#' )
                        {
                            $html.animate({
                                scrollTop: $( href ).offset().top
                            }); 
                        }
                    }
                }
            );
            
        });
    </script>       
</head>

<body>
    <div id="page">
        <div class="header Fixed">
            <a href="#menu"></a>
            NAVI
        </div>
        <br><br>
        This web-site is still under development. This is beta-version. <br><br>

        Dipolium - is a service (social network) which is created specifically for movie-fans, which helps to create lists of
        your favorite movies (tv-series, tv-shows), share them with your friends (who subscribed to your updates) and add comments to every action. You can follow different people, discover interesting movies and a many other interesting things.<br><br>

        Why our service is unique?<br>
        We are not website with movie database only. The main aim of this service - is to create social network for movie fans, where you can follow interesting users, check their activity (adding movies to the lists with appropriate comments). In future we will be able to provide calendar with movie release dates, recomendations in movies which are based on user's activity etc. We are focusing on user experience with the easiest user interface which covers all the functions every user need.
        <br><br>


        Our plans:<br>
        - Create mobile applications;<br>
        - Develop neural network for better experience of discovering new movies (tv-series, tv-shows);<br>
        - Improve search results;<br>
        - Sorting movies in lists accordingly to the release date;<br>
        - Improve "movie page";<br>
        - Improve UI;<br>
        - Calendar with movie releases;<br>
        - Notifications abot movie updates and reminder for movie releases;<br>
        and more...<br><br>

        For any information, you can contact us via email:<br>
        support@dipolium.com<br><br>

        You can find us in social networks:<br>
        <a href="http://vk.com/dipolium">http://vk.com/dipolium</a><br>
        <a href="https://www.facebook.com/groups/dipolium/">https://www.facebook.com/groups/dipolium/</a><br>
        <a href="https://twitter.com/dipolium">https://twitter.com/dipolium</a><br><br>
        Follow us to receive the latest news and updates about our project.
        <%-partial('partials/left_block')%>
    </div>
</body>
</html>
