<% layout('./layout/pageList') -%>
<% block('nickname', nickname) %>
<% block('listID', listID) %>
<% block('name', name) %>
<% block('surname', surname) %>
<% block('avatar', avatar) %>
<% block('about', about) %>
<% block('title', 'News') %>
<%-partial('./partials/all_list_block.ejs')%>