<% layout('layout/pageFilm') -%>
<% block('title', filmObject.Title) -%>
<% block('Year', filmObject.Year) -%>
<% block('Director', filmObject.Director) -%>
<% block('Genre', filmObject.Genre) -%>
<% block('Actors', filmObject.Actors) -%>
<% block('PosterOur', filmObject.PosterOur) -%>
<% block('Plot', filmObject.Plot) -%>
<% block('Country', filmObject.Country) -%>
<% block('imdbRating', filmObject.imdbRating) -%>
<% block('Released', filmObject.Released) -%>

<% block('avatar', avatar) -%>
<% block('nickname', nickname) -%>
<% block('name', name) -%>
<% block('surname', surname) -%>

<% filmObject.Title;
filmObject.Year;
filmObject.Rated;
filmObject.Released;
filmObject.Runntime;
filmObject.Genre;
filmObject.Director;
filmObject.Writer;
filmObject.Actors;
filmObject.Plot;
filmObject.Language;
filmObject.Country;
filmObject.Awards;
filmObject.PosterOur;
filmObject.Metascore;
filmObject.imdbRating;
filmObject.imdbVotes;
filmObject.Type;
filmObject.Responce; -%>

<div class="content" id="content">
</div>

<script type="text/javascript">

    mmainCode();

    function mmainCode() {
        var code = '';
        code += '<div id="f_title">' +
                '<h3><%=blocks.title%></h3>' +
                '<%=blocks.Genre%>' +
                '</div>' +
                '<div class="m_photo_desc">' +
                '<div id="d_film_img">' +
                '<img id="filmp_img" src = "../posters/<%=blocks.PosterOur%>" />'+
                '</div>'+
                '<%=blocks.Year%><br>' +
                '<%=blocks.Country%><br>' +
                '<b>Actors</b>: <%=blocks.Actors%><br>' +
                '<b>Director</b>: <%=blocks.Director%><br>' +
                '</div>' +

                '<div id="m_film_add">' +
                '<div>' +
                //'Add to the list:<br>' +
                '<div id="exist_lsts">' +
                '</div>' +
                '<form>' +
                '<div id="slct_lsts"></div>' +
                '</form>' +
                '<div id="slct_lsts_status"></div>' +
                '</div>' +
                '</div>' +

                '<div id="f_overview">' +
                '<h4>Overview:</h4>' +
                '<%=blocks.Plot%>' +
                '</div>';
        document.getElementById('content').innerHTML = code;
        <% if(user){ %>
        loadList('<%-blocks.nickname%>', createListCode, selectLists);
        <% } else { %>
        document.getElementById('exist_lsts').innerHTML = 'You should log in to add this film to the list.';
        <% }%>
    }

    
    function selectLists(codeList) {
        var filmID = window.location.pathname.substring(7);
        var code = '';
        code += '<select class="form-control input-sm select_length3" id="listsSelect">' +
                codeList +
                '</select>' +
                '<textarea id="txtar" rows="4" placeholder="Add comment to this movie..." maxlength="256" ></textarea>' +
                '<button id="listsSelectButton" onclick=addFilm(document.getElementById("listsSelect").options[document.getElementById("listsSelect").selectedIndex].value,this,"'+filmID+'") type="button" class="btn1 btn_main btn11">' +
                'Add to the list' +
                '</button>';
        document.getElementById('slct_lsts').innerHTML = code;
    }

    function createListCode(JSONLists){
        var code = '';
        for(var i = 0; i < JSONLists.length; i++){
            code += '<option value="'+i+'">'+JSONLists[i]+'</option>';
        }
        return code;
    }


    function loadList(userID, callback, callback2){
        var codeList='';
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getListsName?userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{
                    var list = JSON.parse(xmlhttp.responseText);
                    codeList = callback(list);
                    callback2(codeList);
                }catch(e){
                    console.log(e.message);
                }

            }
        }
    }

    function addFilm(idList, objButton, idFilm){
        document.getElementById('slct_lsts_status').innerHTML = 'Wait...';
        //objButton.className += " disabled";
        var xmlhttp = new XMLHttpRequest();
        var comment = document.getElementById('txtar').value;
        var body = 'idFilm=' + encodeURIComponent(idFilm) + '&idList=' + encodeURIComponent(idList) + '&comment=' + encodeURIComponent(comment);
        xmlhttp.open("POST", "/addFilm", true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(body);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                //document.getElementById('slct_lsts_status').innerHTML = 'Added!';
                document.getElementById('slct_lsts_status').innerHTML = 'added! <a href="#" onclick=removeFilm('+idList+',"'+idFilm+'")>Undo?</a>';
            }
        }
    }

    function removeFilm(idList,idFilm){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/removeFilm?idList="+idList+"&idFilm="+idFilm, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {

                //objButton.className="btn btn-default btn-xs xs_add";
                //objButton.innerHTML='Add';
                //objButton.onclick=function(){addFilm(idList,objButton,idFilm);}
                document.getElementById('slct_lsts_status').innerHTML = 'Removed!';
            }
        }
    }


</script>