<% layout('./layout/page') -%>
<% block('nickname', nickname) %>
<% block('name', name) %>
<% block('surname', surname) %>
<% block('avatar', avatar) %>
<% block('about', about) %>
<% block('title', 'Followings') %>

<div class="content" id="content">
<% if(user){ %>
<% try {%>
    <% if(user.nickname!=blocks.nickname.html[0]){ %>
        <div class="m_user_sect">
            
            <div class="m_ava_container">
                <img class = "m_ava_img" src = "photos/<%=blocks.avatar%>" />
            </div>
            <div class="m_ava_info">
                <span class = "m_name"><%=blocks.name%></span>
                <br/><span class = "m_name"><%=blocks.surname%></span>
                <br/><span class="m_user_name"><%=blocks.nickname%></span>
                <br/>
            </div>
            <div class="m_ava_foll">
                <button onclick="location.href='/following?username=<%=blocks.nickname%>'" type="button" class="btn1 btn_main">Following (<span id="m_following"></span>)</button>
                <br>
                <button onclick="location.href='/followers?username=<%=blocks.nickname%>'" type="button" class="btn1 btn_main">Followers (<span id="m_followers"></span>)</button>
                
            </div>
            <div class="foll_butt">
                <div id="foll_status"><button onclick="followUser1('<%=blocks.nickname%>',this)" type="button" class="btn_fl_notactive"><i class="fa fa-plus-square"></i> Follow</button></div>
                <button onclick="location.href='/allList?username=<%=blocks.nickname%>&listID=0'" type="button" class="btn1 btn2 btn_main">Lists (<span id="m_listss"></span>)</button>
            </div>
        </div>
        <hr>
    <% } %>
<%}catch(e){console.log(e.message)}%>
<% } else { %>
    <div class="m_user_sect">
        <div class="m_ava_container">
            <img class = "m_ava_img" src = "photos/<%=blocks.avatar%>" />
        </div>
        <div class="m_ava_info">
            <span class = "m_name"><%=blocks.name%></span>
            <br/><span class = "m_name"><%=blocks.surname%></span>
            <br/><span class="m_user_name"><%=blocks.nickname%></span>
            <br/>
        </div>
        <div class="m_ava_foll">
            <button onclick="location.href='/following?username=<%=blocks.nickname%>'" type="button" class="btn1 btn_main">Following (<span id="m_following"></span>)</button>
            <br>
            <button onclick="location.href='/followers?username=<%=blocks.nickname%>'" type="button" class="btn1 btn_main">Followers (<span id="m_followers"></span>)</button>
            
        </div>
        <div class="foll_butt foll_butt1">
            <button onclick="location.href='/allList?username=<%=blocks.nickname%>&listID=0'" type="button" class="btn1 btn2 btn_main">Lists (<span id="m_listss"></span>)</button>
        </div>
    </div>
    <hr>
<% }%>
<div id="content_inside">
</div>
</div>

<script type="text/javascript">
    <% if(user){ %>
    var meUser = '<%=user.nickname%>';
    <% } else { %>
    var meUser = '';
    <% }%>
    var otherUser = '<%=blocks.nickname%>';
    if (meUser !== otherUser) {
        loadFollowersNumber('<%=blocks.nickname%>');
        loadFollowingNumber('<%=blocks.nickname%>');
        loadList('<%=blocks.nickname%>', showListNum);
        <% if(user){ %>
            followStatus();
        <% } else { %>
        <% }%>
    }

    function followStatus() {
        <% if(user){ %>
        var meUser = '<%=user.nickname%>';
        var otherUser = '<%=blocks.nickname%>';
        loadUsers1(meUser, otherUser, checkFollowing);
        <% } else { %>
        <% }%>
    }

    function checkFollowing(users, otherUser) {
        var code = '';
        for (var i = 0; i < users.length; i++) {
            if (users[i].userName === otherUser) {
                //code = '<button onclick=unfollowUser("'+otherUser+'",this) type="button" class="btn btn-xs btn-success flw_btn_size">Following</button>';
                code = '<button onclick=unfollowUser1("<%=blocks.nickname%>",this) type="button" class="btn_fl_active"><i class="fa fa-check"></i> Following</button>';
                document.getElementById('foll_status').innerHTML = code;
                break;
            }
        }
    }

    function loadUsers1(userID, otherUser, callback){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getFollowing?userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{
                    var users = JSON.parse(xmlhttp.responseText);
                    callback(users, otherUser);
                }catch(e){
                    console.log(e.message);
                }

            }
        }
    }

    function loadUsers(userID, callback, start_point, end_point){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getFollowers?userID="+encodeURIComponent(userID)+"&from="+start_point+"&to="+end_point, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{
                    var users=JSON.parse(xmlhttp.responseText);
                    callback(userID, users, start_point, end_point);
                }catch(e){
                    console.log(e.message);
                }

            }
        }
    }

    function showListNum(lists){
        document.getElementById('m_listss').innerHTML = lists.length;
    }

    function loadFollowersNumber(userID){
        var num = 0;
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getCountFollowers?userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{

                    num = JSON.parse(xmlhttp.responseText);
                    document.getElementById('m_followers').innerHTML = num;
                }catch(e){
                    console.log(e.message);
                }
            }
        }
    }

    function loadFollowingNumber(userID){
        var num = 0;
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getCountFollowing?userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{

                    num = JSON.parse(xmlhttp.responseText);
                    document.getElementById('m_following').innerHTML = num;
                }catch(e){
                    console.log(e.message);
                }
            }
        }
    }

    function loadList(userID,callback){
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/getListsName?userID="+encodeURIComponent(userID), true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlhttp.send(null);
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    try{
                        var lists=JSON.parse(xmlhttp.responseText);
                        callback(lists);
                    }catch(e){
                        console.log(e.message);
                    }
                }
            }
        }

    function specialUser(user) {
        var code = '';
        for (var i = 0; i < user.length; i++) {
            code += '<div class="mf_user_inform">' +
                    '<a href="id_'+escapeHtml(user[i].userName)+'" class="mf_ava_container">' +
                    '<img class = "mf_ava_img" src = "photos/' + user[i].avatar +'" />' +
                    '</a>' +
                    '<div class="mf_ava_info">' +
                    '<a href="id_'+user[i].userName+'" class = "m_name">' + escapeHtml(user[i].name) + ' ' + escapeHtml(user[i].surName) + '</a>' +
                    //'<br/><span class = "m_name">' + user[i].surName + '</span>' +
                    '<br/><span class="m_user_name">' + escapeHtml(user[i].userName) + '</span>' +
                    '</div>' +
                    '<div class="flw_btn">';
            <% if(user){ %>
            if (user[i].following == 0) {
                code += '<button onclick=followUser("'+user[i].userName+'",this) type="button" class="btn btn_flw"><i class="fa fa-plus-square"></i> Follow</button>';
            } else {
                code += '<button onclick=unfollowUser("'+user[i].userName+'",this) type="button" class="btn btn_flwing"><i class="fa fa-check"></i> Following</button>';
            }
            <% } else { %>
            <% }%>
            code += '</div>' +
                    '</div>';
        }
        //document.getElementById('list_of_users').innerHTML = code;
        return code;
    }

    function moreUsers(userID, user, start_point, end_point) {
        var more = '';
        if (user.length === (end_point-start_point)) {
            var chng = end_point-start_point;
            start_point += chng;
            end_point += chng;
            var more = '<div id="m_more" class="alm_more" onclick=loadUsers("'+userID+'",moreUsers,'+start_point+','+end_point+')>SHOW MORE</div>';
        }
        var code = '';
        document.getElementById('m_more').outerHTML = '';
        code += specialUser(user);
        code += more;
        document.getElementById("content_inside").innerHTML += code;
    }

    function addUsers(userID, user, start_point, end_point) {
        var more = '';
        if (user.length === (end_point-start_point)) {
            var chng = end_point-start_point;
            start_point += chng;
            end_point += chng;
            var more = '<div id="m_more" class="alm_more" onclick=loadUsers("'+userID+'",moreUsers,'+start_point+','+end_point+')>SHOW MORE</div>';
        }
        var code = '';
        code += '<h2>Followers</h2>'
        code += specialUser(user);
        code += more;

        document.getElementById("content_inside").innerHTML += code;

    }

    function followUser(userID, objButton){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/addFollowing?userID="+userID, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                objButton.className="btn btn_flwing";
                objButton.innerHTML='<i class="fa fa-check"></i> Following';
                objButton.onclick=function(){unfollowUser (userID,objButton);}
            }
        }
    }

    function unfollowUser(userID, objButton){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/removeFollowing?userID="+userID, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                objButton.className="btn btn_flw";
                objButton.innerHTML='<i class="fa fa-plus-square"></i> Follow';
                objButton.onclick=function(){followUser(userID, objButton);}
            }
        }
    }

    function followUser1(userID, objButton){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/addFollowing?userID="+userID, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                objButton.className="btn_fl_active";
                objButton.innerHTML='<i class="fa fa-check"></i> Following';
                objButton.onclick=function(){unfollowUser1 (userID,objButton);}
            }
        }
    }

    function unfollowUser1(userID, objButton){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/removeFollowing?userID="+userID, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                objButton.className="btn_fl_notactive";
                objButton.innerHTML='<i class="fa fa-plus-square"></i> Follow';
                objButton.onclick=function(){followUser1(userID, objButton);}
            }
        }
    }
    function escapeHtml(text) {
      return text
          .replace(/&/g, "&amp;")
          .replace(/</g, "&lt;")
          .replace(/>/g, "&gt;")
          .replace(/"/g, "&quot;")
          .replace(/'/g, "&#039;");
    }
    loadUsers('<%-blocks.nickname%>',addUsers, 0, 15);
</script>