<% layout('./layout/pageSearch') -%>
<% block('title', "Searching") -%>

<div class="content" id="content">
    <div id="search_result_0">
    </div>
</div>

<script type="text/javascript">
    loadFilmsResult();
    function sendDataToServer(omdbJSON,data,arrFilms,i,code,codeList){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "/searchPage", true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

        xmlhttp.send('filmData='+encodeURIComponent(data));

        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
             console.log('status== 200');
             createCode(i,omdbJSON,code,codeList);//генерация хтмл кода
             if(i<arrFilms.length)
             sendRequest(arrFilms,i,code,codeList);
            }
        }
    }

    function sendRequest(arrFilms,i,code,codeList){ //где i-это номер элемента в массиве, используется для рекурсивной подгрузки
        // Send Request
        console.log(arrFilms.length);
        if(arrFilms!=undefined){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "http://www.omdbapi.com/?i=" + arrFilms[i].imdbID+'&plot=full', true);
        xmlhttp.send(null);

        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                var omdbData = xmlhttp.responseText;
                var omdbJSON = JSON.parse(omdbData);
                console.log(omdbJSON);
                i++;
                sendDataToServer(omdbJSON,omdbData,arrFilms,i,code,codeList);

                /*if(i<arrFilms.length){
                sendRequest(arrFilms,i);
                }else{
                   // document.getElementById('search_result').innerHTML=document.getElementById('search_result').innerHTML + code;
                }*/
            }
        }
        }
    }

    function createCode(i,dataJSON,code,codeList){
        console.log(dataJSON);
        var prev=i-1;
        var posterImg='';
        if(dataJSON.Poster!="N/A")
        posterImg=dataJSON.Poster.substr(dataJSON.Poster.lastIndexOf('/')+1);
        else
        posterImg="noPoster.jpg";
        code +=
                '<div class="as_one_film">'+
                '<div class = "as_film_poster">'+
                '<a href="#"><img class = "as_film_img" alt = "The Monuments Men" src = "/posters/'+posterImg+'" /></a>'+
                '</div>'+
                '<div class="as_film_descr1">'+
                '<div class="ms_desc"><a href="/films/'+dataJSON.imdbID+'">'+ dataJSON.Title+'</a></div>'+
                '<div>Year: '+dataJSON.Year+'</div>'+
                '<div class="ms_desc">Country: '+dataJSON.Country+'</div>'+
                '<div class="ms_desc">Genre: '+dataJSON.Genre+'</div>'+
                '<div class="ms_desc">Actors: '+dataJSON.Actors+'</div>'+
                '<div>IMDB: '+dataJSON.imdbRating+'</div>'+

                '</div>'+
                '</div>'+
                /*'<div class="down">'+
                        '<select id="listsSelect'+i+'">'+
                        codeList+
                        '</select>'+
                        '<button id="listsSelectButton'+i+'" onclick=addFilm(document.getElementById("listsSelect'+i+'").options[document.getElementById("listsSelect'+i+'").selectedIndex].value,this,"'+dataJSON.imdbID+'") type="button" class="btn btn-default btn-xs xs_add">Add</button>'+
                '</div>'+*/
                //'<div class="sm_down">' +
                //'<div class="ms_comm" id="commentId_'+i+'">' +
                //'<div onclick=comment('+i+') class="search_add" >' +
                //'Add a comment...' +
                //'</div>' +
                //'</div>' +
                //'<div class="ms_addb">' +
                '<div class="m_film_add">' +
                <% if(user){ %>
                //'<select class="" id="listsSelect'+i+'" onchange="clean_added('+i+')">' +
                '<select class="form-control input-sm select_length3" id="listsSelect'+i+'" onchange="clean_added('+i+')">' +
                codeList +
                '</select>' +
                
                '<textarea id="txtar" rows="4" placeholder="Add comment to this movie..." maxlength="256" ></textarea>' +
                //'<button id="listsSelectButton'+i+'" onclick=addFilm(document.getElementById("listsSelect'+i+'").options[document.getElementById("listsSelect'+i+'").selectedIndex].value,this,"'+dataJSON.imdbID+'",'+i+') type="button" class="button">' +
                '<button id="listsSelectButton'+i+'" onclick=addFilm(document.getElementById("listsSelect'+i+'").options[document.getElementById("listsSelect'+i+'").selectedIndex].value,this,"'+dataJSON.imdbID+'",'+i+') type="button" class="btn1 btn_main btn11">' +
                'Add to the list' +
                '</button>' +
                <% } else { %>
                'You should log in to add this film to the list.' +
                <% }%>
                '<div id="added_'+i+'" class="addedcl">' +
                '</div>' +
                '</div>' +
                
                '</div>' +
                '<div class="space_us">' +
                '</div>' +
                '<hr>'+
                '<div class="as_search_results" id="search_result_'+i+'">'+
                '</div>';

        document.getElementById('search_result_'+prev+'').innerHTML+=code;
    }

    function createListCode(JSONLists){
        var listID=i;
        var code='';
                for(var i=0;i<JSONLists.length;i++){
                    code+='<option value="'+i+'">'+JSONLists[i]+'</option>';
                }
        return code;
    }
     //onclick=removeFilm('+listID+',"'+JSONFilms[i].imdbID.toString()+'") type="button" class="btn btn-xs rmv_btn btn-clr-red">Remove</a>

    function clean_added(i) {
        var id = 'added_' + i;
        document.getElementById(id).innerHTML = ''; 
    }
 
    function comment(element) {
        var code = '';
        code += '<textarea type="name" id="comment_add_film" placeholder="Add comment to this movie..."></textarea>';
        var id = 'commentId_' + element;
        document.getElementById(id).innerHTML = code;
    }

    function loadList(userID,code,callback,callback2){
        var codeList='';
        var arrFilms=<%-arrFilms%>;
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getListsName?userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{
                    var lists=JSON.parse(xmlhttp.responseText);
                    codeList=callback(lists);
                    callback2(arrFilms,0,code,codeList);
                }catch(e){
                    console.log(e.message);
                }

            }
        }
    }

    function loadFilmsResult(){
        var code='';
        <% if(user){ %>
            var nickname='<%-nickname%>';
            loadList(nickname,code,createListCode,sendRequest);
        <% } else { %>
            sendRequest(<%-arrFilms%>,0,'','');
        <% }%>
        
        //console.log(nickname);
        
        code += '<div id="search_movs">' +
                //'<form action="">' +
                //'<input type="text" name="searchText" id="search_mov" class="form-control" value="<%-searchField%>">' +
                //'<button type="submit" id="search_btn" class="btn btn-primary">Search</button>' +
                //'</form>' +
                '<h4 id="reslts">Results:</h4>' +
                '</div>';
        document.getElementById('search_result_0').innerHTML = code;
       //массив фильмов, полученных с сервера
    }

    function addFilm(idList, objButton, idFilm, i){
        document.getElementById(objButton.id).setAttribute("disabled", "disabled");
        //objButton.className += " disabled";
        var xmlhttp = new XMLHttpRequest();
        var comment = document.getElementById('txtar').value;
        var body = 'idFilm=' + encodeURIComponent(idFilm) + '&idList=' + encodeURIComponent(idList) + '&comment=' + encodeURIComponent(comment);
        xmlhttp.open("POST", "/addFilm", true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(body);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                //document.getElementById('slct_lsts_status').innerHTML = 'Added!';
                document.getElementById(objButton.id).removeAttribute("disabled");
                var id = 'added_' + i;
                var tmp = '' + idFilm;
                document.getElementById(id).innerHTML = 'added! <a href="#" onclick=removeFilm('+idList+','+i+',"'+idFilm+'")>Undo?</a>';
            }
        }
    }



    function removeFilm(idList,i,idFilm){
        console.log("removed");
        console.log(idFilm);
        console.log(i);
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/removeFilm?idList="+idList+"&idFilm="+idFilm, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {

                //objButton.className="btn btn-default btn-xs xs_add";
                //objButton.innerHTML='Add';
                //objButton.onclick=function(){addFilm(idList,objButton,idFilm);}
                var id = 'added_' + i;
                document.getElementById(id).innerHTML = 'Removed!';
            }
        }
    }
</script>
