<% layout('./layout/pageSearch') -%>
<% block('searchText', searchText) %>
<% block('users', users) %>
<% block('nickname', nickname) %>
<% block('name', name) %>
<% block('surname', surname) %>
<% block('avatar', avatar) %>
<% block('about', about) %>
<% block('title', "Searching") -%>

<div class="content" id="content">
</div>

<script type="text/javascript">

    function addUsers(user) {
        var code = '';
        code += specialUser(user);
        document.getElementById('content').innerHTML = code;
    }

    function specialUser(user) {
        var code = '';
        for (var i = 0; i < user.length; i++) {
            console.log(user);
            code += '<div class="mf_user_inform">' +
                    '<a href="id_'+escapeHtml(user[i].userName)+'" class="mf_ava_container">' +
                    '<img class = "mf_ava_img" src = "photos/' + user[i].userName +'.png" />' +
                    '</a>' +
                    '<div class="mf_ava_info">' +
                    '<a href="id_'+user[i].userName+'" class = "m_name">' + escapeHtml(user[i].name) + ' ' + escapeHtml(user[i].surName) + '</a>' +
                    //'<br/><span class = "m_name">' + user[i].surName + '</span>' +
                    '<br/><span class="m_user_name">' + escapeHtml(user[i].userName) + '</span>' +
                    '</div>' +
                    '<div class="flw_btn">';
            <% if(user){ %>
            if (user[i].following == 0) {
                code += '<button onclick=followUser("'+user[i].userName+'",this) type="button" class="btn btn_flw"><i class="fa fa-plus-square"></i> Follow</button>';
            } else {
                code += '<button onclick=unfollowUser("'+user[i].userName+'",this) type="button" class="btn btn_flwing"><i class="fa fa-check"></i> Following</button>';
            }
            <% } else { %>
            <% }%>
            code += '</div>' +
                    '</div>';
        }
        //document.getElementById('list_of_users').innerHTML = code;
        return code;
    }

    function followUser(userID, objButton){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/addFollowing?userID="+userID, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                objButton.className="btn btn_flwing";
                objButton.innerHTML='<i class="fa fa-check"></i> Following';
                objButton.onclick=function(){unfollowUser (userID,objButton);}
            }
        }
    }

    function unfollowUser(userID, objButton){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/removeFollowing?userID="+userID, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                objButton.className="btn btn_flw";
                objButton.innerHTML='<i class="fa fa-plus-square"></i> Follow';
                objButton.onclick=function(){followUser(userID, objButton);}
            }
        }
    }

    function escapeHtml(text) {
      return text
          .replace(/&/g, "&amp;")
          .replace(/</g, "&lt;")
          .replace(/>/g, "&gt;")
          .replace(/"/g, "&quot;")
          .replace(/'/g, "&#039;");
    }
    addUsers(<%-users%>);
</script>