//$hover_left: #BFC7D8; //Color on hovernig on the left side panel
//$hover_left_tc: #323949; //Text color on hovering on the left side panel
$hover_left: rgba(0, 0, 0, 0.2);
$hover_left_tc: white;

html * {
	font-family: "Lato", sans-serif;
}

a {
    text-decoration: none !important;
    color: #4f65bf;
}



#m_user_inform {
	width: 100%;
	height: 80px;
	padding-top: 15px;
}
.mf_user_inform {
  height: 50px;
  padding-top: 15px;
  display: inline-block;
}

#m_ava_container {
	border-radius: 100%;
    background-color: rgb(234,234,234);
    width: 66px;
    height: 66px;
    padding: 1px 0 0 1px;
    float: left;
    margin-left: 10px;
}
.mf_ava_container {
  border-radius: 100%;
  background-color: #eaeaea;
  width: 46px;
  height: 46px;
  padding: 1px 0 0 1px;
  float: left;
  margin-left: 10px;
}

#m_ava_img {
    border-radius: 100%;
    height: 65px;
    width: 65px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.mf_ava_img {
  border-radius: 100%;
  height: 45px;
  width: 45px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
  
.m_ava_info {
	padding-left: 10px;
    float: left;
    width: 150px;
    line-height: 20px;
    overflow: hidden;
}
.mf_ava_info {
  float: left;
  padding-left: 10px;
  width: 120px;
  line-height: 20px;
  overflow: hidden; 
}

.m_name {
	font-size: 15px;
}

.m_user_name {
	font-size: 12px;
}

.m_menue_gap {
	margin-top: 10px;
	.m_more_left a {
		color: white;
	}

	ul li:hover {
		background-color: $hover_left;
		a {
		    color: $hover_left_tc;
	    }
	}
}

.m_lists_ff {
	font-size: 24px;
	margin-left: 100px;
}

.m_set_logout {
	padding-top: 5px;
    float: left;
    height: 30px;
    text-align: center;
    a {
    	color: white;
	}
}
.m_half_aside {
	width: 131px;
}

.m_sl {
	background-color: #5c6987;
	width: 0.03em;
}

.m_set_logout:hover {
    background-color: $hover_left;
    a {
	    color: $hover_left_tc;
    }
}

.m_user_search {
	width: 245px;
	height: 19px;
	margin-left: 4px;
	margin-top: 3px;
	&:focus {
		outline-width: 0;
	}
}

.space_us {
    height: 5px;
    clear: both;
}
.space_us1 {
    clear: both;
}
.line_us {
	clear: both;
	height: 1px;
	background-color: rgba(92, 105, 135, 0.71);
	width: 100%;
}

.m_movie_search {
	width: 80%;
	height: 40%;
	margin-left: 10px;
	&:focus {
		outline-width: 0;
	}
}

.m_poster_lsts {
	width: 48px;
    height: 73px;
}

.m_poster_shadow_lsts {
	padding: 2px;
    background-color: rgb(234,234,234);
    float: left;
}

.m_lsts_name {
	padding: 15px 0 20px 0;
	text-align: center;
	font-size: 20px;
}

.m_all_films {
}

.m_lsts_descr {
	display: block;
	overflow: hidden;
	padding-left: 5px;
}

.m_film {
	margin: 10px 0 10px 10px;
}

.m_bottom_about {
	clear: both;
	margin-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
}

.m_more_left {
	padding-left: 20px;
}

.m_genre {
	clear: both;
}

// NEWS

.lsts_film_container2 {
    width: 220px;
    display: inline-block;
}

.film_in_news2 {
    padding: 2px;
    background-color: rgb(234,234,234);
    float: left;
    margin-right: 5px;
}

.film_poster_in_news2 {
    width: 38px;
}

.actions {
	  float: left;
    width: 165px;
    height: 70px;
}

.lsts_film_name {
    color: #4f65bf !important;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    max-height: 40px;
}

.as_film_descr {
    float: left;
}

.small_line {
  height: 1px;
  width: 100%;
  background-color: #d9d9d9;
  clear: both;
  margin: 5px 0px 0px 0px;
}

#more_btn {
    width: 80px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#morebtn0 {
    width: 80px;
}

//NO NEWS

.flw_btn {
  float: right;
  margin-left: 4px;
}

.mf_lg {
	width: 100px;
}
