html * {
  font-family: "Lato", sans-serif; }

a {
  text-decoration: none !important;
  color: #4f65bf; }

body {-webkit-text-size-adjust: none;}

#m_user_inform {
  width: 100%;
  height: 80px;
  padding-top: 15px; }

.mf_user_inform {
  height: 50px;
  padding-top: 15px;
  display: inline-block; }

.m_ava_container {
  border-radius: 100%;
  background-color: #eaeaea;
  width: 66px;
  height: 66px;
  padding: 1px 0 0 1px;
  float: left;
  margin-left: 10px; }

.mf_ava_container {
  border-radius: 100%;
  background-color: #eaeaea;
  width: 46px;
  height: 46px;
  padding: 1px 0 0 1px;
  float: left;
  margin-left: 10px; }

.m_ava_img {
  border-radius: 100%;
  height: 64px;
  width: 64px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }

.mf_ava_img {
  border-radius: 100%;
  height: 45px;
  width: 45px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }

.m_ava_info {
  display: inline-block;
  padding-left: 10px;
  float: left;
  width: 100px;
  line-height: 20px;
  overflow: hidden; }

.mf_ava_info {
  float: left;
  padding-left: 10px;
  width: 120px;
  line-height: 20px;
  overflow: hidden; }

.m_name {
  font-size: 15px; }

.m_user_name {
  font-size: 12px; }

.m_menue_gap {
  margin-top: 10px; }
  .m_menue_gap .m_more_left a {
    color: black; }
.m_menue_gap1 {
  margin-top: 10px; }
.m_menue_gap1 .m_more_left a {
    color: black; }

.m_menue_lists ul li:hover {
    background-color: rgba(0, 0, 0, 0.2); }
.m_menue_lists ul li:hover a {
      color: black; }
.m_menue_lists {
  background: #D6D6D6;
  margin-top: -5px;
  padding-top: 10px;
  margin-bottom: -5px;
}

.m_lists_ff {
  margin-top: -10px;
  background: #CECECE;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 99px; }

.m_set_logout {
  padding-top: 5px;
  float: left;
  height: 30px;
  text-align: center;
  color: black; }

.m_half_aside {
  width: 127px; }

.m_sl {
  background-color: #5c6987;
  width: 0.03em; }

.m_set_logout:hover {
  background-color: rgba(0, 0, 0, 0.2); }
  .m_set_logout:hover a {
    color: white; }

.m_user_search {
  width: 235px;
  height: 29px;
  margin-left: 4px;
  margin-top: 3px; }
  .m_user_search:focus {
    outline-width: 0; }

.space_us {
  height: 5px;
  clear: both; }

.space_us1 {
  clear: both; }

.line_us {
  clear: both;
  height: 1px;
  background-color: rgba(92, 105, 135, 0.71);
  width: 100%; }

.m_movie_search {
  width: 80%;
  height: 29px;
  margin-left: 20px; }
  .m_movie_search:focus {
    outline-width: 0; }

.m_poster_lsts {
  height: 73px; }

.m_poster_shadow_lsts {
  padding: 2px;
  height: 73px;
  background-color: #eaeaea;
  float: left; }

.m_lsts_name {
  padding: 15px 0 20px 0;
  text-align: center;
  font-size: 20px; }

.m_lsts_descr {
  display: block;
  overflow: hidden;
  padding-left: 5px; }

.m_film {
  margin: 10px 0 15px 10px; }

.m_bottom_about {
  clear: both;
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: 12px; }

.m_more_left {
  padding-left: 20px; }

.m_genre {
  clear: both; }

.lsts_film_container2 {
  width: 220px;
  display: inline-block;
  padding-top: 10px; }

.film_in_news2 {
  /*background-color: #eaeaea;*/
  float: left;
  margin-right: 5px; }

.film_poster_in_news2 {
  width: 45px; }

.actions {
  float: left;
  width: 165px;
  height: 70px; }

.lsts_film_name {
  color: #4f65bf !important;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  max-height: 40px; }

.as_film_descr {
  float: left; }

.small_line {
  height: 1px;
  width: 100%;
  background-color: #d9d9d9;
  clear: both;
  margin: 5px 0px 0px 0px; }

#more_btn {
  width: 80px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px; }

#morebtn0 {
  width: 80px; }

.flw_btn {
  float: right;
  margin-left: 4px; }

.mf_lg {
  width: 100px; }

.alm_more {
  height: 50px;
  padding-top: 15px;
  background-color: grey;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
.alm_more1 {
  height: 40px;
  padding-top: 20px;
  background-color: grey;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.alm_more2 {
	margin-top: 20px;
  height: 40px;
  padding-top: 20px;
  background-color: grey;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

#m_main_search {
  margin-left: 20px;
}
.as_film_img {
  height: 120px;
  max-width: 85px;
}
.as_film_poster {
  width: 100px;
  float: left;
}
.sm_down {
  clear: both;
  max-width: 300px;
}
#m_left_news {
  padding: 10px 0 0 110px;
  height: 30px;
  width: 100%;
  color: black;
}
#m_left_notif {
  padding: 10px 0 0 90px;
  height: 30px;
  width: 100%;
  color: black;
}
#m_left_news:hover, #m_left_notif:hover {
  background-color: rgba(0, 0, 0, 0.2); }

.ms_desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ms_comm {
  float: left;
}
.ms_addb {
  float: right;
  width: 120px;
  height: 70px;
  margin-right: 5px;
}
.search_add {
  border: 2px solid #8AC007;
  height: 100%;
  padding: 27px 18px 0 18px;
  height: 83px;
}

/* Add height value for select elements to match text input height */
select {
  width: 96%;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-color: #FAFAFA;
  border-radius: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  color: rgba(0, 0, 0, 0.75);
  font-family: inherit;
  font-size: 0.875rem;
  line-height: normal;
  padding: 0.5rem;
  border-radius: 0;
  height: 2.3125rem; }
  select::-ms-expand {
    display: none; }
select {
  margin-left: 2px;
}
  select.radius {
    border-radius: 3px; }
  select:hover {
    background-color: #f3f3f3;
    border-color: #999999; }
  select:disabled {
    background-color: #DDDDDD;
    cursor: default; }
  select[multiple] {
    height: auto; }

.ms_comm textarea {
  width: 160px;
  height: 83px;
}
.addedcl {
  margin-left: 10px;
  display: inline-block;
}

.as_one_film {
  margin-bottom: 15px;
}

#m_left_news {
  cursor: pointer;
}

.m_news_real {
  margin-left: 10px;
}

/*film page*/
@media (max-width: 320px) {
  #filmp_img {
    width: 100px;
  }
  #m_film_de {
    float: left;
    width: 100%;
    margin-left: 115px;
    /*max-width: 200px;*/
  }
}

@media (min-width: 321px) {
  #filmp_img {
    height: 150px;
  }
  #m_film_de {
    float: left;
    width: 100%;
    margin-left: 115px;
    /*margin-left: 180px;*/
  }
}

#d_film_img {
    background-color: #eaeaea;
    padding: 2px;
    height: 150px;
    margin-left: 5px;
    float: left;
    margin-right: 5px;
    /*display: inline-block;*/
  }
#f_title {
	margin-left: 10px;
}
#f_overview {
	padding-left: 10px;
	padding-top: 10px;
	clear: both;

}

@media (max-width: 867px) {
  .nav_sides {
    padding: 0 1px 0 1px;
  }
}
@media (min-width: 868px) {
  .nav_sides {
    padding: 0 30px 0 30px;
  }
}
@media (min-width: 1068px) {
  .nav_sides {
    padding: 0 80px 0 80px;
  }
}
.lllo {
  padding-left: 100px;
}

.m_menue_lists ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.m_menue_lists li > a {
  display: block;
  border-bottom: 1px solid rgba(0,0,0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  text-indent: 20px;
}

.btn {
  -webkit-appearance: none;
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  font-size: 12px;
  padding: 10px 0 10px 0;
  text-align: center;
  text-decoration: none;
  width: 100px;
  border: none;
}

.btn1 {
  -webkit-appearance: none;
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  font-size: 12px;
  padding: 10px 0 10px 0;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 100px;
}
.btn2 {
  padding: 10px 24px 10px 23px;
  float: right;
}

.btn:hover {
  
  text-decoration: none;
}

.btn_flw {
  color: #797b85;
  background: #fff;
  border: 1px solid #797b85;
}
.btn_flw:hover {
  /*background: #c2c2c2;*/
  text-decoration: none;
}

.btn_flwing {
  color: #ffffff;
  background: #71cf59;
}
.btn_flwing:hover {
  background: #1db32e;
  text-decoration: none;
}

#content {
  padding-top: 40px;
}

.m_user_sect {
  margin-top: 20px;
  height: 120px;
}

.m_ava_foll {
  margin-top: -5px;
  float: right;
}

.btn_fl_active {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #71cf59;
  margin-left: 10px;
  padding: 10px 64px 10px 65px;
  text-decoration: none;
  border: none;
}

.btn_fl_active:hover {
  background: #1db32e;
  text-decoration: none;
}

.btn_fl_notactive {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #797b85;
  font-size: 12px;
  background: #fff;
  margin-left: 10px;
  padding: 10px 72px 10px 72px;
  text-decoration: none;
} 

.btn_fl_notactive:hover {
  /*background: #c2c2c2;*/
  text-decoration: none;
}

.foll_butt {
  clear: both;
  margin-right: 2px;
}
.foll_butt1 {
  margin-left: 209px;
}

#news_but, #user_activ_but {
  padding: 10px 0 10px 0;
  text-align: center;
  font-family: Arial;
  color: #797b85;
  font-size: 12px;
  background: #CFD3D6;
  display: inline-block;
  text-decoration: none;
  border: none;
}
#news_but {
  width: 50%;
  border-right: 1px solid white;
}
#user_activ_but {
  float: right;
  width: 50%;
  border-left: 1px solid white;
}

#foll_status {
  display: inline-block;
}

.btn_main {
  color: #ffffff;
  background: #3498db;
  margin-right: 5px;
}
.btn_main:hover {
  background: #3cb0fd;
}

#slctnm {
  margin-top: 10px;
}

#m_main_side {
  display: block;
  clear:both;
  margin-top: 10px;
}

#m_main_stat {
  margin-top: 10px;
  text-align: center;
}

.news_add_following {
  line-height: 30px;
}

.news_add_film {
  width: 100%;
  padding: 10px 5px 5px 5px;
  line-height: 30px;
  position: relative;
}

#m_part_news {
  width: 100%;
}

.m_ava_records {
  display: inline-block;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }

.m_rec_oz {
  display: inline-block;
}

.huy {
  position: absolute;
  display: inline-block;
  margin-right: 30px;
}
.m_nick_rec {
  display: inline-block;
  margin-left: 30px;
}

.m_ava_nick {
  display: inline-block;
  margin-left: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.m_rec_1 {
  position:relative;
  background-color: #E7ECF2;
  padding-bottom: 5px;
  line-height: 30px;
  
}
.m_rec_11 {
  position:relative;
  display: inline-block;
}

.m_rec_2 {
  position:absolute;
  padding-left: 10px;
  padding-top: 5px;

}

.m_rec_3 {
  display: inline-block;
  margin-left: 40px;
  vertical-align: middle;
  padding-top: 1px;
}

.sttrt_flwg {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

.m_rec_addd {
	display: inline-block;
  	margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}

.m_rec_flm {
	padding: 10px 0px 5px 0px;
  	
}

.m_rec_date {
	float: right;
	margin-right: 10px;
	padding-top: 3px;
}

.m_rec_movie {

}

.m_rec_comm {
	float: left;
	display: inline-block;
	background-color: #E9F5FB;
	padding: 1px 10px 1px 5px;
	margin-left: 30px;
	margin-top: 4px;
}
.m_beforerec_comm {
	position: absolute;
	margin-top: 5px;
	margin-left: 5px;
	/*background-color: #EFF5FB;*/
}

.m_photo_desc {
  height: 154px;
}

#m_film_add {
  margin-top: 10px;
  padding: 5px 10px 10px 5px;
  background-color: #E7ECF2;
}

.m_film_add {
  margin-top: 10px;
  padding: 5px 10px 10px 5px;
  background-color: #E7ECF2;
}
#txtar {
  margin-top: 5px;
  border-style: none; 
    border-color: Transparent; 
    overflow: auto;   
    width: 95%;
    margin-left: 2px;

}

#listsSelectButton {
  display: block;
  clear: both;
}
.btn11 {
  margin-left: 1px;
}

#search_ico {
  float: right;
}

#logo_main {
}

#seee input{
background: #EEF2F2!important;
font-weight: normal;

}

#search_ico {
  float:right;
  margin-top:14px;
  margin-right:-25px;
}

.sgnupbtn {
  -webkit-appearance: none;
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  font-size: 12px;
  padding: 10px 0 10px 0;
  text-align: center;
  text-decoration: none;
  border: none;
  width: 200px;
  margin: 100px 10px;
  color: #ffffff;
  background: #3498db;
}

.m_show_co {
  margin-left: 10px;
  margin-right: 10px;
}

.co2 {
  display: none;
}
.co1 {
  color: #4f65bf;
  cursor: pointer;
}
