<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dipolium</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/carousel1.css" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" href="css/style.css"/>
    <link href="css/social.css" rel="stylesheet">
    <!-- **********SCRIPTS************ -->
    <!-- jQuery -->
    <script src="jquery/jquery-1.11.0.min.js"></script>
    <script src="jquery/js/jquery-ui-1.10.4.custom.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Custom -->
    <script src="js/main.js"></script>
</head>
<body>
    <!-- navBlock.ejs -->
    <nav id="nav_div_reg" class="navbar navbar-inverse navbar-fixed-top">
        <div class="nav_sides">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="logo_nav_reg1">
                    <a class="navbar-brand" href="/">Dipolium</a>
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-left" action="/searchPage">
                    <input type="text" class="form-control" placeholder="Search..." name='searchText'>
                </form>
                <%if(user){%>
                    <div id="log_nav1">
                        <a href="/logout">Log out</a>
                    </div>
                <%}else{%>
                    <form class="navbar-form navbar-right" role="form" name="login-form">
                        <div class="form-group login_div">
                            <input name="email" value="" type="text" class="form-control" id="input-nickname" placeholder="Email">
                        </div>
                        <div class="form-group login_div">
                            <input name="password" value="" type="password" class="form-control" id="input-password" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                <%}%>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
    <!-- /navBlock.ejs -->
    <div id="about_main">
        

        This web-site is still under development. This is beta-version. <br><br>

        <b>Why our service is unique?</b><br>
        Rather than focusing on information about movies, we focus on user experience. The main aim of this service - is to help users keeping movies (or tv-series) in their own lists, that will work like a reminder for future premiers or as a history of already watched movies.<br>In addition we combined this process with sharing options, so it can be used as a social network, where you can follow your friends, check their collections of movies and their activity (adding movies to the lists with appropriate reviews for sharing own impressions).
        <br><br>

        <b>Coming Soon Features:</b><br>
        - Integration with popular social networks (Facebook, Twitter);<br>
        - Applications for iOS and Android;<br>
        - Private lists;<br>
        - Notifications;
        <br><br>

        <b>Our future plans:</b><br>
        - Tiered commenting;<br>
        - Multilanguage support;<br>
        - Shared lists;<br>
        - Support for episodes in tv-series and tv-shows;<br>
        - Neural network for better experience of discovering new movies (tv-series, tv-shows);<br>
        - Advanced search results;<br>
        - Sorting items in lists according to different criteria;<br>
        - Advanced "movie page";<br>
        - Calendar;<br>
        - Advanced notifications;<br>
        - Integration with iCal, Google Calendar;<br>
        - Application for Apple TV;<br>
        - Importing features for existing services;<br>
        and more...<br><br>

        For additional information and our revenue model, you can contact us via email:<br>
        <a href="mailto:support@dipolium.com">support@dipolium.com</a><br><br>

        You can find us in social networks:<br>
        <a href="http://vk.com/dipolium">http://vk.com/dipolium</a><br>
        <a href="https://www.facebook.com/groups/dipolium/">https://www.facebook.com/groups/dipolium/</a><br>
        <a href="https://twitter.com/dipolium">https://twitter.com/dipolium</a><br><br>
        Dipolium is being accelerated by <a href="http://fastercapital.com"><img src="icons/logo.png" alt="FasterCapital"><br></a>

    </div>
    <hr>
    <footer>
        <div class="nav_sides">
            &#169 2015 - 2016 Dipolium. <span style="float: right"><a style="color: #4f65bf;" href="/about">About</a> | Contact: support@dipolium.com</span>
        </div>
    </footer>

    <script>
        $(document.forms['login-form']).on('submit', function() {
            var form = $(this);
            $('.error', form).html('');
            $(":submit", form).button("loading");

            $.ajax({
                url: "/login",
                method: "POST",
                data: form.serialize(),
                complete: function() {
                    $(":submit", form).button("reset");
                },
                statusCode: {
                    200: function(jqXHR) {
                        //form.html("You have successfully logged in").addClass('alert-success');
                        window.location.href = "/";

                    },
                    403: function(jqXHR) {
                        var error = JSON.parse(jqXHR.responseText);
                        $('.error', form).html(error.message);
                    }
                }
            });
            return false;
        });
    </script>
        
</body>
</html>