<% layout('layout/pageFilm') -%>
<% block('title', filmObject.Title) -%>
<% block('Year', filmObject.Year) -%>
<% block('Director', filmObject.Director) -%>
<% block('Genre', filmObject.Genre) -%>
<% block('Actors', filmObject.Actors) -%>
<% block('PosterOur', filmObject.PosterOur) -%>
<% block('Plot', filmObject.Plot) -%>
<% block('Country', filmObject.Country) -%>
<% block('imdbRating', filmObject.imdbRating) -%>
<% block('Released', filmObject.Released) -%>

<% block('Avatar', avatar) -%>
<% block('nickname', nickname) -%>

<% filmObject.Title;
filmObject.Year;
filmObject.Rated;
filmObject.Released;
filmObject.Runntime;
filmObject.Genre;
filmObject.Director;
filmObject.Writer;
filmObject.Actors;
filmObject.Plot;
filmObject.Language;
filmObject.Country;
filmObject.Awards;
filmObject.PosterOur;
filmObject.Metascore;
filmObject.imdbRating;
filmObject.imdbVotes;
filmObject.Type;
filmObject.Responce; -%>

<div id="movie_block">
</div>

<script type="text/javascript">

    mainCode();

    function mainCode(){
        var code = '';
        var poster = "<%=blocks.PosterOur%>";
        if (poster === "A") {
            poster = "newPosterBig.jpg";
        }
        code += '<div id = "left_post_side">' +
                '<div id = "mainPoster">' +
                '<img id="filmp_img" src = "../posters/'+poster+'" />' +
                '</div>' +
                '<a href="#" target="_blank">IMDb</a>: <%=blocks.imdbRating%>' +
                '<span class="imdbRatingPlugin" data-user="ur52279440" data-title="tt2177771" data-style="p4"></span><br>'+
                '<b>Premiere: </b> <%=blocks.Released%> <br>' +
                //'<b>DVD release: </b>' +
                '</div>' +

                '<div id="mainDesc">' +
                '<h4><span class="year_film_pg"><%=blocks.Year%></span><span class="year_film_pg">&bull;</span><span class="year_film_pg"><%=blocks.Country%></span><span class="year_film_pg">&bull;</span><span class="year_film_pg"><%=blocks.Genre%></span></h4>'+
                '<hr>' +
                '<div id="">' +
                //НА БУДУЩЕЕ
                //'Exists in lists: <a href="#">The lst1</a>, <a href="#">The list 2</a>' +
                <% if(user){ %>
                '<div class="ava_block ava_tt">' +
                '<img class = "ava_img2" src = "../photos/<%=blocks.Avatar%>" />' +
                '</div>' +
                '<div class="ava_block ava_ttt">' +
                '<textarea type="name" class="form-control" id="comment_add_film" placeholder="Add comment to this movie..." maxlength="256" ></textarea>' +
                '</div>' +
                <% } else { %>
                '<span class="log_toadd_movie">Log in to add this movie to the list.</span>' +
                <% }%>
                '<div class="lists_lst"></div>' +
                '<div id="other_desc">' +
                '</div>' +
                '</div>' +
                '<hr>' +
                '<b>Actors</b>: <%=blocks.Actors%><br>' +
                '<b>Director</b>: <%=blocks.Director%><br>' +
                '<hr>' +
                '<h4>Overview:</h4>' +
                '<%=blocks.Plot%>' +
                '</div>' +
                '<div id="overview">' +
                '</div>';
        //(function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.src="http://g-ec2.images-amazon.com/images/G/01/imdb/plugins/rating/js/rating.min.js";stags.parentNode.insertBefore(js,stags);})(document,"script","imdb-rating-api");
        document.getElementById('movie_block').innerHTML = code;
        addList();
    }

    function addList() {
        var code = '';
        code += '<div>' +
                '<div>' +
                '<div id="exist_lsts">' +
                '</div>' +
                '<form>' +
                '<div id="slct_lsts"></div>' +
                '</form>' +
                '<div id="slct_lsts_status"></div>' +
                '</div>' +
                '</div>';
        document.getElementById('other_desc').innerHTML += code;
        //Добавить ниже userID в первый аргумент
        loadList('<%-blocks.nickname%>', createListCode, selectLists);
    }

    function selectLists(codeList) {
        var filmID = window.location.pathname.substring(7);
        var code = '';
        code += '<select class="form-control input-sm select_length3" id="listsSelect">' +
                codeList +
                '</select>' +
                '<button id="listsSelectButton" onclick=addFilm(document.getElementById("listsSelect").options[document.getElementById("listsSelect").selectedIndex].value,this,"'+filmID+'") type="button" class="btn btn-default btn-sm btn_hei" rel="popover_movie_search" data-original-title title>' +
                'Add to the list' +
                '</button>';
        document.getElementById('slct_lsts').innerHTML = code;
    }

    function createListCode(JSONLists){
        var code = '';
        for(var i = 0; i < JSONLists.length; i++){
            code += '<option value="'+i+'">'+JSONLists[i]+'</option>';
        }
        return code;
    }


    function loadList(userID, callback, callback2){
        var codeList='';
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getListsName?userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{
                    var list = JSON.parse(xmlhttp.responseText);
                    codeList = callback(list);
                    callback2(codeList);
                }catch(e){
                    console.log(e.message);
                }

            }
        }
    }

    function addFilm(idList, objButton, idFilm){
        document.getElementById('slct_lsts_status').innerHTML = 'Wait...';
        //objButton.className += " disabled";
        var xmlhttp = new XMLHttpRequest();
        var comment = document.getElementById('comment_add_film').value;
        comment = escapeHtml(comment);
        var body = 'idFilm=' + encodeURIComponent(idFilm) + '&idList=' + encodeURIComponent(idList) + '&comment=' + encodeURIComponent(comment);
        xmlhttp.open("POST", "/addFilm", true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(body);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                //document.getElementById('slct_lsts_status').innerHTML = 'Added!';
                document.getElementById('slct_lsts_status').innerHTML = 'added! <a href="#" onclick=removeFilm('+idList+',"'+idFilm+'")>Undo?</a>';
            }
        }
    }

    function removeFilm(idList,idFilm){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/removeFilm?idList="+idList+"&idFilm="+idFilm, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {

                //objButton.className="btn btn-default btn-xs xs_add";
                //objButton.innerHTML='Add';
                //objButton.onclick=function(){addFilm(idList,objButton,idFilm);}
                document.getElementById('slct_lsts_status').innerHTML = 'Removed!';
            }
        }
    }

    function escapeHtml(text) {
      return text
          .replace(/&/g, "&amp;")
          .replace(/</g, "&lt;")
          .replace(/>/g, "&gt;")
          .replace(/"/g, "&quot;")
          .replace(/'/g, "&#039;");
    }


</script>