<% layout('./layout/page') -%>
<% block('nickname', nickname) %>
<% block('name', name) %>
<% block('surname', surname) %>
<% block('avatar', avatar) %>
<% block('about', about) %>
<% block('title', 'Following') %>

<article id="list_of_users">
    <!-- userListsSection.ejs -->

</article>
<!-- /newsSection.ejs -->

<script type="text/javascript">

    function loadUsers(userID, callback, start_point, end_point){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getFollowing?userID="+encodeURIComponent(userID)+"&from="+start_point+"&to="+end_point, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{
                    var users=JSON.parse(xmlhttp.responseText);
                    console.log(users);

                    callback(userID, users, start_point, end_point);
                }catch(e){
                    console.log(e.message);
                }

            }
        }
    }
    function specialUser(user) {
        var code = '';
        <% if(user){ %>
        var myUser = '<%-user.nickname%>';
        <% } else { %>
        var myUser = '';
        <% }%>
        for (var i = 0; i < user.length; i++) {
            code += '<div class="info_3">' +
                    '<a href="id_'+user[i].userName+'" class="ava_container1">' +
                    '<img class = "ava_img1" src = "photos/' + user[i].avatar +'" />' +
                    '</a>' +
                    '<div class="ava_info1">' +
                    '<a href="id_'+user[i].userName+'" class = "name">' + escapeHtml(user[i].name) + '</a>' +
                    '<br/><a href="id_'+user[i].userName+'" class = "name">' + escapeHtml(user[i].surName) + '</a>' +
                    '<br/><span class="user_name">' + escapeHtml(user[i].userName) + '</span>' +
                    '</div>' +
                    '<div class="flw_btn">';
            if(user[i].userName !== myUser) {
                <% if(user){ %>
                if (user[i].following == 0) {
                    code += '<button onclick=followUser("'+user[i].userName+'",this) type="button" class="btn btn-xs btn-default flw_btn_size2"><i class="fa fa-plus-square"></i> Follow</button>';
                } else {
                    code += '<button onclick=unfollowUser("'+user[i].userName+'",this) type="button" class="btn btn-xs btn-success flw_btn_size1"><i class="fa fa-check"></i> Following</button>';
                }
                <% } else { %>
                <% }%>
            } else
                code += '<div style="height: 15px;"></div>';
            code += '</div>' +
                    '</div>';
        }
        //document.getElementById('list_of_users').innerHTML = code;
        return code;
    }

    function addUsers(userID, user, start_point, end_point) {
        var more = '';
        if (user.length === (end_point-start_point)) {
            var chng = end_point-start_point;
            start_point += chng;
            end_point += chng;
            var more = '<div id="more_btn"><br><center><button id="morebtn0" type="button" class="btn btn-default btn-sm" onclick=loadUsers("'+userID+'",moreUsers,'+start_point+','+end_point+')>More</button></center></div>';
        }
        var code = '';
        code += '<h2>Following</h2>';
        if (user.length === 0) {
            code += ' There is no following to show';
        } else {
            code += specialUser(user);
            code += more;
        }        
        document.getElementById("list_of_users").innerHTML += code;

    }
    function moreUsers(userID, user, start_point, end_point) {
        var more = '';
        if (user.length === (end_point-start_point)) {
            var chng = end_point-start_point;
            start_point += chng;
            end_point += chng;
            var more = '<div id="more_btn"><br><center><button id="morebtn0" type="button" class="btn btn-default btn-sm" onclick=loadUsers("'+userID+'",moreUsers,'+start_point+','+end_point+')>More</button></center></div>';
        }
        var code = '';
        document.getElementById('more_btn').outerHTML = '';
        code += specialUser(user);
        code += more;
        document.getElementById("list_of_users").innerHTML += code;
    }

    function loadNames(userID, callback){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getFollowers?userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{
                    var user=JSON.parse(xmlhttp.responseText);
                    
                    callback(user);
                }catch(e){
                    console.log(e.message);
                }

            }
        }
    }

    function followUser(userID, objButton){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/addFollowing?userID="+userID, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                objButton.className="btn btn-xs btn-success flw_btn_size1";
                objButton.innerHTML='<i class="fa fa-check"></i> Following';
                objButton.onclick=function(){unfollowUser (userID,objButton);}
            }
        }
    }

    function unfollowUser(userID, objButton){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/removeFollowing?userID="+userID, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                objButton.className="btn btn-xs btn-default flw_btn_size2";
                objButton.innerHTML='<i class="fa fa-plus-square"></i> Follow';
                objButton.onclick=function(){followUser(userID, objButton);}
            }
        }
    }

    function escapeHtml(text) {
      return text
          .replace(/&/g, "&amp;")
          .replace(/</g, "&lt;")
          .replace(/>/g, "&gt;")
          .replace(/"/g, "&quot;")
          .replace(/'/g, "&#039;");
    }
    loadUsers('<%-blocks.nickname%>',addUsers, 0, 15);
</script>