<% layout('./layout/page') -%>
<% block('nickname', nickname) %>
<% block('name', name) %>
<% block('surname', surname) %>
<% block('avatar', avatar) %>
<% block('about', about) %>
<% block('title', 'News') %>
<%-partial('./partials/newsSection.ejs')%>

