<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Dipolium</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="landing/css/bundle.css">
    <link rel="stylesheet" href="landing/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Halant:300,400" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Preloader-->
    <div id="loader">
      <div class="centrize">
        <div class="v-center">
          <div id="mask">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
    <!-- End Preloader-->
    <!-- Navbar-->
    <header id="topnav">
      <div class="container">
        <div class="logo">
          <a href="index.html">
            <img src="landing/logo-light1.png" alt="" class="logo-light">
            <img src="landing/logo-dark1.png" alt="" class="logo-dark">
          </a>
        </div>
        <div class="menu-extras">
          <div class="menu-item">
            <a class="navbar-toggle">
              <div class="lines"><span></span><span></span><span></span>
              </div>
            </a>
          </div>
        </div>
        <div id="navigation" data-onepage="true">
          <ul class="navigation-menu nav">
            <li><a href="#home" data-scroll="true">Home</a>
            </li>
            <li><a href="#features" data-scroll="true">Features</a>
            </li>
            <li><a href="#testimonials" data-scroll="true">Testimonials</a>
            </li>
            <li><a target="_blank" href="/registration" data-scroll="true">V1</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!-- Home Section-->
    <section id="home" class="splash parallax">
      <div data-parallax="scroll" data-image-src="landing/mov3.png" class="parallax-bg"></div>
      <div class="centrize">
        <div class="v-center">
          <div class="container">
            <div class="row">
              <div class="col-md-8">
                <div class="title">
                  <h2 class="fw-400">A new way to discover movies and tv-series.</h2>
                  <!-- <p>Keep collections of movies and tv-series and share them with your friends.</p> -->
                  <p>Including advanced recommendation system, personal collections, review system, notifications of releases with calendar and a lot more.</p>
                  <!-- <p><a href="#about" data-scroll="true" class="btn btn-light-out btn-round">See more<i class="ti-control-play"></i></a><a href="#pricing" data-scroll="true" class="btn btn-light btn-round">Try it now</a> -->
                  <div class="inline-form">
                    <!-- <p class="lead-text mb-25">We are launching in Summer 2017. Leave us your email and get annual premium subscription for free.</p> -->
                    <form action="/benotified">
                      <div class="input-group">
                          <input type="text" placeholder="Your Email*" class="form-control"><span class="input-group-btn"><button type="submit" class="btn btn-color">Be Notified</button></span>
                      </div>
                    </form>
                    <p class="lead-text mb-25" style="font-size: 13px;">*We are launching this Summer. Leave us your email and get annual premium subscription for free.</p>
                  </div>
                  </p>
                </div>
              </div>
            </div>
            <!-- end of row-->
          </div>
          <!-- end of container-->
        </div>
      </div>
    </section>
    <!-- end of home section-->
    <section id="features">
      <div class="container">
        <div class="title center">
          <h4 class="upper">Production Ready.</h4>
          <h2>Features<span class="red-dot"></span></h2>
          <hr>
        </div>
        <div class="section-content mt-50">
          <div class="row">
            <div class="col-md-4 col-sm-6">
              <div class="text-box txt-md-right txt-xs-center pr-15 pl-15">
                <h4>Create Collections</h4>
                <p>Collections of movies and tv-series allows to create watchlist or share what you've watched.</p>
              </div>
              <div class="text-box txt-md-right txt-xs-center pr-15 pl-15">
                <h4>Write reviews</h4>
                <p>To show your impression about particular movie or tv-serie, write a review for it, which will be shown to your friends.</p>
              </div>
              <div class="text-box txt-md-right txt-xs-center pr-15 pl-15">
                <h4>Discover via trending lists</h4>
                <p>On discovery page, you can find most trending movies which are now in cinemas or available to watch online.</p>
              </div>
              <div class="text-box txt-md-right txt-xs-center pr-15 pl-15">
                <h4>Discover via recommendation system</h4>
                <p>Our nearal network based recommendation system analyses your cine-activity and suggests most appropriate recommendations.</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <img src="landing/dipolium-app.png" alt="">
                </div>
              </div>
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <img src="landing/comingsoon.png" alt="" style="height: 100px;position: relative;top: 65px;">
                </div>
              </div>
              <!-- end of row-->
            </div>
            <div class="col-md-4 visible-md visible-lg">
              <div class="text-box pr-15 pl-15">
                <h4>Follow friends</h4>
                <p>Following your friends will help you to discover new movies and tv-series and disuss that with them.</p>
              </div>
              <div class="text-box pr-15 pl-15">
                <h4>Review from the people you know</h4>
                <p>Via our service, you will be able to see reviews from your friends.</p>
              </div>
              <div class="text-box pr-15 pl-15">
                <h4>Subscription on releases</h4>
                <p>Subscriptions on movies and tv-shows will allow you to be notified when new movie or episode releases.</p>
              </div>
              <div class="text-box pr-15 pl-15">
                <h4>Mobile applications</h4>
                <p>Since user experience is top priority for us, we created multi-platform apps for easy and fast acces to your collections.</p>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
        <!-- end of section content-->
      </div>
      <!-- end of container            -->
    </section>
    <section id="testimonials" class="parallax">
      <div data-parallax="scroll" data-image-src="landing/websummit.jpg" class="parallax-bg"></div>
      <div class="parallax-overlay">
        <div class="container">
          <div class="title center">
            <h4 class="upper">Feedback from the biggest web-conference.</h4>
            <h3>What They Say<span class="red-dot"></span></h3>
            <hr>
          </div>
          <div class="section-content">
            <div id="testimonials-slider" data-options="{&quot;animation&quot;: &quot;slide&quot;, &quot;directionNav&quot;: true}" class="flexslider nav-outside">
              <ul class="slides">
                <li>
                  <blockquote>
                    <p>"This product definitely has a future. Entertainment is an area, where customers always will bee searching for new experience."</p>
                  </blockquote>
                </li>
                <li>
                  <blockquote>
                    <p>"Movies will never die. We possibly need a place, where we can orginise our views and tastes regarding movies and tv-series."</p>
                  </blockquote>
                </li>
                <li>
                  <blockquote>
                    <p>"The most promising sturtup ever. The approach of focusing on user needs is the main advantage of this service, which makes them unique."</p>
                  </blockquote>
                </li>
              </ul>
            </div>
          </div>
          <!-- end of section content-->
        </div>
        <!-- end of container-->
      </div>
    </section>
    <!-- Footer-->
    <footer id="footer">
      <div class="container">
        <div class="footer-wrap">
          <div class="row">
            <div class="col-md-4">
              <div class="copy-text">
                <p><i class="icon-heart red mr-15"></i>© 2017 Dipolium.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="copy-text">
                <p>Contact: support@dipolium.com</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="footer-social">
                <ul>
                  <li>
                    <a target="_blank" href="#"><i class="ti-facebook"></i></a>
                  </li>
                  <li>
                    <a target="_blank" href="#"><i class="ti-twitter-alt"></i></a>
                  </li>
                  <li>
                    <a target="_blank" href="#"><i class="ti-linkedin"></i></a>
                  </li>
                  <li>
                    <a target="_blank" href="#"><i class="ti-instagram"></i></a>
                  </li>
                  <li>
                    <a target="_blank" href="#"><i class="ti-dribbble"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end of row-->
        </div>
      </div>
      <!-- end of container-->
    </footer>
    <!-- end of footer-->
    <script type="text/javascript" src="landing/js/jquery.js"></script>
    <script type="text/javascript" src="landing/js/bundle.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="landing/js/main.js"></script>
  </body>

</html>
