<% layout('/layout/page') -%>
<% block('title', "Регистрация и вход") -%>
<article>

<p>Введите имя пользователя и пароль. Если такого пользователя нет - он будет создан.</p>

<form class="form-horizontal login-form" name="login-form">
    <div class="form-group">
        <label for="input-name" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
            <input name="name" value="" type="text" class="form-control" id="input-name" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="input-family" class="col-lg-2 control-label">Surname</label>

        <div class="col-lg-10">
            <input name="surname" value="" type="text" class="form-control" id="input-surname" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="input-nickname" class="col-lg-2 control-label">Nickname</label>

        <div class="col-lg-10">
            <input name="nickname" value="" type="text" class="form-control" id="input-nickname" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="input-password" class="col-lg-2 control-label">Password</label>

        <div class="col-lg-10">
            <input name="password" value="" type="password" class="form-control" id="input-password" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="input-email" class="col-lg-2 control-label">Email</label>

        <div class="col-lg-10">
            <input name="email" value="" type="text" class="form-control" id="input-email" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-primary" data-loading-text="Отправляю...">Log In</button>
            <span class="help-block error"></span>
        </div>
    </div>
</form>
    </article>

<script>
    $(document.forms['login-form']).on('submit', function() {
        var form = $(this);
        $('.error', form).html('');
        $(":submit", form).button("loading");

        $.ajax({
            url: "/login",
            method: "POST",
            data: form.serialize(),
            complete: function() {
                $(":submit", form).button("reset");
            },
            statusCode: {
                200: function() {
                    var nickname=$("#input-nickname").val();
                    form.html("Вы вошли в сайт").addClass('alert-success');
                    window.location.href = "/id_"+nickname;

                },
                403: function(jqXHR) {
                    var error = JSON.parse(jqXHR.responseText);
                    $('.error', form).html(error.message);
                }
            }
        });
        return false;
    });
</script>