<% layout('./layout/pageSearch') -%>
<% block('title', 'users') %>

<div id="dsc_usrs"><h3>Discover Movies</h3></div>

<script>
loadList();
function loadList() {
   var xmlhttp = new XMLHttpRequest();
   xmlhttp.open("GET", "http://api.themoviedb.org/3/discover/movie?api_key=4deb64f4e35f23e516cd22b0ebe545d5&sort_by=popularity.desc&page=1", true);
   xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
   xmlhttp.send(null);
   xmlhttp.onreadystatechange=function()
   {
       if (xmlhttp.readyState==4 && xmlhttp.status==200)
       {
           try{
               var movies = JSON.parse(xmlhttp.responseText);
               console.log(movies);
               organiseMovies(movies);
           }catch(e){
               console.log(e.message);
           }

       }
   }
}

function organiseMovies(movies) {
	var idMov = new Array(movies.results.length);
	for (var i = 0; i < movies.results.length; i++) {
		idMov[i] = movies.results[i].id;
		//loadMovies(movies.results[i].id, idMov, i);
	}
	loadMovies2(idMov);
}


function loadMovies2(movie) {
	var counter = 0;
	var resMov = new Array(movie.length);
	var f1 = function() {
		$.ajax({
	    	url:"http://api.themoviedb.org/3/movie/"+movie[counter]+"?api_key=4deb64f4e35f23e516cd22b0ebe545d5",
	    	type:"GET",
	     	async:"false",
	     	success:function(dataa){
	     		resMov[counter] = dataa;
	     		counter++;
	     		f2();
	     	}
   		});
	}

	var f2 = function() {
		if (counter === movie.length) {
			imdbSort(resMov);
		} else f1();
	}

	f1();
}

function imdbSort(movies) {
	var imdbRes = new Array(movies.length);
	for (var i = 0; i < movies.length; i++) {
		imdbRes[i] = movies[i].imdb_id;
	}
	console.log(imdbRes);
}

</script>