<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Social Network for Cinephiles">
    <meta name="keywords" content="dipolium,movies,collections">
    <title>Dipolium</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/carousel1.css" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" href="css/style.css"/>
    <link href="css/social.css" rel="stylesheet">
    <!-- **********SCRIPTS************ -->
    <!-- jQuery -->
    <script src="jquery/jquery-1.11.0.min.js"></script>
    <script src="jquery/js/jquery-ui-1.10.4.custom.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Custom -->
    <script src="js/main.js"></script>
</head>
<body>
    <!-- navBlock.ejs -->
    <nav id="nav_div_reg" class="navbar navbar-inverse navbar-fixed-top">
        <div class="nav_sides">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="logo_nav_reg">
                    <a href="/">Dipolium</a>
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-left" action="/searchPage">
                    <input type="text" class="form-control search_reg" placeholder="Search..." name='searchText'>
                </form>
                <form class="navbar-form navbar-right" role="form" name="login-form">
                    <div class="form-group login_div">
                        <input name="email" value="" type="text" class="form-control search_reg" id="input-nickname" placeholder="E-mail">
                    </div>
                    <div class="form-group login_div">
                        <input name="password" value="" type="password" class="form-control search_reg" id="input-password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
    <!-- /navBlock.ejs -->
    <!-- Carousel ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/owl-carousel/main_photos/m_0.png" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Find information about films or tv series</h1>

                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/owl-carousel/main_photos/m___2.png" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Create your own lists</h1>

                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/owl-carousel/main_photos/m__3.png" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Follow people you are interested in</h1>

                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/owl-carousel/main_photos/m___1.png" alt="Zero slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Discover new movies via news feed</h1>

                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- //Carousel ================================================== -->


    <!-- REGISTRATION -->
    <button class="get_start_btn gs_pos">Get Started</button>
    <div class="container">
        <div class="row row-centered">

            <div class="col-sm-4 col-centered col-fixed">

                <form class="form-horizontal login-form pad_reg" name="registration-form">
                    <fieldset class="reg_l">
                        <div id="legend" style="">
                            <legend style="text-align: center;">Registration</legend>
                        </div>
                        <input name="name" type="text" placeholder="First Name" class="form-control" id="input-name" maxlength="20" /><br>
                        <input name="surname" type="text" placeholder="Last Name" class="form-control" id="input-surname" maxlength="20" /><br>
                        <input name="email" type="text" placeholder="Email Address" class="form-control" id="input-email" /><br>
                        <input name="nickname" type="text" placeholder="Nickname" class="form-control" id="input-nickname" maxlength="20" /><br>
                        <input name="password" type="password" data-type="text" placeholder="Password" class="form-control" id="input-password" /><br>
                        <div id="tnm_agree">
                            <input type="checkbox" name="tc" id="tc"> <div id="agree_t_c">I agree with <a data-toggle="modal" data-target=".bs-example-modal-lg" style="cursor: pointer;">terms and conditions</a></div><br><br>
                        </div>
                        <div class="form-group">
                            <div style="" class="col-lg-10">
                                <button style="width:255px;" type="submit" class="btn btn-primary" data-loading-text="Sending">Register</button>
                            </div>
                        </div>
                        <div style="color: red;" id="reg_errors">
                        </div>
                    </fieldset>
                </form>

            </div>
            <div class="col-sm-4 col-centered col-fixed reg_networks">
                <div id="legend">
                    <legend style="text-align: center;">Sign up using social networks</legend>
                </div>
                <div class="pad_reg">
                    <div class="fb-icon-bg"></div>
                    <div class="fb-bg" onclick="soc_net_reg()"></div>
                    <div class="twi-icon-bg"></div>
                    <div class="twi-bg" onclick="soc_net_reg()"></div>
                    <div class="g-icon-bg"></div>
                    <div class="g-bg" onclick="soc_net_reg()"></div>
                </div>
                <div id="soc_mess">
                </div>
            </div>
        </div>
        <div class="soc_net_src">
            Find us in social networks: <br>
            <a href="https://www.facebook.com/groups/dipolium/" target="_blank"><img src="/owl-carousel/main_photos/fb.png" /></a>
            <a href="https://twitter.com/dipolium" target="_blank"><img src="/owl-carousel/main_photos/tw.png" /></a>
            <a href="http://vk.com/dipolium" target="_blank"><img src="/owl-carousel/main_photos/vk.png" /></a>
            <a href="https://plus.google.com/u/0/communities/107124396635060006687?hl=en-GB" target="_blank"><img src="/owl-carousel/main_photos/gg.png" /></a><br><br>
            <img class="mob_coming" src="/owl-carousel/main_photos/appstore.png" alt="App Store"><img class="mob_coming" src="/owl-carousel/main_photos/googleplay.png" alt="Google Play">
        </div>

    </div>
    <!-- //REGISTRATION -->





    <hr>
    <footer>
        <div class="nav_sides">
            <%-partial('./partials/footer')%>
        </div>
    </footer>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content tm_content">
                <h4>Terms and Conditions</h4>
                Introduction<br>

                These terms and conditions govern your use of this website; by using this website, you accept these terms and conditions in full.   If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website. <br>

                Acceptable use<br>

                You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.<br>

                You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.<br>

                You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this website without [NAME'S] express written consent.<br>

                Cookies<br>

                This site uses cookies. By continuing to browse the site, you are agreeing to our use of cookies.


            </div>
        </div>
    </div>

    <script>

        function soc_net_reg() {
            var code = '';
            code += '<div style="color: red; margin-top: 10px; margin-left: 20px; width: 250px;">' +
                    'Service is currently unavailable. Please, fill the registration form.' +
                    '</div>';
            document.getElementById('soc_mess').innerHTML = code;
        }

        function check() {
            var val = document.getElementById("tc").checked;
        }

        $(document.forms['login-form']).on('submit', function() {
            var form = $(this);
            $('.error', form).html('');
            $(":submit", form).button("loading");
            $.ajax({
                url: "/login",
                method: "POST",
                data: form.serialize(),
                complete: function() {
                    $(":submit", form).button("reset");
                },
                statusCode: {
                    200: function(jqXHR) {
                        //form.html("You have successfully logged in").addClass('alert-success');
                        window.location.href = "/";

                    },
                    403: function(jqXHR) {
                        var error = JSON.parse(jqXHR.responseText);
                        $('.error', form).html(error.message);
                    }
                }
            });
            return false;
        });

        function regSend(forms) {
            var form = $(forms);
            $('.error', form).html('');
            $(":submit", form).button("loading");
            $.ajax({
                url: "/login",
                method: "POST",
                data: form.serialize(),
                complete: function() {
                    $(":submit", form).button("reset");
                },
                statusCode: {
                    200: function(jqXHR) {
                        form.html("Welcome").addClass('alert-success');
                        window.location.href = "/";
                    },
                    403: function(jqXHR) {
                        var error = JSON.parse(jqXHR.responseText);
                        $('.error', form).html(error.message);
                        console.log("busy");
                    }
                }
            });
        }
        $(document.forms['registration-form']).on('submit', function() {
            var checked = $('#tc').is(':checked');
            if (checked) {
                var mail = $(this[name="email"]).val();
                if (validateEmail(mail)) {
                    var nick = $(this[name="nickname"]).val();
                    mailCheck(this,mail,nick,checker,nicknameCheck);
                } else {
                    document.getElementById('reg_errors').innerHTML = "This e-mail is not valid.";
                }
            } else {
                document.getElementById('reg_errors').innerHTML = "You must agree with the terms and conditions.";
            }

        return false;
        });

    function checker(forms, mailStat, nickStat) {
        if (mailStat === 'false' && nickStat === 'false') {
            regSend(forms);
        } else if (mailStat === 'true' && nickStat === 'true') {
            document.getElementById('reg_errors').innerHTML = "This e-mail and nickname are using by another user.";
        } else if (mailStat === 'true') {
            document.getElementById('reg_errors').innerHTML = "This e-mail is using by another user.";
        } else if (nickStat === 'true') {
            document.getElementById('reg_errors').innerHTML = "This nickname is using by another user.";
        }
    }

    function mailCheck(forms,mail,nick,callback,callback1) {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/checkEmail?email="+encodeURIComponent(mail), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{
                    var mailStat=xmlhttp.responseText;
                    callback1(forms,mailStat,nick,callback);
                }catch(e){
                    console.log(e.message);
                }
            }
        }
    }

    function nicknameCheck(forms,mailStat,userID,callback) {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/checkNickname?nickname="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{
                    var nickStat=xmlhttp.responseText;
                    callback(forms,mailStat,nickStat);
                }catch(e){
                    console.log(e.message);
                }
            }
        }
    }
    function validateEmail(email) {
        var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
        return re.test(email);
    }

    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-65975963-1', 'auto');
      ga('send', 'pageview');
    </script>

</body>
</html>
