<% layout('/layout/pageSearch') -%>
<% block('title', "Searching") -%>
<div class="as_search_field more_search">
        <form action="/searchUser">
    <input type="text"name="searchText" id="search_mov" class="form-control" value="<%-searchText%>">
    <button type="button" id="search_btn" class="btn btn-primary">Search</button>
        </form>
    <h3>Searching username "<%-searchText%>"...</h3>
</div>

<div class="as_search_results" id="s_res">

</div>
<script type="text/javascript">

    function addUsers(user){
        var code = '';
        code+='<div class="space_us"></div>';
            for (var i = 0; i < user.length; i++) {
                code += '<div class="info_1">' +
                        '<div class="ava_container" id="my_ava_'+i+'">' +
                        //'<a href="/id_'+user[i].userName+'"><img class = "ava_img" src = "photos/'+user[i].userName+'.png" /></a>' +
                        '</div>' +
                        '<div class="ava_info3">' +
                        '<span class = "name">' + escapeHtml(user[i].name) + '</span>' +
                        '<br/><span class = "name">' + escapeHtml(user[i].surName) + '</span>' +
                        '<br/><span class="user_name">' + escapeHtml(user[i].userName) + '</span><br/>';

                /*if (user[i].following == 0) {
                    code += '<button onclick=followUser("'+user[i].userName+'",this) type="button" class="btn btn-xs btn-default flw_btn_size">Follow</button>';
                } else {
                    code += '<button onclick=unfollowUser("'+user[i].userName+'",this) type="button" class="btn btn-xs btn-success flw_btn_size">Following</button>';
                }*/
                
                code += '</div>';
                
                code += '</div>';
                code += '<div id="fol_stat_'+i+'"></div>';
                if(i % 4 == 0){
                    code+='<div class="space_us"></div>';
                }
            }
        
        document.getElementById('s_res').innerHTML = code;
        preUser(user);
        loadUsers('<%-user.nickname%>', user);
        //console.log(code);
    }

    function loadUsers(userID, user){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getFollowing?userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{
                    var users = JSON.parse(xmlhttp.responseText);
                    checkfollowing(userID, users, user);
                }catch(e){
                    console.log(e.message);
                }

            }
        }
    }

    function checkfollowing(userID, following, foundUsers){
        var code = '';
        for (var i = 0; i < foundUsers.length; i++) {
            code = '<button onclick=followUser("'+foundUsers[i].userName+'",this) type="button" class="btn btn-xs btn-default flw_btn_size2"><i class="fa fa-plus-square"></i> Follow</button>';
            document.getElementById('fol_stat_'+i).innerHTML = code;
            for (var j = 0; j < following.length; j++) {
                if (following[j].userName === foundUsers[i].userName) {
                    code = '<button onclick=unfollowUser("'+foundUsers[i].userName+'",this) type="button" class="btn btn-xs btn-success flw_btn_size1"><i class="fa fa-check"></i> Following</button>';
                    document.getElementById('fol_stat_'+i).innerHTML = code;
                    break;
                }
            }
        }
    }

    function preUser(user) {
        for (var i = 0; i < user.length; i++) {
            userInfo(user[i].userName, i);
        }
    }

    function userInfo(userID, i) {
        var code = '';
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/getUserInfo?userID="+encodeURIComponent(userID), true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                try{
                    userData=JSON.parse(xmlhttp.responseText);
                    code += '<a href="/id_'+userID+'"><img class = "ava_img" src = "photos/'+userData.ava+'" /></a>';
                    document.getElementById('my_ava_'+i).innerHTML = code;
                }catch(e){
                    console.log(e.message);
                }
            }
        }
    }

    function followUser(userID, objButton){
        console.log(userID);
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/addFollowing?userID="+userID, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                objButton.className="btn btn-xs btn-success flw_btn_size1";
                objButton.innerHTML='<i class="fa fa-check"></i> Following';
                objButton.onclick=function(){unfollowUser (userID, objButton);}
            }
        }
    }

    function unfollowUser(userID, objButton){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/removeFollowing?userID="+userID, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                objButton.className="btn btn-xs btn-default flw_btn_size2";
                objButton.innerHTML='<i class="fa fa-plus-square"></i> Follow';
                objButton.onclick=function(){followUser(userID, objButton);}
            }
        }
    }

    function escapeHtml(text) {
      return text
          .replace(/&/g, "&amp;")
          .replace(/</g, "&lt;")
          .replace(/>/g, "&gt;")
          .replace(/"/g, "&quot;")
          .replace(/'/g, "&#039;");
    }
    addUsers(<%-users%>);
</script>

