<% layout('./layout/page') -%>
<% block('nickname', nickname) %>
<% block('name', name) %>
<% block('surname', surname) %>
<% block('avatar', avatar) %>
<% block('about', about) %>
<% block('title', "Settings") -%>
<article id="mainset">

</article>
<script type="text/javascript">
    function settingsCode() {
        var code = '';
        code += '<h3>Change your settings and press "Save" button</h3>' +
                '<div id="sett_panel">' +
                
                '<div class="form-group">' +
                '</div>' +
                '<label class="sett_label" onclick="changeMail()">Change E-mail</label>' +
                '<label class="sett_label" onclick="changePass()">Change Password</label>' +
                '<label class="sett_label" onclick="changeName()">Change Name</label>' +
                '<label class="sett_label" onclick="changePhoto()">Choose New Photo</label>' +
                '<label class="sett_label" onclick="changeAbout()">Change About Statement</label>' +                
                '<label>Language</label>' + ' ' +
                '<select>' +
                '<option>English</option>' +
                '</select>' +                
                '</div>' +
                '<div id="sett_right">' +
                '</div>';
        document.getElementById('mainset').innerHTML = code;
    }

    function changeAbout() {
        var code = '';
        code += '<form role="form" enctype="multipart/form-data" method="post" action="/changeSettings">';
        code += '<textarea id="bobo" type="name" class="form-control" name="about" id="about1" maxlength="256" ></textarea><br>';
        code += '<button type="submit" class="btn btn-default sve_btn">Save</button>';
        code += '</form>';
        document.getElementById('sett_right').innerHTML = code;
    }

    function changePass() {
        var code = '';
        code += '<form role="form" enctype="multipart/form-data" method="post" action="/changeSettings">';
        code += '<div id="change_password"></div>' +
                '<p>Input your previos password</p>' +
                '<input type="password" class="form-control" name="pass1" id="pass1" placeholder="input your password" maxlength="256"><br/>' +
                '<p>Input your new password</p>' +
                '<input type="password" class="form-control" name="pass2" id="pass2" placeholder="input your new password" maxlength="256" ><br/>' +
                '<p>Confirm your new password</p>' +
                '<input type="password" class="form-control" name="pass3" id="pass3" placeholder="confirm your new password" maxlength="256" ><br/>';
        code += '<button type="submit" class="btn btn-default sve_btn">Save</button>';
        code += '</form>';
        document.getElementById('sett_right').innerHTML = code;
    }

    function changeName() {
        var code = '';
        code += '<form role="form" enctype="multipart/form-data" method="post" action="/changeSettings">';
        code += '<input type="name" class="form-control" id="name" name="name" value="<%=name%>" maxlength="256" ><br>';
        code += '<input type="name" class="form-control" id="surname" name="surname" value="<%=surname%>" maxlength="256" ><br>';
        code += '<button type="submit" class="btn btn-default sve_btn">Save</button>';
        code += '</form>';
        document.getElementById('sett_right').innerHTML = code;
    }


    function changePhoto() {
        var code = '';
        code += '<form role="form" enctype="multipart/form-data" method="post" action="/changeSettings">';
        code += '<div class="ava_container">' +
                '<img class = "ava_img" src = "photos/<%=avatar%>" />' +
                '</div>' +
                '<br><br><br><br>' +
                '<input type="file" name="photo" multiple accept="image/*,image/jpeg">' +
                '<br>';
        code += '<button type="submit" class="btn btn-default sve_btn">Save</button>';
        code += '</form>';
        document.getElementById('sett_right').innerHTML = code;
    }

    function changeMail() {
        var code = '';
        code += '<form role="form" enctype="multipart/form-data" method="post" action="/changeSettings">';
        //code += '<p> Your current e-mail is: <b>mail@mail.com</b></p>';
        code += '<input type="email" class="form-control" name="email" id="email1" placeholder="input your new e-mail" maxlength="256" ><br>';
        code += '<button type="submit" class="btn btn-default sve_btn">Save</button>';
        code += '</form>';
        document.getElementById('sett_right').innerHTML = code;
    }
    settingsCode();
    changeMail();

</script>