<% layout('./layout/pageSearch') -%>
<% block('title', 'users') %>

<div id="dsc_usrs"><h3>Discover Users</h3></div>
<div class="as_search_field more_search">
    
    <form action="/searchUser">
    <input type="text"name="searchText" id="search_mov" class="form-control" value="<%-searchText%>" placeholder="Search user by username">
    <button type="button" id="search_btn" class="btn btn-primary">Search</button>
    </form>
</div>
    
    <div id="main_userss">

    </div>

    <script>
        nicknameCheck(0,20,specialUser,loadUsers);
        function nicknameCheck(start_point, end_point, callback, callback1) {
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/getMostPopularUsers?from="+encodeURIComponent(start_point)+"&to="+encodeURIComponent(end_point), true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlhttp.send(null);
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    try{
                        var users=JSON.parse(xmlhttp.responseText);
                        <% if(user){ %>
                        var myUser = '<%-user.nickname%>';
                        <% } else { %>
                        var myUser = '';
                        <% }%>
                        callback1(myUser, users, callback);
                    }catch(e){
                        console.log(e.message);
                    }
                }
            }
        }

        function loadUsers(userID, otherUser, callback){
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/getFollowing?userID="+encodeURIComponent(userID), true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlhttp.send(null);
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    try{
                        var users = JSON.parse(xmlhttp.responseText);
                        callback(userID, otherUser, users);
                    }catch(e){
                        console.log(e.message);
                    }

                }
            }
        }

        function specialUser(myUser, user, following) {
        var code = '';
        
        for (var i = 0; i < user.length; i++) {
            code += '<div class="info_4">' +
                    '<div class="ava_container1">' +
                    '<img class = "ava_img1" src = "photos/' + user[i].ava +'" />' +
                    '</div>' +
                    '<div class="ava_info1">' +
                    '<a href="id_'+user[i].nickname+'" class = "name">' + escapeHtml(user[i].name) + '</a>' +
                    '<br/><a href="id_'+user[i].nickname+'" class = "name">' + escapeHtml(user[i].surname) + '</a>' +
                    '<br/><span class="user_name">' + escapeHtml(user[i].nickname) + '</span>' +
                    '</div>' +
                    '<div class="flw_btn">';
            if(user[i].nickname !== myUser) {
                <% if(user){ %>
                    code += '<div id="fol_stat_'+i+'"></div>';
                    
                <% } else { %>
                <% }%>
            } else
                code += '<div style="height: 15px;"></div>';
            code += '</div>' +
                    '</div>';
        }
        //document.getElementById('list_of_users').innerHTML = code;
        document.getElementById('main_userss').innerHTML = code;
        followStatus(myUser, user, following, i);
    }
    
    function followStatus(myUser, otherUsers, following, i) {
        //console.log(otherUser);
        //console.log(i);
    <% if(user){ %>
        
            for (var i = 0; i < otherUsers.length; i++) {
                if (myUser !== otherUsers[i].nickname) {
                    checkFollowing(following, otherUsers[i].nickname, i);
                }
            }
            
        
    <% } else { %>
    <% }%>
        
    }
    
    function checkFollowing(users, otherUser, j) {
        //console.log(otherUser);
        //console.log(i);
        var code = '';
        code += '<button onclick=followUser("'+otherUser+'",this) type="button" class="btn btn-xs btn-default flw_btn_size2"><i class="fa fa-plus-square"></i> Follow</button>';
        document.getElementById('fol_stat_'+j).innerHTML = code;
        for (var i = 0; i < users.length; i++) {
            if (users[i].userName === otherUser) {
                //console.log('fol_stat_'+i);
                code = '<button onclick=unfollowUser("'+otherUser+'",this) type="button" class="btn btn-xs btn-success flw_btn_size1"><i class="fa fa-check"></i> Following</button>';
                //code = 'fol_stat_'+i;
                document.getElementById('fol_stat_'+j).innerHTML = code;
                break;
            }
        }
    }

    function followUser(userID, objButton){
        console.log(userID);
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/addFollowing?userID="+userID, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                objButton.className="btn btn-xs btn-success flw_btn_size1";
                objButton.innerHTML='<i class="fa fa-check"></i> Following';
                objButton.onclick=function(){unfollowUser (userID, objButton);}
            }
        }
    }

    function unfollowUser(userID, objButton){
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("GET", "/removeFollowing?userID="+userID, true);
        xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xmlhttp.send(null);
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                objButton.className="btn btn-xs btn-default flw_btn_size2";
                objButton.innerHTML='<i class="fa fa-plus-square"></i> Follow';
                objButton.onclick=function(){followUser(userID, objButton);}
            }
        }
    }

    function escapeHtml(text) {
      return text
          .replace(/&/g, "&amp;")
          .replace(/</g, "&lt;")
          .replace(/>/g, "&gt;")
          .replace(/"/g, "&quot;")
          .replace(/'/g, "&#039;");
    }

    </script>
