<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Dipolium</title>

    <link rel="stylesheet" type="text/css" href="mcss/style.css" />
    <link type="text/css" rel="stylesheet" href="mcss/jquery.mmenu.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style type="text/css">
        html, body
        {
            padding: 0;
            margin: 0;
        }
        body
        {
            background-color: #fff;
            font-family: Arial, Helvetica, Verdana;
            font-size: 14px;
            line-height: 22px;
            color: #666;
            position: relative;
            -webkit-text-size-adjust: none;
        }
        body *
        {
            text-shadow: none;
        }
        nav:not(.mm-menu)
        {
            display: none;
        }
        .header
        {
            text-align: center;
        }
        .header
        {
            background: #777;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            line-height: 40px;
            -moz-box-sizing: border-box;
            box-sizing: border-box; 
            width: 100%;
            height: 40px;
            padding: 0 50px;
            position: fixed;
            top: 0;
            left: 0;
        }
        .header a
        {
            background: center center no-repeat transparent;
            background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );

            display: block;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            left: 10px;
        }
    </style>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="mjs/jquery.mmenu.min.js"></script>
    <script type="text/javascript" src="mjs/jquery.mmenu.fixedelements.min.js"></script>
    <script type="text/javascript">

        $(function() {
            var $menu = $('nav#menu'),
                $html = $('html, body');

            $menu.mmenu({
                dragOpen: true
            });

            var $anchor = false;
            $menu.find( 'li > a' ).on(
                'click',
                function( e )
                {
                    $anchor = $(this);
                }
            );

            var api = $menu.data( 'mmenu' );
            api.bind( 'closed',
                function()
                {
                    if ( $anchor )
                    {
                        var href = $anchor.attr( 'href' );
                        $anchor = false;

                        //  if the clicked link is linked to an anchor, scroll the page to that anchor 
                        if ( href.slice( 0, 1 ) == '#' )
                        {
                            $html.animate({
                                scrollTop: $( href ).offset().top
                            }); 
                        }
                    }
                }
            );
            
        });
    </script>       
</head>

<body>
    <div id="page">
        <div class="header Fixed">
            <a href="#menu"></a>
            <div id="logo_main">
            Dipolium
            <i id="search_ico" class="fa fa-search"></i>
            </div>
        </div>
        <%-body -%>
        <%-partial('../partials/left_block')%>
    </div>

    <script>
    	document.getElementById('search_ico').onclick = function() {
    		var code = '';
    		code += '<form action="/searchPage">' +
    				'<div class="mm-search" id="seee"><input name="searchText" placeholder="Search movie" type="text" autocomplete="off"></div>' +
    				'</form>';
    		document.getElementById('logo_main').innerHTML = code;
    	}
    </script>
</body>
</html>
