<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dipolium</title>
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/carousel1.css" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css"/>
    <link href="../css/social.css" rel="stylesheet">
    <!-- **********SCRIPTS************ -->
    <!-- jQuery -->
    <script src="../jquery/jquery-1.11.0.min.js"></script>
    <script src="../jquery/js/jquery-ui-1.10.4.custom.min.js"></script>
    <!-- Bootstrap -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Custom -->
    <script src="../js/main.js"></script>
</head>
<body>
<%-partial('../partials/topNavigation')%>
<div id="main">
    <header>
        <%-blocks.header%>
    </header>

    <h3><%=blocks.title%></h3>

    <%-body -%>

    <footer>
        <%-partial('../partials/footer')%>
    </footer>
</div>

</body>
</html>