<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dipolium</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/carousel1.css" rel="stylesheet">
    <!-- Custom -->
    <link rel="stylesheet" href="css/style.css"/>
    <!-- Font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <!-- jQuery -->
    <script src="jquery/jquery-1.11.0.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Custom -->
    <script src="js/main.js"></script>
</head>
<body>
<%-partial('../partials/topNavigation')%>
<div id="main">
    <%-body -%>
    <footer>
        <%-partial('../partials/footer')%>
    </footer>
</div>
</body>
</html>